<div class="modal-dialog" style='width: 60%; font-family: "Quicksand" !important'>

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Chấm bài</h4>
      <div id="noti-response"></div>
    </div>
    <div class="modal-body">
      <div class="fc-other">
        <div id='marking_question_content'>
          <div class="fco-ques">
            <div class="fcoq-tit">
              <label for="">NỘI DUNG BÀI TẬP:</label>
              <p><%= question.question ? question.question.html_safe : '' %></p>
            </div>
          </div>
          <div class="fco-answ">
            <div class="fcoa-tit">
              <label for="">Trả lời</label>
            </div>
            <div class="fcoa-con">
              <textarea rows="4" readonly placeholder="Nhập nội dung câu trả lời" id='text_answer'><%= answer.answer_content %></textarea>
              <span class="line-textarea line-textarea1"></span>
              <span class="line-textarea line-textarea2"></span>
              <span class="line-textarea line-textarea3"></span>
              <span class="line-textarea line-textarea4"></span>
              <input type="hidden" name="marking_text_answer" value="<%= answer.id %>">
            </div>
          </div>
        </div>
        <hr>
        <div class="fco-answ">
          <div class="fcoa-tit">
            <label for="">Nhận xét câu trả lời</label>
          </div>
          <% if answer_mark.blank? %>
          <div class="fcoa-con">
            <textarea rows="4" placeholder="Nhận xét về câu trả lời" id='teacher_marking_content'></textarea>
            <span class="line-textarea line-textarea1"></span>
            <span class="line-textarea line-textarea2"></span>
            <span class="line-textarea line-textarea3"></span>
            <span class="line-textarea line-textarea4"></span>
          </div>
          <div class="fcoa-tit">
            <label for="">Đánh giá câu trả lời</label>
          </div>
          <div class="fcoa-con">
            <label class="check-multi">Đạt
              <input type="radio" name="teacher_mark" value='true'>
              <span class="checkmark">A</span>
            </label>
            <label class="check-multi">Không đạt
              <input type="radio" name="teacher_mark" value='false'>
              <span class="checkmark">B</span>
            </label>
          </div>
          <% else %>
          <div class="fcoa-con">
            <textarea rows="4" placeholder="Nhận xét về câu trả lời" id='teacher_marking_content'><%= answer_mark.mark_content %></textarea>
            <span class="line-textarea line-textarea1"></span>
            <span class="line-textarea line-textarea2"></span>
            <span class="line-textarea line-textarea3"></span>
            <span class="line-textarea line-textarea4"></span>
          </div>
          <div class="fcoa-tit">
            <label for="">Đánh giá câu trả lời</label>
          </div>
          <div class="fcoa-con" id="checked_answer">
            <label class="check-multi">Đạt
              <input type="radio" name="teacher_mark" value='true'>
              <span class="checkmark">A</span>
            </label>
            <label class="check-multi">Không đạt
              <input type="radio" name="teacher_mark" value='false'>
              <span class="checkmark">B</span>
            </label>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div id='modal_user_answer_control'>
        <a id='prev-answer' href="" data-remote='true'>
          <%= image_tag('global/images/prev-question.png')%> Câu hỏi trước
        </a> |
        <a id='next-answer' href='' data-remote='true'>
          Câu hỏi sau <%= image_tag('global/images/next-question.png') %>
        </a>
      </div>
      <div>
        <% if answer_mark.blank? %>
        <button type="button" class="btn btn-primary" id='teacher_marking_confirm'>Chấm bài</button>
        <% else %>
        <button type='button' class='btn btn-primary' id='teacher_marking_confirm'>Cập nhật</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<style>
  #teacher_marking_confirm {
    float: right;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
  }

  #modal_user_answer_control {
    text-align: center;
  }

  #noti-response {
    position: fixed;
    z-index: 100;
    width: calc(100% - 30px);
  }

  .modal-dialog p {
    font-family: "Quicksand" !important;
  }

  .modal-dialog label {
    font-family: "Quicksand" !important;
  }

  .modal-dialog span {
    font-family: "Quicksand" !important;
  }
</style>

<script>
  function response_noti(error) {
    html = '<div class="alert alert-' + error.type + '"><a href="#" class="close" data-dismiss="alert">×</a><div id="flash_' + error.type + '">' + error.message + '</div></div>'
    $('#noti-response').html(html);
    setTimeout(function() {
      $('#noti-response').html('');
    }, 3000);
  }

  $('#teacher_marking_confirm').on('click', function() {
    user_answer_id = $('input[name="marking_text_answer"]').val();
    teacher_mark = $('input[name="teacher_mark"]:checked').val();
    teacher_mark_content = $('#teacher_marking_content').val();
    $.ajax({
      method: 'POST',
      url: '/learning/mark_answer',
      data: {
        user_answer_id: user_answer_id,
        teacher_mark: teacher_mark,
        teacher_mark_content: teacher_mark_content
      },
      success: function(res) {
        response_noti(res);
        if (res.type == 'success') {
          $('input[name="student_answer"][value="' + user_answer_id + '"]').parent().parent().hide();
        }
      }
    })
  })
</script>