<div class='filter_homework row'>
  <div class='col-md-4'>
    <label>Khoá học:</label>
  <select id="homework_course_selection">
    <% courses.each do |c| %>
      <option value="<%= c[0] %>"><%= c[1] %></option>
    <% end %>
  </select>
  </div>
  <div class='col-md-4'>
    <label>Lớp học:</label>
  <select id="homework_batch_selection">
    <% batches.each do |b| %>
      <option class="batch_filter" value="<%= b[0] %>" data-course="<%= b[1] %>"><%= b[2] %></option>
    <% end %>
  </select>
  </div>
  <div class='col-md-4'>
    <label>Level:</label>
  <select id="homework_subject_selection">
    <% info.each do |subject_info| %>
      <option class="subject_filter" data-batch="<%= subject_info[1][:batch_id] %>" data-course="<%= subject_info[1][:course_id] %>" value='<%= subject_info[0] %>'><%= subjects[subject_info[0]] %></option>
    <% end %>
  </select>
  </div>
</div>
<div>
  <table width="100%" id="adm_table_student_homework">
    <% sessions.each do |session| %>
      <% has_homework = has_homework? user, session %>
      <% lesson_name = session.op_lession ? session.op_lession.name : session.op_subject.name %>
      <tr data-course="<%= session.course_id %>" data-batch="<%= session.batch_id %>" data-subject="<%= session.subject_id %>" data-session='<%= session.id %>'>
        <td>
          <%= lesson_name %>
        </td>
        <% if has_homework %>
          <% homework_state = done_homework? user, session %> 
          <% if homework_state[:state] == 'done'%>
            <td align='right' style="font-size: 10px; color: black;"><%= homework_state[:last_done].strftime("%H:%M %d/%m/%Y") %></td>
            <td align="right">
              <a style='width: 100%' class="do_homework_state" >
                <span class="label-edit label label-success" style="padding:6px; font-size: 11px; text-transform: initial; line-height: 7px; font-weight: 500;"><%= t('homework.done') %> <%= homework_state[:progress] %></span>
              </a>
            </td>
          <% elsif homework_state == 'undone' %>
            <td></td>
            <td align="right">
              <a style='width: 100%' class="do_homework_state" ><span class="label-edit label label-danger" style="padding:6px; font-size: 11px; text-transform: initial; line-height: 7px; font-weight: 500;"><%= t('homework.undone') %><%= homework_state[:progress] %></span>
              </a>
            </td>
          <% else %>
            <td align='right' style="font-size: 10px; color: #000;" class="font-medium"><%= homework_state[:last_done].strftime("%H:%M %d/%m/%Y") if homework_state[:last_done].present? %></td>
            <td align="right">
              <a style='width: 100%' class="do_homework_state"><span class="label-edit label label-primary" style="padding:6px; font-size: 11px; text-transform: initial; line-height: 7px; font-weight: 500;"><%= t('homework.doing') %> <%= homework_state[:progress] %></span>
              </a>
            </td>
          <% end %>
        <% else %>
          <td></td>
          <td align='right'>
            <span class="label-edit label label-stop" style="padding:6px; font-size: 11px; text-transform: initial; line-height: 7px; font-weight: 500;">Chưa có bài tập</span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<script>
</script>
