<div class='claim-body'>
  <div>
    <div class='row  mg-bottom-20'>
      <div class='col-md-12 col-md-push-1 claim-part-title'>
        <h3>Thông tin học viên chuyển nhượng:</h3>
      </div>
    </div>
    <div class='input_field row form-group'>
      <div class='col-md-3 col-md-push-1 '>
        <label>Cơ sở hiện tại:</label>
      </div>
      <div class='col-md-7 col-md-push-1 form-group'>
        <input class='form-control noborder font-bold white-input' readonly name='active_session' value="<%= @company.name %>" >
      </div>
    </div>
    <div class='input_field row form-group'>
      <div class='col-md-3 col-md-push-1 '>
        <label>Khoá học:</label>
      </div>
      <div class='col-md-7 col-md-push-1 form-group'>
        <select id="select_course" name="course" class='select2 select2-index form-control white-input white-input'>
          <% @course.each do |k, v| %>
            <option value="<%= k %>"><%= v %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='input_field row form-group'>
      <div class='col-md-3 col-md-push-1 '>
        <label>Lớp học:</label>
      </div>
      <div class='col-md-7 col-md-push-1 form-group'>
        <select id="select_batch" name="batch" class='select2 select2-index form-control white-input white-input'>
          <% @data[@course.first[0]].each do |k, _| %>
            <option value="<%= k %>"><%= @batch[k] %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='input_field row form-group'>
      <div class='col-md-3 col-md-push-1 '>
        <label>Số buổi học đã hoàn thành:</label>
      </div>
      <div class='col-md-7 col-md-push-1 '>
        <input class='form-control noborder font-bold white-input' readonly name='done_session' value="<%= @data[@course.first[0]].first[1][:done_ss] %>" >
      </div>
    </div>
    <div class='input_field row form-group'>
      <div class='col-md-3 col-md-push-1 '>
        <label>Số buổi học còn lại:</label>
      </div>
      <div class='col-md-7 col-md-push-1 '>
        <input readonly class='form-control noborder font-bold white-input' name='coming_session' value=<%= @data[@course.first[0]].first[1][:incoming_ss] %> >
      </div>
    </div>
    <div class='input_field row form-group'>
      <div class='col-md-3 col-md-push-1 '>
        <label>Số buổi học sẽ chuyển nhượng:</label>
      </div>
      <div class='col-md-7 col-md-push-1 '>
        <input class='form-control white-input' name='count_transfer' type='number' data-min="1" data-max="<%= @data[@course.first[0]].first[1][:incoming_ss] %>">
      </div>
    </div>
  </div>
  <div>
    <div class='row mg-bottom-20'>
      <div class='col-md-12 col-md-push-1 claim-part-title'>
        <h3>Thông tin học sinh được chuyển nhượng: </h3>
      </div>
    </div>
    <div class='input_field row form-group'>
      <div class='col-md-3 col-md-push-1 '>
        <label>Cơ sở đề xuất chuyển tới<span style="color: red">*</span>:</label>
      </div>
      <div class='col-md-7 col-md-push-1 form-group'>
        <select id="select_company" name="company" class='select2 select2-index form-control white-input white-input'>
          <% @companies.each do |company| %>
            <option value="<%= company.id %>"><%= company.name %></option>
          <% end %>
        </select>
      </div>
    </div>
      <div class='input_field row form-group'>
        <div class='col-md-3 col-md-push-1 '>
          <label>Tên học viên<span style="color: red">*</span>:</label>
        </div>
        <div class='col-md-7 col-md-push-1 '>
          <input class='form-control white-input' name='transfer_student_name' type='text'>
        </div>
      </div>
  </div>
  <div>
    <div class='input_field row form-group'>
      <div class='col-md-3 col-md-push-1 reason-label'>
        <label>Lý do đề nghị chuyển nhượng<span style="color: red">*</span>:</label>
      </div>
      <div class='col-md-7 col-md-push-1 '>
        <textarea class='reason_reserve form-control white-input' name='reason' rows='5' value=''></textarea>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" role="dialog"id='modal_claim_content'>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Quy định về việc Chuyển lớp/Chuyển khóa học /Chuyển cơ sở</h5>
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <p>1. Mỗi một Học sinh chỉ được chuyển phí 01 (một) lần cho 01 (một) Học sinh khác.</p>
          <p>2. Phụ huynh/Học sinh chịu trách nhiệm tìm người nhận phí.</p>
          <p>3. Học phí chuyển nhượng được tính bằng tổng số buổi chưa học của Học sinh chuyển nhượng chuyển sang.</p>
          <p>4. Trường hợp Học sinh nhận chuyển nhượng phí mà số buổi nhận không đủ số buổi của 01 học phần (12 buổi), Học sinh nhận chuyển nhượng cần hoàn thành bổ sung học phí đủ số buổi học của Học phần theo bảng giá niêm yết của TEKY tại thời điểm nhận chuyển nhượng .</p>
          <p>5. Trong trường hợp, thời điểm ban đầu nhập học Học sinh A đóng học phí nhiều học phần (dài hạn) hoặc đăng ký nhiều khóa học. Trong quá trình học, Học sinh A có yêu cầu chuyển một phần học phí cho Học sinh khác (Học sinh B). Điều kiện bắt buộc: Học sinh A phải chuyển tròn đủ tối thiểu 01 học phần (12 buổi) cho Học Sinh B</p>
          <p>6. Học Sinh B nhận học phí từ Học sinh A, học phí sẽ tính theo chính sách giá ưu đãi tại thời điểm nhận học phí chuyển nhượng (không áp dụng cộng gộp Voucher giảm giá)</p>
          <p>7. Để thực hiện Chuyển nhượng học phí, Phụ huynh/Học sinh hoàn thiện mẫu “Đơn đề nghị Chuyển nhượng học phí” ​ trực tiếp tại Cơ sở TEKY hoặc trực tuyến theo yêu cầu</p>
          <p>8. Có áp dụng cho khách hàng đặt cọc</p>
        </div>
        <hr>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="agree-check">
          <label class="form-check-label font-bold" for="agree-check">Tôi hoàn toàn đồng ý với các quy định trên</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="submit"  data-disable-with='Đang xử lý...' id='submit-claim-form' disabled form='claim-form' disabled class="btn btn-primary">Gửi yêu cầu</button>
      </div>
    </div>
  </div>
</div>
