<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h2 class="color-fff text-transform"><%= t('notification.dashboard') %></h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <div class="tab-content p-0 tab-all-content m-t-20" id="notice_index">
        <% @notices.each_with_index do |notice, index| %>
          <div class="table-responsive bo-table panel" style="margin-top: 20px; padding-top: 20px !important; padding-bottom: 20px !important">
            <div class='broadcast_notice_content' >
              <div>
                <div class='row' style="display: flex; justify-content: center; align-items: center;">
                  <div class='icon' style="float: left; margin: auto; margin: 0px">
                    <%= image_tag('global-noti.png', style: 'width: 30px;') %>
                  </div>
                  <div class='col-md-9'>
                    <h3 class="public_notice_title"><%= notice.title %></h3>
                    <p><%= notice.user.username %> đăng lúc <%= notice.created_at.strftime('%H:%M - %d/%m/%y') %></p> 
                  </div>
                  <div class='col-md-2'>
                    <span data-toggle="collapse" data-parent="#notice_index" class="toggle_notice_collapse"  data-target="#notice_content_<%= index.to_s %>" >
                    <a href="/notification/broadcast/read_notice?notice_id=<%= notice.id %>" data-remote='true'style='float: right; cursor: pointer' ><%= t('button.see_more') %></a>
                    </span>
                  </div>
                  <% if read_notice? current_user, notice %>
                    <%= image_tag('unread_notice.png', class: 'notice_state') %>
                  <% else %>
                    <%= image_tag('read_notice.png', class: 'notice_state') %>
                  <% end %>
                </div>
                <div id="notice_content_<%= index.to_s %>" class="collapse notice_collapse">
                  <hr>
                  <div><%= notice.content.html_safe %></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
