<div class="row clearfix">
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3><%= status_report[RedeemConstants::TransactionState::REDEEM_TRANSACTION_STATE_NEW] %></h3>

        <p><%= t('adm.redeem.transaction_new_lbl') %></p>
      </div>
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <a href="<%= adm_redeem_redeem_transactions_path(:status => RedeemConstants::TransactionState::REDEEM_TRANSACTION_STATE_NEW) %>" class="small-box-footer">
        <%= t('button.see_all') %> <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3><%= status_report[RedeemConstants::TransactionState::REDEEM_TRANSACTION_STATE_READY] %></h3>

        <p><%= t('adm.redeem.transaction_ready_lbl') %></p>
      </div>
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <a href="<%= adm_redeem_redeem_transactions_path(:status => RedeemConstants::TransactionState::REDEEM_TRANSACTION_STATE_READY) %>" class="small-box-footer">
        <%= t('button.see_all') %> <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-danger">
      <div class="inner">
        <h3><%= status_report[RedeemConstants::TransactionState::REDEEM_TRANSACTION_STATE_CANCEL] %></h3>

        <p><%= t('adm.redeem.transaction_cancel_lbl') %></p>
      </div>
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <a href="<%= adm_redeem_redeem_transactions_path(:status => RedeemConstants::TransactionState::REDEEM_TRANSACTION_STATE_CANCEL) %>" class="small-box-footer">
        <%= t('button.see_all') %> <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-6">
    <!-- small card -->
    <div class="small-box bg-secondary">
      <div class="inner">
        <h3><%= status_report[RedeemConstants::TransactionState::REDEEM_TRANSACTION_STATE_DONE] %></h3>

        <p><%= t('adm.redeem.transaction_done_lbl') %></p>
      </div>
      <div class="icon">
        <i class="fas fa-shopping-cart"></i>
      </div>
      <a href="<%= adm_redeem_redeem_transactions_path(:status => RedeemConstants::TransactionState::REDEEM_TRANSACTION_STATE_DONE) %>" class="small-box-footer">
        <%= t('button.see_all') %> <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>
</div>
