<% transaction_decorated = Redeem::TransactionDecorator.new(transaction) %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= "#{t('adm.redeem.transactions')} #{transaction.id}" %></h3>
  </div>
  <div class="card-body p-10">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.transaction_student') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= transaction.user&.full_name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.products') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= transaction.redeem_product&.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.product_colors') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= transaction.redeem_product_color&.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.product_sizes') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= transaction.redeem_product_size&.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.transaction_order_date') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= transaction_decorated.order_date_frm %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.transaction_status') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <%= render :partial => 'status', :locals => {transaction: transaction, transaction_lbl: transaction_decorated.status_label} %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.transaction_amount') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= transaction_decorated.amount_frm %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.transaction_totalpaid') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= transaction_decorated.total_paid_frm %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.transaction_note') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= transaction.admin_note&.html_safe %></p>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <label><%= t('adm.redeem.product_items') %></label>
      <table class="table table-condensed">
        <thead>
          <th>#</th>
          <th><%= t('adm.redeem.item_code') %></th>
          <th><%= t('adm.redeem.item_state') %></th>
          <th><%= t('adm.redeem.item_color') %></th>
          <th><%= t('adm.redeem.item_size') %></th>
        </thead>
        <tbody>
          <% transaction.redeem_product_items.each do |item| %>
            <tr>
              <th><%= item.id %></th>
              <td><%= item.item_code %></td>
              <td><%= render :partial => 'adm/redeem/redeem_product_items/item_state', :locals => {item: item} %></td>
              <td><%= item.redeem_product_color&.name %></td>
              <td><%= item.redeem_product_size&.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "<i class='fas fa-angle-double-left'></i>&nbsp;#{t('button.see_all')}".html_safe, adm_redeem_redeem_transactions_path, class: 'btn btn-secondary' %>
  </div>
</div>
