<div class="card">
  <div class="card-header">
    <h3><%= "Transaction #{transaction.id}" %></h3>
  </div>
  <div class="card-body p-10">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>Student</h4> 
      </div>
      <div class="col-md-8 col-sm-12">
        <p><%= transaction.user&.full_name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>Product</h4> 
      </div>
      <div class="col-md-8 col-sm-12">
        <p><%= transaction.redeem_product&.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>Color</h4> 
      </div>
      <div class="col-md-8 col-sm-12">
        <p><%= transaction.redeem_product_color&.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>Size</h4> 
      </div>
      <div class="col-md-8 col-sm-12">
        <p><%= transaction.redeem_product_size&.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>Ordered date</h4> 
      </div>
      <div class="col-md-8 col-sm-12">
        <p><%= transaction.created_at %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>Status</h4> 
      </div>
      <div class="col-md-8 col-sm-12">
        <p><%= transaction.status %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>Amount</h4> 
      </div>
      <div class="col-md-8 col-sm-12">
        <p><%= transaction.amount %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>Total Paid</h4> 
      </div>
      <div class="col-md-8 col-sm-12">
        <p><%= transaction.total_paid %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h4>Admin Note</h4> 
      </div>
      <div class="col-md-8 col-sm-12">
        <p><%= transaction.admin_note&.html_safe %></p>
      </div>
    </div>
    <hr>
    <div class="table-responsive">
      <h4>List of item</h4>
      <table class="table table-condensed">
        <thead>
          <th>ID</th>
          <th>Item code</th>
          <th>State</th>
          <th>Color</th>
          <th>Size</th>
        </thead>
        <tbody>
          <% transaction.redeem_product_items.each do |item| %>
            <tr>
              <th><%= item.id %></th>
              <td><%= item.item_code %></td>
              <td><%= item.state %></td>
              <td><%= item.redeem_product_color&.name %></td>
              <td><%= item.redeem_product_size&.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
