<% content_for :javascript_includes do %>
  <%= javascript_include_tag('adm/redeem/redeem_transactions') %>
<% end %>
<%= tinymce_assets %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t('adm.redeem.transactions') %></h3>
    <div class="card-tools">
      <%= paginate @transactions %>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table table-responsive">
      <table class="table table-condensed table-hover">
        <thead>
          <th>#</th>
          <th><%= t('adm.redeem.transaction_student') %></th>
          <th><%= t('adm.redeem.products') %></th>
          <th><%= t('adm.redeem.product_colors') %></th>
          <th><%= t('adm.redeem.product_sizes') %></th>
          <th><%= t('adm.redeem.transaction_amount') %></th>
          <th><%= t('adm.redeem.transaction_totalpaid') %></th>
          <th><%= t('adm.redeem.transaction_status') %></th>
          <th><%= t('adm.redeem.transaction_note') %></th>
          <th><%= t('adm.redeem.transaction_order_date') %></th>
        </thead>
        <tbody>
          <% @transactions.each do |transaction| %>
            <% transaction_decorated = Redeem::TransactionDecorator.new(transaction) %>
            <tr id="transaction-row-<%=transaction.id%>">
              <th><%= transaction.id %></th>
              <td><%= transaction.user&.full_name %></td>
              <td><%= transaction.redeem_product&.name %></td>
              <td><%= transaction.redeem_product_color&.name %></td>
              <td><%= transaction.redeem_product_size&.name %></td>
              <td><%= transaction_decorated.amount_frm %></td>
              <td><%= transaction_decorated.total_paid_frm %></td>
              <td class="transaction-status"><%= transaction.status %></td>
              <td class="transaction-note"><%= transaction.admin_note&.html_safe %></td>
              <td><%= transaction_decorated.order_date_frm %></td>
              <td class="transaction-actions">
                <%= render :partial => "actions", :locals => {transaction: transaction} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer clearfix">
    <div class="m-0 float-right">
      <%= paginate @transactions %>
    </div>
  </div>
</div>

<!-- cancel transaction confirm modal -->
<div id="cancelTransactionModal" class="modal" tabindex="-1" role="dialog" data-transaction-id="">
  <%= render 'cancel_transaction' %>
</div>

<!-- approve transaction confirm modal -->
<div id="approveTransactionModal" class="modal" tabindex="-1" role="dialog" data-transaction-id="">
  <%= render 'approve_transaction' %>
</div>

<!-- complete transaction confirm modal -->
<div id="completeTransactionModal" class="modal" tabindex="-1" role="dialog" data-transaction-id="">
  <%= render 'complete_transaction' %>
</div>
<%= tinymce :simple %>
