<div class="card">
  <%= form_with(url: adm_redeem_redeem_product_items_path, local: true) do |form| %>
    <div class="card-body">
      <div class="form-group row">
        <label for="product" class="col-sm-2 col-form-label"><%= t('adm.redeem.products') %></label>
        <div class="col-sm-10">
          <%= form.collection_select(:product_id, Redeem::RedeemProduct.order(:created_at => :ASC).all, :id, :name) %>
        </div>
      </div>
      <div class="form-group row">
        <label for="size" class="col-sm-2 col-form-label"><%= t('adm.redeem.item_size') %></label>
        <div class="col-sm-10">
          <%= form.collection_select(:size_id, Redeem::RedeemProductSize.order(:created_at => :ASC).all, :id, :name) %>
        </div>
      </div>
      <div class="form-group row">
        <label for="color" class="col-sm-2 col-form-label"><%= t('adm.redeem.item_color') %></label>
        <div class="col-sm-10">
          <%= form.collection_select(:color_id, Redeem::RedeemProductColor.order(:created_at => :ASC).all, :id, :name) %>
        </div>
      </div>
      <div class="form-group row">
        <label for="amout" class="col-sm-2 col-form-label"><%= t('adm.redeem.item_amount') %></label>
        <div class="col-sm-10">
          <%= form.number_field :amount, required: true, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= form.button "<i class='fas fa-save'></i>&nbsp;Create".html_safe, class: "btn btn-sm btn-primary" %>

      <%= link_to "<i class='fas fa-angle-double-left'></i>&nbsp; Back".html_safe, adm_redeem_redeem_product_items_path, class: 'btn btn-sm btn-secondary' %>
    </div>
  <% end %>
</div>
