<table class="table table-hover list-lesson">
  <thead>
  <tr>
    <th style="width: 40%" class="text-info"><%= t('adm.course.Lesson')%></th>
    <th  class="text-info"><%= t('adm.Note')%></th>
    <th class="text-center text-info" style="width:15%"><%= t('button.update')%></th>
    <th style="width:50px" class="text-center"><%= t('admin.actions.title')%></th>
  </tr>
  </thead>
  <tbody>
  <% @lessions.each_with_index  do |lesson, index| %>  
  <tr>
    <td>      
      <% if !lesson.thumbnail.nil? && lesson.thumbnail.attached? %>
        <%= image_tag url_for(lesson.thumbnail),  class: 'admin-lesson-img-thumbnail'%>
      <% else%>
        <div class="admin-lesson-img-no-thumbnail bg-cfcfcf">No image</div>
      <% end%>
      <div style="margin-left: 50px;">
        <a href="#"><%= lesson[:name]%></a>            
        <div class="small"><label><%= t('adm.Code')%></label>: <%= lesson[:code]%></div>
        <div class="small"><label><%= t('adm.Homework')%></label>: <%= count_question(lesson.id).to_s%></div>
        <div class="small"><label><%= t('adm.Video')%></label>: <i class="fas fa-file-video-o"></i><%= count_videos(lesson.id).to_s%></div>
        <div class="small"><label><%= t('adm.Slide')%></label>: <%= count_slides(lesson.id).to_s%></div>
      </div>
    </td>
    <td class="text-justify"><%= lesson[:note].to_s%></td>
    <td class="text-center">
      <div class="small"><%= lesson[:write_date].strftime('%d-%m-%Y %H:%M:%S').to_s%></div>
    </td>
    <td class="text-center">
      <div class="btn-group align-items-sm-center">
        <a href="<%= adm_learning_course_lesson_show_path(lesson[:id])%>" class="btn btn-default btn-xs"><i class="fa fa-eye font-weight-normal"></i></a>
        <a href="<%= adm_learning_course_lesson_edit_path(lesson[:id])%>" class="btn btn-default btn-xs"><i class="fa fa-edit font-weight-normal"></i></a>
      </div>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
