<% @list_course.each_with_index  do |ct, index| %>
<tr>
  <td class="text-center"><%= (index + 1)%></td>
  <td>
    <%= link_to(ct[:name], adm_learning_course_show_path(ct[:id]))%>
    <ul class="course-option">
        <li>
          <% if !ct.thumbnail.nil? && ct.thumbnail.attached? %>
            <%= image_tag url_for(ct.thumbnail),  class: 'admin-subject-img-thumbnail'%>
          <% else%>
            <div class="admin-subject-img-no-thumbnail bg-cfcfcf">No image</div>
          <% end%>
        </li>
        <li class="cource-info-content">
          <div class="small"><label><%= t('adm.code')%></label>: <%= ct[:code]%></div>
          <div class="small"><label><%= t('adm.Section')%></label>: <%= ct[:section]%></div>
          <div class="small"><label><%= t('adm.course.number_subjects')%></label>: <%= ct[:number_subject]%></div>
        </li>
        <li class="cource-info-content">
          <div class="small"><label><%= t('adm.course.Ages')%></label>: <%= ct[:suitable_age]%></div>
          <div class="small"><label><%= t('adm.course.Duration')%></label>: <%= ct[:duration]%></div>
          <div class="small"><label><%= t('adm.course.Tools')%></label>: <%= ct[:equipments]%></div>
          <div class="small"><label><%= t('adm.course.Conditions learning')%></label>: <%= ct[:prerequisites]%></div>
        </li>
    </ul>
  </td>
  <td class="text-center">
    <%= get_html_status(ct[:active]).html_safe%>
  </td>
  <td class="text-center">                      
    <div class="small"><%= ct[:write_date].strftime('%d-%m-%Y %H:%M:%S').to_s%></div>
  </td>
  <td class="text-center">
    <div class="btn-group align-items-sm-center">
      <a href="<%= adm_learning_course_show_path(ct[:id])%>" class="btn btn-default btn-xs"><i class="fa fa-eye font-weight-normal"></i></a>
      <a href="<%= adm_learning_course_edit_path(ct[:id])%>"  class="btn btn-default btn-xs"><i class="fa fa-edit font-weight-normal"></i></a>
    </div>                      
  </td>
</tr>
<% end %>