<form id="frm_subject" class="form-horizontal" method="post" action="<%= adm_learning_course_subject_upload_path%>" enctype="multipart/form-data">
<input type="hidden" name="frm_subject[subject_id]" id="frm_subject_id">
<input type="hidden" name="frm_subject[course_id]" value="<%= @course.id%>">
<div class="modal fade" id="remoteModalPhoto" role="dialog" aria-labelledby="remoteModalPhotoLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">        
          <div class="form-group row">
            <label class="col-sm-12 col-form-label text-primary text-center">
              <%= t('adm.course.Additional data representations for the Subject and Lessons')%>
            </label>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><%= t('adm.course.Photo of Subject')%></label>
            <div class="col-sm-10">
              <input accept="image/jpeg,image/jpg,image/png" data-fileupload="true" type="file" name="frm_subject[thumbnail]" id="frm_image_thumbnail">
              <div style="color:#dc3545;"><%= t('adm.course.Please enter the subject image size')%></div>              
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><%= t('adm.course.Photo of Lesson')%></label>
            <div class="col-sm-10">
              <input accept="image/jpeg,image/jpg,image/png" data-fileupload="true" type="file" name="frm_subject[lesson_thumbnail][]" multiple>           
              <div style="color:#dc3545;"><%= t('adm.course.Subject image note')%></div>              
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><%= t('adm.course.Photo Of Lesson Video')%></label>
            <div class="col-sm-10">
              <input accept="image/jpeg,image/jpg,image/png" data-fileupload="true" type="file" name="frm_subject[lesson_video_thumbnail][]" multiple>
              <div style="color:#dc3545;"><%= t('adm.course.Photo_Lesson_Video_Note')%></div>              
            </div>
          </div>
      </div>
      <div class="modal-footer" style="display: inline-block;">
        <span style="float: left;" id="upload-progress">
              <i class="fa fa-spinner fa-2x fa-spin text-primary" style="padding: 3px;"></i> <span class="text-warning"><%= t("adm.learning.The_system_is_processing_the_data")%></span>
        </span>
        <div class="btn-group" role="group" style="float: right;">
          <button type="submit" class="btn btn-primary btn-sm" id="btn-upload"><i class="fas fa-upload"></i> <%= t('button.Upload')%></button>&nbsp&nbsp
          <button type="button" class="btn btn-default btn-sm btn-close" data-dismiss="modal">
            <i class="fas fa-ban"></i> <%= t('button.Close')%>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
<style type="text/css">
  #upload-progress {display: none;}
</style>
<script>
$(document).ready(function() {
    
  $('#btn-upload').on("click",function(e) {    
    //$(this).attr("disabled", true);
    $(".btn-close").attr("disabled",true);
    $(".close").attr("disabled",true);    
    $('#upload-progress').show();
  });
} );
</script>