<% @subjects.each_with_index  do |subject, index| %>
<div class="card collapsed-card">
  <div class="card-header admin-subject-header-title">
    <% if subject.thumbnail.attached? %>
      <%= image_tag subject.thumbnail ,  class: 'admin-subject-img-thumbnail'%>
    <% else%>
      <div class="admin-subject-img-thumbnail bg-cfcfcf">No image</div>
    <% end%>

    <h3 class="card-title" title="<%= subject[:name]%>"><%= subject[:name].to_s.truncate(150)%></h3>
    <div class="card-tools">
      <button type="button" data-id="<%= subject[:id]%>" data-status="false" class="btn btn-tool btn-subject-click" data-card-widget="collapse"><i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive" id="table-subject-<%= subject[:id]%>">
      
    </div>
  </div>
</div>
<% end %>