<% @subjects.each_with_index  do |subject, index| %>
<div class="card collapsed-card">
  <div class="card-header admin-subject-header-title">
    <% if subject.thumbnail.attached? %>
      <%= image_tag subject.thumbnail ,  class: 'admin-subject-img-thumbnail'%>
    <% else%>
      <div class="admin-subject-img-no-thumbnail bg-cfcfcf">No image</div>
    <% end%>
    <h3 class="card-title" title="<%= subject[:name]%>"><%= subject[:name].to_s.truncate(150)%></h3>
    <div class="card-tools">

      <button
        type="button"
        class="btn btn-info btn-xs btn-xs btn-subject-upload"
        data-backdrop="static"
        data-toggle="modal"
        data-remote="true"
        data-id="<%= subject[:id]%>"
        data-title="<%= subject[:name].to_s%>"
        data-target="#remoteModalPhoto"><i class="fas fa-photo-video"></i> <%= t('button.Upload photo')%></button>
      <button type="button" data-toggle="tooltip" title="<%= t('adm.learning.Click here to see the lesson')%>" data-id="<%= subject[:id]%>" data-item-collapse="0" class="btn btn-tool btn-default btn-xs btn-subject-click" data-card-widget="collapse"><i class="fas fa-plus"></i> Xem bài học
      </button>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive" id="table-subject-<%= subject[:id]%>">
      
    </div>
  </div>
</div>
<% end %>