<%= tinymce_assets %>
<%= javascript_include_tag 'tinymce/langs/vi_VN.js' %>
<form id="frm_course" class="form-horizontal" method="post" action="<%= adm_learning_course_update_path%>" enctype="multipart/form-data">
<input type="hidden" name="frm_course[course_id]" value="<%= @course.id%>">
<div class="card">
  <div class="card-footer">
    <h3 class="card-title"><label><%= t('adm.course.Edit course')%>:</label> <%= @course.name%></h3>
    <%= render "adm/learning/course/list_course_button_form"%>        
  </div>
  <div class="card-header p-0 pt-1 border-bottom-0">
    <ul class="nav nav-tabs pull-right" id="custom-tabs-three-tab" role="tablist">          
      <li class="nav-item header">
        <a class="nav-link active" id="tab-course-description-tab" data-toggle="pill" href="#tab-course-description" role="tab" aria-controls="tab-course-description" aria-selected="true"><%= t('adm.course.name')%>: <%= @course.name%></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-course-study-program-tab" data-toggle="pill" href="#tab-course-study-program" role="tab" aria-controls="tab-course-study-program" aria-selected="false"><%= t('adm.course.Study program')%></a>
      </li>          
    </ul>
  </div>
  
  <div class="card-body">
    <div class="tab-content" id="custom-tabs-three-tabContent">
        <div class="tab-pane fade show active" id="tab-course-description" role="tabpanel" aria-labelledby="tab-course-description">
          <div class="row">
            <div class="col-md-6">
              
              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%= t('adm.course.course_name')%></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" value="<%= @course.name%>" disabled>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%= t('adm.course.course_code')%></label>
                <div class="col-sm-9"><input type="text" class="form-control" value="<%= @course.code%>" disabled></div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%= t('adm.course.Section')%></label>
                <div class="col-sm-9"><input type="text" class="form-control" value="<%= @course.section%>" disabled></div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label"><%= t('adm.course.number_subjects')%></label>
                <div class="col-sm-9">
                  <input type="text" class="form-control text-danger text-bold" value="<%= @subjects.length%>" disabled>
                </div>
              </div>
            </div>

            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"><%= t('adm.course.Ages')%></label>
                  <% if @valid_messages.nil? || (!@valid_messages.nil? && !@valid_messages[:suitable_age].nil?)%>
                  <div class="col-sm-9">
                    <input
                    type="text" required
                    maxlength="50"
                    placeholder="<%= t('adm.course.Example Suitable age')%>"
                    class="form-control"
                    id="frm_course_suitable_age"
                    name="frm_course[suitable_age]"
                    value="<%= @frm_course[:suitable_age]%>"/>
                  </div>
                  <% else%>
                  <div class="col-sm-9 error">
                    <input
                      type="text" required
                      maxlength="50"
                      placeholder="<%= t('adm.course.Example Suitable age')%>"
                      class="form-control is-invalid"
                      id="frm_course_suitable_age"
                      name="frm_course[suitable_age]"
                      value="<%= @frm_course[:suitable_age]%>"
                      aria-describedby="frm_course_suitable_age-error"
                      aria-invalid="true"/>
                      <span id="frm_course_suitable_age-error" class="error invalid-feedback">
                        <%= @valid_messages[:suitable_age][0]%>
                      </span>
                  </div>
                  <% end%>                  
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"><%= t('adm.course.Duration')%></label>
                  <% if @valid_messages.nil? || (!@valid_messages.nil? && !@valid_messages[:duration].nil?)%>
                  <div class="col-sm-9">
                    <input
                    type="text" required
                    maxlength="50"
                    placeholder="<%= t('adm.course.Example duration')%>"
                    class="form-control"
                    id="frm_course_duration"
                    name="frm_course[duration]"
                    value="<%= @frm_course[:duration]%>"/>
                  </div>
                  <% else%>
                  <div class="col-sm-9 error">
                    <input
                      type="text" required
                      maxlength="50"
                      placeholder="<%= t('adm.course.Example duration')%>"
                      class="form-control is-invalid"
                      id="frm_course_duration"
                      name="frm_course[duration]"
                      value="<%= @frm_course[:duration]%>"
                      aria-describedby="frm_course_duration-error"
                      aria-invalid="true"/>
                      <span id="frm_course_duration-error" class="error invalid-feedback">
                        <%= @valid_messages[:duration][0]%>
                      </span>
                  </div>
                  <% end%>
                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"><%= t('adm.course.Tools')%></label>
                  <% if @valid_messages.nil? || (!@valid_messages.nil? && !@valid_messages[:equipments].nil?)%>
                  <div class="col-sm-9">
                    <input
                    type="text" required
                    maxlength="50"
                    placeholder="<%= t('adm.course.Example equipments')%>"
                    class="form-control"
                    id="frm_course_equipments"
                    name="frm_course[equipments]"
                    value="<%= @frm_course[:equipments]%>"/>
                  </div>
                  <% else%>
                  <div class="col-sm-9 error">
                    <input
                      type="text" required
                      maxlength="50"
                      placeholder="<%= t('adm.course.Example equipments')%>"
                      class="form-control is-invalid"
                      id="frm_course_equipments"
                      name="frm_course[equipments]"
                      value="<%= @frm_course[:equipments]%>"
                      aria-describedby="frm_course_equipments-error"
                      aria-invalid="true"/>
                      <span id="frm_course_equipments-error" class="error invalid-feedback">
                        <%= @valid_messages[:equipments][0]%>
                      </span>
                  </div>
                  <% end%>

                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"><%= t('adm.course.Conditions learning')%></label>
                  <% if @valid_messages.nil? || (!@valid_messages.nil? && !@valid_messages[:prerequisites].nil?)%>
                  <div class="col-sm-9">
                    <input
                    type="text" required
                    maxlength="50"
                    placeholder="<%= t('adm.course.Example prerequisites')%>"
                    class="form-control"
                    id="frm_course_prerequisites"
                    name="frm_course[prerequisites]"
                    value="<%= @frm_course[:prerequisites]%>"/>
                  </div>
                  <% else%>
                  <div class="col-sm-9 error">
                    <input
                      type="text" required
                      maxlength="50"
                      placeholder="<%= t('adm.course.Example prerequisites')%>"
                      class="form-control is-invalid"
                      id="frm_course_prerequisites"
                      name="frm_course[prerequisites]"
                      value="<%= @frm_course[:prerequisites]%>"
                      aria-describedby="frm_course_prerequisites-error"
                      aria-invalid="true"/>
                      <span id="frm_course_prerequisites-error" class="error invalid-feedback">
                        <%= @valid_messages[:prerequisites][0]%>
                      </span>
                  </div>
                  <% end%>

                </div>

                <div class="form-group row">
                  <label class="col-sm-3 col-form-label"><%= t('adm.course.Photo of course')%></label>
                  <div class="col-sm-9">
                    <input accept="image/jpeg,image/jpg,image/png" data-fileupload="true" type="file" name="frm_course[thumbnail]" id="frm_image_thumbnail" />
                    
                    <div style="color:#dc3545;"><%= t('adm.course.Please enter the image size')%></div>
                    <div id="img_contain_preview">
                      <% if @course.thumbnail.attached? %>
                      <img id="blah" align="middle"  src="<%= url_for @course.thumbnail%>" alt="" style="width: 200px; max-height: 249px;"/>
                      <% else %>
                      <img id="blah" align="middle"  src="/global/images/course_thumb_preview.png" alt="" style="width: 200px; max-height: 249px;"/>
                      <% end%>
                    </div>
                  </div>
                </div>
            </div>

            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-3 control-label"><%= t('adm.course.Short description')%><span class="error invalid-feedback">*</span></label>                
                <% if @valid_messages.nil? || (!@valid_messages.nil? && @valid_messages[:short_description].nil?)%>
                <div class="col-sm-12">
                <textarea required 
                  class="form-control" 
                  placeholder="<%= t('adm.course.placeholder_short_description')%>" 
                  maxlength="255"
                  rows="2"
                  id="frm_course_short_description"
                  name="frm_course[short_description]"><%= @frm_course[:short_description]%></textarea>
                </div>
                <% else%>
                <div class="col-sm-12 error">
                  <textarea required
                    class="form-control is-invalid" 
                    maxlength="255"
                    rows="2"
                    id="frm_course_short_description"
                    name="frm_course[short_description]"
                    aria-describedby="frm_course_short_description-error"
                    aria-invalid="true"><%= @frm_course[:short_description]%></textarea>
                  <span id="frm_course_short_description-error" class="error invalid-feedback">
                    <%= @valid_messages[:short_description][0]%>
                  </span>
                </div>
                <% end%>                
              </div>
            </div>

          </div>

          <div class="row">
            <div class="form-group">
              <label class="col-sm-3 control-label"><%= t('adm.course.course_description')%>:</label>
              <% if @valid_messages.nil? || (!@valid_messages.nil? && !@valid_messages[:description].nil?)%>
                <div class="col-sm-12">
                <%= text_area_tag :'frm_course[description]', @frm_course[:description], :id => 'frm_course_description' , :class => "tinymce"%>
                </div>
              <% else%>
                <div class="col-sm-12 error">
                  <%= text_area_tag :'frm_course[description]', @frm_course[:description], :id => 'frm_course_description' , :class => "tinymce", 'aria-describedby' => "frm_course_description-error", "aria-invalid" => true %>
                  <span id="frm_course_description-error" class="error invalid-feedback">
                  <%= @valid_messages[:description][0]%>
                  </span>
                </div>
              <% end%>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <label class="col-sm-3 control-label"><%= t('adm.course.What do students learn?')%>:</label>
              <% if @valid_messages.nil? || (!@valid_messages.nil? && !@valid_messages[:competences].nil?)%>
                <div class="col-sm-12">
                <%= text_area_tag :'frm_course[competences]', @frm_course[:competences], :id => 'frm_course_competences' , :class => "tinymce"%>
                </div>
              <% else%>
                <div class="col-sm-12 error">
                  <%= text_area_tag :'frm_course[competences]', @frm_course[:competences], :id => 'frm_course_competences' , :class => "tinymce", 'aria-describedby' => "frm_course_prerequisites-error", "aria-invalid" => true %>
                  <span id="frm_course_competences-error" class="error invalid-feedback">
                  <%= @valid_messages[:competences][0]%>
                  </span>
                </div>
              <% end%>
            </div>
          </div>

        </div>
        <div class="tab-pane fade show" id="tab-course-study-program" role="tabpanel" aria-labelledby="tab-course-study-program">
        <%= render "adm/learning/course/tab_course_study_program"%>
        </div>
      </div>
  </div>
  <div class="card-footer">
    <%= render "adm/learning/course/list_course_button_form"%>      
  </div>
</div>
</form>

<div id="remoteModalUpload" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body dynamic-content">
        <div class="row">
          <i class="fa fa-spinner fa-2x fa-spin text-primary" style="padding: 3px;"></i>Loading...
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<%= render "adm/learning/course/subject_upload"%>

<style type="text/css">
  textarea {resize: none;}
</style>
<%= tinymce :fulleditor %>
<script type="text/javascript">
  
  var _validFileExtensions = [".jpg", ".jpeg",".png"];

  function hasExtension(inputID, exts) {
    var fileName = document.getElementById(inputID).value;
    return (new RegExp('(' + exts.join('|').replace(/\./g, '\\.') + ')$')).test(fileName);
  }   
  
  // Check extension image
  function validateExtensionImage(oForm) {
      var arrInputs = oForm.getElementsByTagName("input");
      for (var i = 0; i < arrInputs.length; i++) {
          var oInput = arrInputs[i];
          if (oInput.type == "file") {
              var sFileName = oInput.value;
              if (sFileName.length > 0) {
                  var blnValid = false;
                  for (var j = 0; j < _validFileExtensions.length; j++) {
                      var sCurExtension = _validFileExtensions[j];
                      if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                          blnValid = true;
                          break;
                      }
                  }                  
                  if (!blnValid) {
                    alert("Error, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    oInput.value = "";
                    return false;
                }
              }
          }
      }
    
      return true;
  }

  $('.btn-subject-click').on("click",function(e) {

    var subject_id = $(this).data("id");

    if (subject_id && ($(this).data("item-collapse") == 0)) {
      $('#table-subject-' + subject_id).html(null);
      $.ajax({
        type: "GET",
        url: '<%= adm_learning_get_lesson_by_session_path%>',
        async: false,
        data: {subject_id: $(this).data("id")},
        success:function(data){
          $(this).data("item-collapse",1);
          $('#table-subject-' + subject_id).html(data);
        }
      });
    } else {
      $('#table-subject-' + subject_id).html(null);
    }
  });

  $("#frm_image_thumbnail").change(function(event) {  
    /*
    if (!hasExtension('frm_image_thumbnail', _validFileExtensions)) {
      return false;
    }
    */
    readURL(this);
  });
  
  function readURL(input) {    
    
    if (!hasExtension('frm_image_thumbnail', _validFileExtensions)) {
      $("#frm_image_thumbnail").val(null);
      return false;
    }

    if (input.files && input.files[0]) {   
      var reader = new FileReader();
      var filename = $("#frm_image_thumbnail").val();
      filename = filename.substring(filename.lastIndexOf('\\')+1);
      reader.onload = function(e) {
        $('#blah').attr('src', e.target.result);
        $('#blah').hide();
        $('#blah').fadeIn(500);            
      }
      reader.readAsDataURL(input.files[0]);    
    }
  }

$(document).ready(function () {

  $('#frm_course').validate({
    lang: 'vi',
    rules: {
      "frm_course[suitable_age]": {
        required: true
      }      
    },
    messages: {
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group div').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });

  $("#remoteModalPhoto").on("hidden.bs.modal", function() {
    $(this).removeData('bs.modal');
    $("#remoteModalPhoto .modal-title").html('&nbsp;');
    //$("#remoteModalPhoto .modal-body").html('<div class="row"><i class="fa fa-spinner fa-2x fa-spin text-primary" style="padding:3px;"></i>Loading...</div>');
  });

  $('#remoteModalPhoto').on('show.bs.modal', function (e) {
    //var loadurl = $(e.relatedTarget).data('load-url');
    //$(this).find('.modal-body').load(loadurl);
  });

  $('.btn-subject-upload').on("click",function(e) {
    $('#frm_subject_id').val($(this).data("id"));
    $("#remoteModalPhoto .modal-title").html('<%= t('learning.subject')%>: ' + $(this).data("title"));    
  });

});
</script>