<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
          <h3 class="card-title"><label><%= t('adm.course.course_detail')%>:</label> <%= @course.name%></h3>
          <%= render "adm/learning/course/list_course_button_sreen_show"%>
      </div>
      <div class="card-header p-0 pt-1 border-bottom-0">
        <ul class="nav nav-tabs pull-right" id="custom-tabs-three-tab" role="tablist">          
          <li class="nav-item header">
            <a class="nav-link active" id="tab-course-description-tab" data-toggle="pill" href="#tab-course-description" role="tab" aria-controls="tab-course-description" aria-selected="true"><%= t('config.general_info')%>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="tab-course-study-program-tab" data-toggle="pill" href="#tab-course-study-program" role="tab" aria-controls="tab-course-study-program" aria-selected="false"><%= t('adm.course.Study program')%></a>
          </li>          
        </ul>

      </div>
      <div class="card-body">
        <div class="tab-content" id="custom-tabs-three-tabContent">
          <div class="tab-pane fade show active" id="tab-course-description" role="tabpanel" aria-labelledby="tab-course-description">
          <%= render "adm/learning/course/tab_course_description"%>
          </div>
          <div class="tab-pane fade show" id="tab-course-study-program" role="tabpanel" aria-labelledby="tab-course-study-program">
          <%= render "adm/learning/course/tab_course_study_program"%>
          </div>
        </div>       
      </div>
      <div class="card-footer clearfix text-right">
        <%= render "adm/learning/course/list_course_button_sreen_show"%>
      </div>
    </div>
  </div>
</div>
<%= render "adm/learning/course/subject_upload"%>
