<div class="sidebar-top account2 font-regular" id="session_login" style="background:#f2f2f2">
    <div class="container" id="login-block">
        <div class="account-info">
            <a href="dashboard.html" class="logo"></a> 
            <img src="assets/global/images/login.png" style="width: 100%; margin-top: 0" alt="">
        </div>
        <div class="account-form">
            <%=form_with model: @user, :html=>{class: "form-signin"} do |f| %>
                <div class="append-icon">
                    <%= f.text_field :email, id: 'name', class: 'form-control', placeholder: "E-mail", required: true, name: "name"%>
                    <i class="icon-user"></i>
                </div>
                <div class="append-icon">
                    <%= f.password_field :password, id: "password-form", class: 'form-control form-white password', placeholder: "Mật khẩu", required: true, name: "password"%>
                    <!-- <input type="password" name="password" class="form-control form-white password" placeholder="Mật khẩu" required> -->
                    <i class="icon-lock"></i>
                </div>
                <div class="append-icon m-b-20 m-t-10">
                    <label class=" font-regular">
                        <input type="checkbox"> Ghi nhớ đăng nhập cho lần sau
                    </label>
                </div>
                <button type="submit" id="submit-form" class="btn btn-primary btn-embossed b-0 bg-5DC2A7" data-style="expand-left">Đăng nhập</button>
                <span class="forgot-password"><a id="password" href="account-forgot-password.html">Quên mật khẩu?</a></span>
                <p style="text-align: right;color: #939393;font-size: 12px;" class="m-t-20">
                    Nếu bạn không đăng nhập được hay gọi cho <br/>chúng tôi: +8424 7109 6668
                </p>
            <% end %>
            <%= form_with(url: user_reset_password_path, method: "post", :html=>{class: "form-password"}) do |f|%>
                <h3><strong>Reset</strong> your password</h3>
                <div class="append-icon m-b-20">
                    <%= f.text_field :email, name: "email", class:"form-control", placeholder: "Email", required: true %>
                    <i class="icon-lock"></i>
                </div>
                <button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Send Password Reset Link</button>
                <div class="clearfix m-t-60">
                    <p class="pull-left m-t-20 m-b-0"><a id="login" href="#">Have an account? Sign In</a></p>
                </div>
            <% end %>
           <!--  <form class="form-password" role="form">
                <h3><strong>Reset</strong> your password</h3>
                <div class="append-icon m-b-20">
                    <input type="password" name="password" class="form-control form-white password" placeholder="Password" required>
                    <i class="icon-lock"></i>
                </div>
                <button type="submit" id="submit-password" class="btn btn-lg btn-danger btn-block ladda-button" data-style="expand-left">Send Password Reset Link</button>
                <div class="clearfix m-t-60">
                    <p class="pull-left m-t-20 m-b-0"><a id="login" href="#">Have an account? Sign In</a></p>
                </div>
            </form> -->
        </div>
        
    </div>
</div>