<div class="sidebar-top account2 font-regular" id="session_login" style="background:#f2f2f2">
  <div class="container" id="login-block">
    <div class="account-info">
      <%= link_to '', root_path, :class => 'logo' %>
      <%= image_tag("global/images/Login.png", style: "margin: 0;") %>
    </div>
    <div class="account-form">
      <%= form_for :session, url: user_login_path, :html => {class: "form-signin"} do |f| %>
        <div class="append-icon" >
          <%= f.text_field :username, class: 'form-control', placeholder: "Username", required: true %>
          <i class="icon-user"></i>
        </div>
        <div class="append-icon"> 
          <%= f.password_field :password, class: 'form-control form-white password', placeholder: "Mật khẩu", required: true %>
          <i class="icon-lock"></i>
        </div>
        <div class="append-icon m-b-20 m-t-10">
        </div>
        <div style="padding-top: 15px">
        <%= f.submit "Đăng nhập", class: "btn btn-primary login-submit", 'data-style' => 'expand-left' %>

        <span class="forgot-password">
              <a id="password" href="">Quên mật khẩu?</a>
        </span>
        </div>
        <p style="text-align: right;color: #939393;font-size: 12px;" class="m-t-20">
          Nếu bạn không đăng nhập được hay gọi cho <br/>chúng tôi: +8424 7109 6668
        </p>
      <% end %>
      <%= form_for(:password_reset, url: password_resets_path, :html => {display: 'block', class: "form-password"}) do |f| %>
        <h3><strong>Reset</strong> mật khẩu</h3>
        <div class="append-icon m-b-20">
          <%= f.text_field :username, class: "form-control", placeholder: "Tên đăng nhập", required: true %>
          <i class="icon-lock"></i>
        </div>
        <%= f.submit 'Gửi link Reset mật khẩu', class: "btn btn-lg btn-danger btn-block ladda-button", 'data-style': "expand-left" %>
        <div class="clearfix m-t-60">
          <p class="pull-left m-t-20 m-b-0">
            <a id="login" href="">Đã có tài khoản? Đăng nhập</a>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
