<div class="modal-dialog" style='min-width: 80%'>
  <div class="modal-content">
    <div class="modal-body">
      <div class='panel-content card'>
        <div class='card-body row'>
          <div class='col-md-6'>
            <ul class='project_infomation'>
              <li><%= t('social_community.detail.full_name') %>: <span><b><%= student.full_name %></b></span></li>
              <li><%= t('social_community.detail.course') %>: <span><b><%= course.name %></b></span></li>
              <li><%= t('social_community.detail.batch') %>: <span><b><%= batch.name %></b></span></li>
              <li><%= t('social_community.detail.company') %>: <span><b><%= company_name %></b></span></li>
            </ul>
          </div>
          <div class='col-md-3'>
            <ul>
              <%= Contest::ContestDecorator.new(c_project).display_like_share.html_safe %>
            </ul>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input contest_project_state" type="checkbox" id="customCheckbox2" checked="">
              <label for="customCheckbox2" class="custom-control-label">Hợp lệ</label>
            </div>
          </div>
          <div class='col-md-3'>
            <div>
            <label for"marking-project-point">Diem so</label>
            <input type='number' min='0' max='100' id="marking-project-point" value="<%= c_project.judges_score %>" style="width: 100px; height: 100px; font-size: 20px; font-weight: 700; text-align: center">
            </div>
          </div>
        </div>
      </div>
      <div class='card'>
        <div class='card-body'>
          <div class="panel-content">
            <div class="box-product">
              <div class="fc-header" style='margin: 15px 0 15px 0'>
                <h3 style="margin: 0 !important">Thông tin sản phẩm</h3>
              </div>
            </div>
          </div>
          <hr>
          <div class="box-product">
            <div class="fc-header" style='margin: 15px 0 15px 0'>
              <h4 style="margin: 0 !important"><%= t('social_community.detail.description') %></h4>
            </div>
            <div class="project_description">
              <p><%= project.description.html_safe if project.description.present?%></p>
            </div>
          </div>
          <div class="box-product">
            <div class="fc-header" style='margin: 15px 0 15px 0'>
              <h4 style="margin: 0 !important"><%= t('social_community.detail.intro') %></h4>
            </div>
            <div class="project_intro">
              <% if project.introduction_video.present? %>
                <%= SocialCommunity::StudentProject::StudentProjectDecorator.new(project).youtube_embed_link.html_safe %>
              <% else %>
                <p>Chưa cập nhật</p>
              <% end %>
            </div>
          </div>
          <div class="box-product">
            <div class="fc-header" style='margin: 15px 0 15px 0'>
              <h4 style="margin: 0 !important"><%= t('social_community.detail.slide') %></h4>
            </div>
            <div class="project_intro">
              <% if project.presentation.present? %>
                <%= link_to image_tag('/global/images/downloadinvoice.png') + t('attachment.download'), rails_blob_path(project.presentation, disposition: "attachment") %>
              <% else %>
                <p>Chưa cập nhật</p>
              <% end %>
            </div>
          </div>

          <div class="box-product">
            <div class="fc-header" style='margin: 15px 0 15px 0'>
              <h4 style="margin: 0 !important">Chi tiết sản phẩm</h4>
            </div>
            <div class="project_intro">
              <% if project.project_show_video.present? %>
                <%= project.project_show_video.html_safe %>
              <% else %>
                <p>Chưa cập nhật</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-between">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" data-dismiss="modal" data-project="<%= c_project.id %>" id="submit-marking-project">Save changes</button>
    </div>
  </div>
</div>
<!-- /.modal-content -->
