<div class="filter-box FlowupLabels" id='formBody'>
  <div class="row" style="margin-left: -5px; margin-right: -5px;">
    <div class="col-md-4  p-r-5 p-l-5">
      <div class='fl_wrap m-t-0 course-populated populated'>
        <label class='fl_label' for='rf_name'><%= t('learning.course') %>: </label>
        <p class="fl_input"><%= batch.op_course.name %></p>
      </div>
    </div>
    <div class="col-md-4 p-r-5 p-l-5">
      <div class='fl_wrap m-t-0 batch-populated populated'>
        <label class='fl_label' for='rf_name'><%= t('learning.batch.name') %>: </label>
        <p class="fl_input"><%= batch.code %></p>
      </div>
    </div>
    <div class="col-md-4  p-r-5 p-l-5">
      <% unless subjects.blank? %>
      <label class="custom-select-label"><%= t('learning.subject')%></label>
      <select class="custom-select form-control-filters student_subject_filter" id="rf_name" onchange="showSubjectSessions()">
        <% subjects.each do |subject| %>
        <option value="<%= subject[0] %>" <%= subject[0] == active_subject ? 'selected':'' %>><%= subject[1] %></option>
        <% end %>        
      </select>
      <% else %>
      <div class='fl_wrap m-t-0 batch-populated populated'>
        <label class='fl_label' for='rf_name'><%= t('learning.subject') %></label>
        <p class="fl_input"></p>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'user/open_educat/shared/session/top_schedule', {:coming_soon_session => coming_soon_session} %>
<%= render 'user/open_educat/op_students/progress/done_sessions', {:done_sessions => done_sessions, active_subject: active_subject} %>
<%= render 'user/open_educat/op_students/progress/tobe_sessions', {:tobe_sessions => tobe_sessions, active_subject: active_subject} %>
<%= render 'user/open_educat/op_students/progress/cancel_sessions', {:cancel_sessions => cancel_sessions, active_subject: active_subject} %>

<div class="modal fade" id="session_photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>

<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      $("[data-placement=right]").hover(function(){
      $('.tooltip').css('top',parseInt($('.tooltip').css('top')) + 8 + 'px')
    });
});
</script>
