<div class="filter-box FlowupLabels" id='formBody'>
  <div class="row">
    <div class="col-md-offset-1 col-md-4">
      <div class='fl_wrap m-t-0 course-populated populated'>
        <label class='fl_label' for='rf_name'><%= t('learning.course') %>: </label>
        <p class="fl_input"><%= batch.op_course.name %></p>
      </div>
    </div>
    <div class="col-md-4">
      <div class='fl_wrap m-t-0 batch-populated populated'>
        <label class='fl_label' for='rf_name'><%= t('learning.batch.name') %>: </label>
        <p class="fl_input"><%= batch.code %></p>
      </div>
    </div>
    <div class="col-md-2">      
      <label class="custom-select-label"><%= t('learning.subject')%></label>
      <select class="custom-select form-control-filters student_subject_filter" id="rf_name" onchange="showSubjectSessions()">
        <% unless subjects.blank? %>
        <% subjects.each do |subject| %>
          <option value="<%= subject[0] %>" <%= subject[0] == active_subject ? 'selected':'' %>><%= subject[1] %></option>
        <% end %>
        <% end %>
      </select>
    </div>
  </div>
</div>

<%= render 'user/open_educat/shared/session/top_schedule', {:coming_soon_session => coming_soon_session} %>

<%= render 'user/open_educat/op_students/progress/done_sessions', {:done_sessions => done_sessions, active_subject: active_subject} %>

<%= render 'user/open_educat/op_students/progress/tobe_sessions', {:tobe_sessions => tobe_sessions, active_subject: active_subject} %>

<%= render 'user/open_educat/op_students/progress/cancel_sessions', {:cancel_sessions => cancel_sessions, active_subject: active_subject} %>
