<% student = current_user.op_student %>
<% parent ||= student.op_parents.last %>
<% res_partner = parent.nil? ? nil  : current_user.op_student.op_parents.first.res_partner %>

<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-img infomation_avatar">
        <span>
          <%= (User::Account::UserDecorator.new(current_user).display_avatar 80).html_safe %>
        </span>
      </div>
      <div class="ph-text">
        <h3 class="color-FCF055 m-0"><%= current_user.username %></h3>
        <label for=""><%= student.full_name %></label>
        <p><strong class="color-FCF055"><%= t('user.student.code') %>:</strong> <%= student.code %></p>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class="active"><a href="#tab2_1" data-toggle="tab"><%= t('config.general_info') %></a></li>
        <% if res_partner && parent %>
          <li class=""><a href="#tab2_2" data-toggle="tab"><%= t('config.parent_info') %></a></li>
        <% end %>
        <li class=""><a href="#tab2_3" data-toggle="tab"><%= t('config.study_progress') %></a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content">
        <div class="tab-pane fade  active in" id="tab2_1">
          <%= form_for :user, url: user_account_users_student_update_nickname_path, :html => {:class => 'FlowupLabels'} do |f| %>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class='col-md-6 text-right'>
                  <%= link_to "#{ t('config.change_pass') }", user_account_users_change_password_path, class: 'change-password' %>
                </div>
                <div class='col-md-6 text-left'>
                    <label for="input" class="label change_avatar change-password">
                      <%= t('config.change_avatar') %>
                    </label>
                    <input type="file" class="sr-only" id="input" name="image" accept="image/*">
                </div>
              </div>
              <div class="col-md-4">
                <div class='fl_wrap'>
                  <label class='fl_label' for='rf_name'><%= t('config.full_name') %>:</label>
                  <input class='fl_input bg-f2f2f2' readonly id='rf_name' value="<%= student.full_name.to_s %>">
                </div>
              </div>
              <div class="col-md-4">
                <div class='fl_wrap'>
                  <label class='fl_label' for='rf_name'><%= t('config.gender') %>:</label>
                  <% if student.gender == 'f' %>
                    <input class='fl_input bg-f2f2f2' readonly id='rf_gender' value="Nữ">
                  <% elsif student.gender == 'm' %>
                    <input class='fl_input bg-f2f2f2' readonly id='rf_gender' value="Nam">
                  <% else %>
                    <input class='fl_input bg-f2f2f2' readonly id='rf_gender' value="">
                  <% end %>
                </div>
              </div>
              <div class="col-md-4">
                <div class='fl_wrap'>
                  <label class='fl_label' for='rf_name'><%= t('config.birthday') %>:</label>
                  <input class='fl_input bg-f2f2f2' readonly id='rf_name' value="<%= student.birth_date %>">
                </div>
              </div>
              <div class="col-md-4">
                <div class='fl_wrap'>
                  <!--                  #TODO: validate username on keypress-->
                  <%= f.label 'Nickname:', class: 'fl_label' %>
                  <%= f.text_field :username, class: 'fl_input', :value => current_user.username %>
                </div>
              </div>
              <div class="col-md-4">
                <div class='fl_wrap'>
                  <label class='fl_label' for='rf_name'><%= t('config.nationality') %>:</label>
                  <input class='fl_input bg-f2f2f2' readonly id='rf_name' value="<%= get_nationality(student.id) %>">
                </div>
              </div>
              <div class="col-md-4">
                <div class='fl_wrap'>
                  <label class='fl_label' for='rf_name'><%= t('config.center') %>:</label>
                  <input class='fl_input bg-f2f2f2' readonly id='rf_name' value="<%= student.res_company ? student.res_company.name.to_s : '' %>">
                </div>
              </div>
              <% if res_partner %>
                <div class="col-md-4">
                  <div class='fl_wrap'>
                    <label class='fl_label' for='rf_name'><%= t('config.address') %>:</label>
                    <input class='fl_input bg-f2f2f2' readonly id='rf_name' value="<%= res_partner ? res_partner.street : '' %>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class='fl_wrap'>
                    <label class='fl_label' for='rf_name'><%= t('config.district') %>:</label>
                    <input class='fl_input bg-f2f2f2' readonly id='rf_name' value="<%= res_partner ? res_partner.street2 : ''%>">
                  </div>
                </div>
              <% end %>
            </div>
            <div class="panel-footer bg-D7DFE9 text-right ">
              <%= link_to "#{ t('button.cancel') }", user_open_educat_op_students_information_path, class: 'btn btn-danger btn-embossed bg-F16357' %>
              <%= f.submit "#{ t('button.update') }", class: "btn btn-primary btn-embossed bg-5DC2A7", remote: true %>
            </div>
          <% end %>
        </div>
        <% if res_partner && parent %>
          <div class="tab-pane fade" id="tab2_2">
            <form id='formBody' class='FlowupLabels'>
              <div class="row">
                <div class="col-md-4">
                  <div class='fl_wrap'>
                    <label class='fl_label' for='rf_name'><%= t('config.full_name') %>:</label>
                    <input class='fl_input bg-f2f2f2' type='text' id='rf_name' readonly value="<%= res_partner ? res_partner.name : '' %> ">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class='fl_wrap'>
                    <label class='fl_label' for='rf_name'><%= t('config.relationship') %>:</label>
                    <input class='fl_input bg-f2f2f2' type="text" readonly id='rf_name' value="Cha/Mẹ">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class='fl_wrap'>
                    <label class='fl_label' for='rf_name'>Email:</label>
                    <% if parent.email.present? && (parent.email.length < 40) %>
                      <input class='fl_input bg-f2f2f2' type='text' id='rf_name' readonly value="<%= parent ? parent.email : '' %>">
                    <% else %>
                      <textarea class='fl_input bg-f2f2f2' type='text' id='rf_name' readonly ><%= parent.email %></textarea>
                    <% end %>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class='fl_wrap'>
                    <label class='fl_label' for='rf_name'><%= t('config.mobile') %>:</label>
                    <input class='fl_input bg-f2f2f2' type='text' readonly id='rf_name' value="<%= parent.phone ? parent.phone : parent.mobile %> ">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class='fl_wrap'>
                    <label class='fl_label' for='rf_name'><%= t('config.address') %>:</label>
                    <input class='fl_input bg-f2f2f2' readonly type='text' id='rf_name' value="<%= res_partner ? res_partner.street2 : '' %>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class='fl_wrap'>
                    <label class='fl_label' for='rf_name'><%= t('config.district') %>:</label>
                    <input class='fl_input bg-f2f2f2' readonly type='text' id='rf_name' value="<%= res_partner ? res_partner.city : ''%>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class='fl_wrap'>
                    <label class='fl_label' for='rf_name'><%= t('config.nationality') %>:</label>
                    <input class='fl_input bg-f2f2f2' readonly type='text' id='rf_name' value="<%= res_partner.res_country ? res_partner.res_country.name : 'None' %>">
                  </div>
                </div>
              </div>
            </form>
          </div>
        <% end %>
        <div class="tab-pane fade" id="tab2_3">
          <%= render 'user/op_students/partials/student_class' %>
        </div>
        <div class="tab-pane fade" id="tab2_4">
        </div>
        <div class="tab-pane fade" id="tab2_5">
        </div>
        <div class="tab-pane fade" id="tab2_6">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel"><%= t('config.choose_avatar') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="img-container">
          <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('button.cancel') %></button>
        <button type="button" class="btn btn-primary" id="crop"><%= t('button.update') %></button>
      </div>
    </div>
  </div>
</div>
<style>
.infomation_avatar {
  margin-left: 15px;
  margin-top: 15px;
}
.change_avatar{
  font-weight: 700 !important;
  cursor: pointer;
}
</style>
<%= javascript_include_tag ('user/users/avatar.js') %>
