<% content_for :javascript_includes do %>
  <%= javascript_include_tag "user/open_educat/op_students/public_profile.js" %>
<% end %>

<div class="page-content page-thin p-0">
  <section class="box-public">
    <%= render :partial => "user/open_educat/op_students/public_profile/header_info", :locals => {public_user: public_user, :count_homework => count_homework, :count_achievement => achievements.size, :count_badge => badges.size, :count_sc_project => products.size, :count_redeem => 0} %>
    <div class="bp-main">
      <div class="bpm-head">
        <%= image_tag pp_avatar(op_student.id) %>
        <!-- TODO: cho phep thay doi avatar o day -->
        <%# <% if pp_can_change_avatar?(op_student.id) %1> %> 
          <%#   <a id='userAvatar' href="/user/account/users/change_avatar" data-toggle="modal" data-remote='true' data-target='#changeAvatarModal'> %>
            <%#     <%= image_tag pp_avatar(op_student.id) %1> %>
            <%#   </a> %>
          <%# <% else %1> %>
            <%#   <%= image_tag pp_avatar(op_student.id) %1> %>
            <%# <% end %1> %>
          <p class="name-cards"><span class="color-0654BA"><%= public_user.username %></span><br/><%= op_student.full_name %></p>
          <ul>
            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target='_blank'>
                <span>
                  <%= image_tag('global/images/tekystar.png') %>
                </span>
                <p class="t-uppercase"><%= t('public_profile.share') %></p>
              </a>
            </li>
          </ul>
      </div>
      <% if pp_can_change_avatar?(op_student.id) %>
        <div class="modal fade" id="changeAvatarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        </div>
      <% end %>
      <div class="bpm-content">
        <%= render :partial => "user/open_educat/op_students/public_profile/general_info", :locals => {public_user: public_user, op_student: op_student} %>
        <hr>
        <div class="bpc-detail">
          <div class="dpc-title">
            <h3 class="t-uppercase"><%= t('public_profile.batches') %></h3>
            <%= render :partial => "user/open_educat/op_students/public_profile/batches", :locals => { op_student_courses: op_student_courses } %>
          </div>
          <div class="dpc-title">
            <h3 class="t-uppercase"><%= t('public_profile.achievements_certificates') %></h3>
          </div>
          <%= render :partial => "user/open_educat/op_students/public_profile/achievements", :locals => {achievements: achievements} %>

          <div class="dpc-title">
            <h3 class="t-uppercase"><%= t('public_profile.badges') %></h3>
          </div>
          <%= render :partial => "user/open_educat/op_students/public_profile/badges", :locals => {badges: badges} %>

          <div class="dpc-title">
            <h3 class="t-uppercase"><%= t('public_profile.featured_photos') %></h3>
          </div>
          <%= render :partial => "user/open_educat/op_students/public_profile/pictures", :locals => {featured_photos: featured_photos} %>

          <div class="dpc-title">
            <h3 class="t-uppercase"><%= t('public_profile.products') %></h3>
          </div>
          <%= render :partial => "user/open_educat/op_students/public_profile/products", :locals => {products: products} %>

        </div>
      </div>
    </div>
  </section>
</div>
<style>
.table > thead > tr:first-child > td,
.table > tbody > tr:first-child > td {
  border: none;
}
.batch-code {
  font-size: 10px;
  color: #0654BA;
}
.fsize-10 {
  font-size: 10px;
}
.t-align-r {
  text-align: right;
}
.t-uppercase {
  text-transform: uppercase;
  font-weight: bold;
}
.col-sm-6 {
  padding-right: 5px;
  padding-left: 5px;
}
.bp-main {
  background: transparent;
}
.bpm-head {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 25px;
}
.bpm-content {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom: 1px solid white;
  background: white;
}

.box-add ul li p {
  padding-left: 46p{y x;
}

.box-add ul li p b {
  font-family: 'Montserrat-Bold'; 
}
</style>
