<% content_for :javascript_includes do %>
  <%= javascript_include_tag "user/open_educat/op_students/public_profile.js" %>
<% end %>

<div class="page-content page-thin p-0">
  <section class="box-public">
    <%= render :partial => "user/open_educat/op_students/public_profile/header_info", :locals => {public_user: public_user, :count_homework => count_homework, :count_achievement => achievements.size, :count_badge => badges.size, :count_sc_project => products.size, :count_redeem => 0} %>
    <div class="bp-main">
      <div class="bpm-head">
        <%= image_tag pp_avatar(op_student.id) %>
        <p class="name-cards"><span class="color-0654BA"><%= public_user.username %></span><br/><%= op_student.full_name %></p>
        <ul>
          <li>
            <a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target='_blank'>
              <span>
                <%= image_tag('global/images/tekystar.png') %>
              </span>
              <p class="t-uppercase"><%= t('public_profile.share') %></p>
            </a>
          </li>
        </ul>
      </div>
      <div class="bpm-content">
        <%= render :partial => "user/open_educat/op_students/public_profile/general_info", :locals => {public_user: public_user, op_student: op_student} %>
        <hr>
        <div class="bpc-detail">
          <div class="dpc-title">
            <h3 class="t-uppercase"><%= t('public_profile.batches') %></h3>
            <%= render :partial => "user/open_educat/op_students/public_profile/batches", :locals => { op_student_courses: op_student_courses } %>
          </div>
          <div class="dpc-title">
            <h3 class="t-uppercase"><%= t('public_profile.achievements_certificates') %></h3>
          </div>
          <%= render :partial => "user/open_educat/op_students/public_profile/achievements", :locals => {achievements: achievements} %>

          <div class="dpc-title">
            <h3 class="t-uppercase"><%= t('public_profile.badges') %></h3>
          </div>
          <%= render :partial => "user/open_educat/op_students/public_profile/badges", :locals => {badges: badges} %>

          <div class="dpc-title">
            <h3 class="t-uppercase"><%= t('public_profile.featured_photos') %></h3>
          </div>
          <%= render :partial => "user/open_educat/op_students/public_profile/pictures", :locals => {featured_photos: featured_photos} %>

          <div class="dpc-title">
            <h3 class="t-uppercase"><%= t('public_profile.products') %></h3>
          </div>
          <%= render :partial => "user/open_educat/op_students/public_profile/products", :locals => {products: products} %>

        </div>
      </div>
    </div>
  </section>
</div>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag("user/open_educat/op_students/public_profile") %>
<% end %>
<style>
</style>
