  <%= javascript_include_tag 'social_community/question_answer/session_qa_area.js' %>
  <%= javascript_include_tag ('swiper.min.js') %>
  <%= stylesheet_link_tag ('swiper.min.css') %>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform"><%= t('sidebar.homework') %></h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <%= link_to image_tag('global/images/quaylai.svg').html_safe + "#{ t('button.back') }", :back, class: 'PC-back', id: 'student_homework_back' %>
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class="active"><a href="#homework_tab1" data-toggle="tab"><%= t('homework.name') %></a></li>
        <li class=""><a id="student_homework_videos" href="#homework_tab2_new" data-toggle="tab"><%= t('homework.review') %></a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <% if @batches.present? %>
          <div class="tab-pane fade active in" id='homework_tab1'>
            <div class="table-responsive bo-table">
              <p><%= t('learning.no_lesson') %><p>
            </div>
          </div>
        <% else %>
          <div class="tab-pane fade active in" id='homework_tab1'>

            <div class="table-responsive bo-table">
              <div class="filter-box FlowupLabels p-b-10" id='formBody'>
                <div class="row" id="filter_homework_row" style="margin-left: -5px; margin-right: -5px;">
                  <%= render 'user/open_educat/op_students/partials/loading_filter_homework' %>
                </div>
              </div>
              <div class="no_lesson_div" style="display: none"><%= t('learning.no_lesson') %></div>
              <div class="no_homework_div" style="display: none"><%= t('homework.no_homework') %></div>
              <%= render "user/open_educat/op_students/partials/loading_table_template" %>
              <table class="table table-hover table-link" id="homework_session_table" remote='true'>
              </table>
            </div>
          </div>
        <% end%>
        <!-- <div id="video_play_tab" > -->
        <div class="tab-pane fade" id='homework_tab2_new'> 
          <%= render "user/open_educat/op_students/partials/loading/loading_video" %>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "user/open_educat/op_students/homework.js" %>
<% end %>
<script>

  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $("[data-placement=right]").hover(function(){
      $('.tooltip').css('top',parseInt($('.tooltip').css('top')) + 8 + 'px')
    });
  });
</script>
