<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform"><%= t('sidebar.homework') %></h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <%= link_to image_tag('global/images/quaylai.svg').html_safe + "#{ t('button.back') }", :back, class: 'PC-back', id: 'student_homework_back' %>
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class="active"><a href="#homework_tab1" data-toggle="tab"><%= t('homework.name') %></a></li>
        <li class=""><a id="student_homework_videos" href="#homework_tab2_new" data-toggle="tab"><%= t('homework.review') %></a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <% if @batches.blank? %>
          <div class="tab-pane fade active in" id='homework_tab1'>
            <div class="table-responsive bo-table">
              <p><%= t('learning.no_lesson') %><p>
            </div>
          </div>
        <% else %>
          <div class="tab-pane fade active in" id='homework_tab1'>

            <div class="table-responsive bo-table">
              <div class="filter-box FlowupLabels p-b-10" id='formBody'>
                <div class="row" style="margin-left: -5px; margin-right: -5px;">
                  <div class="col-md-4  p-r-5 p-l-5">
                    <label class="filter-title student_course_title"><%= @course.name %></label>
                  </div>
                  <div class="col-md-3  p-r-5 p-l-5">
                    <% unless @courses.blank? %>
                    <label class="custom-select-label"><%= t('learning.course')%></label>
                    <select class="custom-select form-control-filters student_subject_filter" id="homework_course_selection">
                      <% @courses.each do |course| %>
                          <% if course.id == @course.id %>
                            <option value="<%= course.id %>" selected><%= course.name %></option>
                          <% else %>
                            <option value="<%= course.id %>"><%= course.name %></option>
                          <% end %>
                        <% end %>       
                    </select>

                    <% else %>
                    <div class='fl_wrap m-t-0 batch-populated populated'>
                      <label class='fl_label' for='rf_name'><%= t('learning.batch.name') %>:</label>
                      <p class="fl_input"></p>
                    </div>
                    <% end %>
                  </div>
                  <div class="col-md-3  p-r-5 p-l-5">
                    <% unless @batches.blank? %>
                    <label class="custom-select-label"><%= t('learning.batch.name')%></label>
                    <select class="custom-select form-control-filters student_subject_filter" id="homework_batch_selection">
                      <% @batches.each do |batch| %>
                          <% if @batch.id == batch.id %>
                            <option value="<%= batch.id %>" selected><%= batch.name %></option>
                          <% else %>
                            <option value="<%= batch.id %>"><%= batch.name %></option>
                          <% end %>
                      <% end %>        
                    </select>

                    <% else %>
                    <div class='fl_wrap m-t-0 batch-populated populated'>
                      <label class='fl_label' for='rf_name'><%= t('learning.batch.name') %>:</label>
                      <p class="fl_input"></p>
                    </div>
                    <% end %>
                  </div>
                  <div class="col-md-2  p-r-5 p-l-5">                    
                    <% unless @subjects.blank? %>
                    <label class="custom-select-label"><%= t('learning.subject')%></label>
                    <select class="custom-select form-control-filters student_subject_filter" id="homework_subject_selection">
                      <% @subjects.each do |subject| %>
                      <option value="<%= subject.id %>" <%= subject.id == @subject.id ? 'selected':'' %>><%= subject.level %></option>
                      <% end %>        
                    </select>
                    <% else %>
                    <div class='fl_wrap m-t-0 batch-populated populated'>
                      <label class='fl_label' for='rf_name'><%= t('learning.subject') %></label>
                      <p class="fl_input"></p>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="no_lesson_div" style="display: none"><%= t('learning.no_lesson') %></div>
              <div class="no_homework_div" style="display: none"><%= t('homework.no_homework') %></div>
              <table class="table table-hover table-link" id="homework_session_table" remote='true'>
                <colgroup>
                <col>
                <col width="200">
                <col width="110">
                <col width="200px">
              </colgroup>
              <%= render 'user/open_educat/op_students/partials/table_homework_list', { sessions: @sessions, batch: @batch, session: @session, subject: @subject } %>
              </table>
            </div>
          </div>
        <% end%>
        <!-- <div id="video_play_tab" > -->
        <div class="tab-pane fade" id='homework_tab2_new'> 
          <%= render 'user/open_educat/op_students/partials/videos_tab', { sessions: @sessions, course: @course, subject: @subject, lesson: @lesson, session: @session, batch: @batch } %>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "user/open_educat/op_students/homework.js" %>
<% end %>
<script>
  <% if @sessions.blank? %>
    $('.no_homework_div').show();
    $('#homework_session_table').hide();
  <% end %>

$(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
      $("[data-placement=right]").hover(function(){
      $('.tooltip').css('top',parseInt($('.tooltip').css('top')) + 8 + 'px')
    });
});
</script>
