<div class="table-responsive bo-table p-l-20 p-r-20">
  <% if !cancel_sessions.nil? and !cancel_sessions.empty? %>
    <table class="table  table-link" style="margin: 0">
      <colgroup>
        <col width='90'>
        <col width='140'>
      </colgroup>
      <thead class="border-bottom-line-2">
        <tr>
          <th colspan='2' class="p-l-0">
            <h3><%= t('my_class.detail.progress.cancel_html') %></span></h3>
          </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% cancel_sessions.each do |cancel_session| %>
          <% s_cancel = cancel_session[:session] %>
          <% l_cancel = cancel_session[:lesson] %>
          <% style_display = (s_cancel.subject_id == active_subject) ? "" : "style=display:none;" %>
          <tr class="student_subject_level subject_level_<%= s_cancel.op_subject.id.to_s %>" <%= style_display %>>
            <%= render 'user/open_educat/op_students/progress/session/cancel_session_student', {:session => s_cancel, :lesson => l_cancel} %>
            <tr>
            <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="fc-header border-bottom-line-2">
      <h3 class="p-l-0"><%= t('my_class.detail.progress.cancel_html') %></span></h3>
    </div>
    <div class="p-l-0 p-t-10"><%= t('my_class.detail.progress.no_lesson') %></div>
  <% end %>
</div>
