<div class="table-responsive bo-table m-b-20">
  <div class="fc-header">
    <h3><%= t('my_class.detail.progress.done_html') %></h3>
  </div>
  <% if !done_sessions.nil? and !done_sessions.empty? %>
    <table class="table  table-link">
      <thead>
      <tr>
        <th width="90">&nbsp;</th>
        <th width="140"></th>
        <th></th>
        <th class="text-center"><%= t('learning.attendance') %></th>
        <th width="35%"></th>
      </tr>
      </thead>
      <tbody>
        <% done_sessions.each do |done_session| %>
          <% s_done = done_session[:session] %>
          <% l_done = done_session[:lesson] %>
          <tr class="student_subject_level subject_level_<%= s_done.op_subject.id.to_s %>">
            <%= render 'user/open_educat/op_students/progress/session/done_session_student', {:session => s_done, :lesson => l_done} %>
          </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div><%= t('my_class.detail.progress.no_lesson') %></div>
  <% end %>
</div>

<%= render :partial => 'user/open_educat/op_students/modal/session_evaluation' %>
<%= render partial: 'user/open_educat/op_students/modal/session_student_feedback' %>
<div class="modal fade" id="session_photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>
