<div class="table-responsive bo-table m-b-20 m-t-20 p-l-20 p-r-20">
  <% if !done_sessions.nil? and !done_sessions.empty? %>
    <table class="table  table-link" style="margin-bottom: 0">
      <colgroup>
        <col width='90'>
        <col width='140'>
        <col class="text-center">
        <col>
        <col width='35%'>
      </colgroup>
      <thead class="border-bottom-line-2">
        <tr>
          <th colspan='3' class="p-l-0">
            <h3><%= t('my_class.detail.progress.done_html') %></h3>
          </th>
          <th colspan='2' ><%= t('learning.attendance') %></th>
        </tr>
      </thead>
      <tbody>
        <% done_sessions.each do |done_session| %>
          <% s_done = done_session[:session] %>
          <% l_done = done_session[:lesson] %>
          <% style_display = (s_done.subject_id == active_subject) ? "" : "style=display:none;" %>
          <tr class="student_subject_level subject_level_<%= s_done.op_subject.id.to_s %>" <%= style_display %>>
            <%= render 'user/open_educat/op_students/progress/session/done_session_student', {:session => s_done, :lesson => l_done} %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="fc-header border-bottom-line-2">
      <h3 class="p-l-0"><%= t('my_class.detail.progress.done_html') %></h3>
    </div>
    <div class="p-l-0 p-t-10"><%= t('my_class.detail.progress.no_lesson') %></div>
  <% end %>
</div>

<%= render :partial => 'user/open_educat/op_students/modal/session_evaluation' %>
<%= render partial: 'user/open_educat/op_students/modal/session_student_feedback' %>
<div class="modal fade" id="session_photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>
