<div class="table-responsive bo-table m-b-20">
  <% if !tobe_sessions.nil? and !tobe_sessions.empty? %>
    <table class="table  table-link">
      <colgroup>
        <col width='90'>
        <col width='140'>
        <col>
      </colgroup>
      <thead>
        <tr>
          <th colspan='3'>
            <h3><%= t('my_class.detail.progress.coming_html') %></h3>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% tobe_sessions.each do |tobe_session| %>
          <% s_tobe = tobe_session[:session] %>
          <% l_tobe = tobe_session[:lesson] %>
          <tr class="student_subject_level <%= 'subject_level_' + s_tobe.op_subject.id.to_s %>">
            <%= render 'user/open_educat/op_students/progress/session/tobe_session_student', {:session => s_tobe, :lesson => l_tobe} %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="fc-header">
      <h3 style='padding-left: 10px'><%= t('my_class.detail.progress.coming_html') %></h3>
    </div>
    <div style='padding-left: 10px'><%= t('my_class.detail.progress.no_lesson') %></div>
  <% end %>
</div>
