<div class="panel-content">
  <div class="bnd-title">
    <label class="filter-title">
      <%= t('learning.session.student_coming') %>:
      <span class="color-16BD56 s-coming-soon-c-name">
        <%= coming_soon_session.nil? ? "#{ t('learning.session.no_session') }" :  coming_soon_session[:course] %>
      </span>
    </label>
  </div>

  <% if coming_soon_session.nil? %>
  <p class="d-no-coming-soon-session" %><%= t('dashboard.no_coming_soon_session') %></p>
  <% else %>
  <% start = coming_soon_session[:session].start_datetime %>
  <div class="bnd-time text-center">
    <div class="bnd-text">
      <p class="font-bold color-000 f12 text-center">
        <%= t('learning.session.class_time') %>
        <span style="color: #F16357;">
          <%= start.strftime('%H:%M') %>
        </span>
        <span class="color-939393">
          <%= t('learning.session.to') %>
        </span>
        <span style="color: #F16357;">
          <%= coming_soon_session[:session].end_datetime.strftime('%H:%M') %>
        </span>
        |
        <span class="font-regular">
          <%= (get_week_day start.strftime('%A'))%>
        </span>
        ,
        <% start_datetime_display = start.day.to_s + '/' + start.month.to_s + '/' + start.year.to_s %>
        <%= start_datetime_display %>
      </p>
      <p class="text-center">
        <%= t('learning.session.at').capitalize %>: <span class="font-bold"><%= coming_soon_session[:company_name] %></span>
      </p>
    </div>
    <div class="bnd-clock" id="clockdiv">
      <div>
        <span class="days"></span>
      </div>
      <div>
        <span class="hours"></span>
      </div>
      <div>
        <span class="minutes"></span>
      </div>
      <div>
        <span class="seconds"></span>
      </div>
    </div>
    <br />
    <%= link_to t('learning.batch.come_in').upcase, user_open_educat_op_students_batch_detail_path(coming_soon_session[:batch_id]), :class => 'link-other color-5DC2A7 m-t-10' %>
  </div>
  <% end %>
</div>
<% unless coming_soon_session.nil? %>
<%= javascript_tag "initializeClock('clockdiv', #{start.to_json.html_safe} );", "data-turbolinks-track" => true %>
<% end %>
