<div class="card card-primary card-outline" style='width: 60%; margin: auto'>
  <input type='hidden' name='user_id' value="<%= @user.id %>">
  <div class="card-body box-profile">
    <div class="text-center">
      <h3><%= t('adm.user.info') %> <%= @user.username %> </h3>
    </div>
    <div class="user_info_form">
      <div class='username user_info row'>
        <div class='col-md-3'>
          <label><%= t('adm.user.username') %>:</label>
        </div>
        <div class='col-md-9'>
          <input name='username' class="form-control" required value="<%= @user.username %>">
        </div>
      </div>
      <div class='email user_info row'>
        <div class='col-md-3'>
          <label>Email:</label>
        </div>
        <div class='col-md-9'>
          <input name='username' class="form-control" required value="<%= @user.email %>">
        </div>
      </div>
      <% if @origin_user.account_role == User::Constant::ADMIN %>
        <div class='account_role user_info row'>
          <div class='col-md-3'>
            <label><%= t('adm.user.role') %>:</label>
          </div>
          <div class='col-md-9'>
            <select class='form-control' name='user_role'>
              <%= @available_roles.each do |role| %>
                <% if @user.account_role == role %>
                  <option value='<%= role %>' selected><%= role %></option>
                <% else %>
                  <option value='<%= role %>'><%= role %></option>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>
        <div class='companies user_info row'>
          <div class='col-md-3'>
            <label><%= t('adm.user.company') %>:</label>
          </div>
          <div class='col-md-9 form-group'>
            <select class="form-control select2" multiple="multiple" data-placeholder="<%= t('adm.user.select_company') %>" style="width: 100%;" name="user_company">
              <% @companies.each do |company| %>
                <% if @user_companies.present? %>
                  <% @user_companies.each do |uc| %>
                    <% if company.id == uc.company_id %>
                      <option value='<%= company.id %>' selected><%= company.name %></option>
                    <% else %>
                      <option value='<%= company.id %>'><%= company.name %></option>
                    <% end %>
                  <% end %>
                <% else %>
                  <option value='<%= company.id %>'><%= company.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>
        </div>
      <% end %>
    </div>
    <button class='btn btn-primary float-right text-uppercase text-bold' id='adm_edit_user'><%= t('adm.user.update') %></button>
  </div>
</div>
<div class="card card-primary card-outline" style='width: 60%; margin: auto; margin-top: 50px;'>
  <input type='hidden' name='user_id' value="<%= @user.id %>">
  <div class="card-body box-profile">
    <div class="text-center">
      <h3><%= t('adm.user.update_password') %></h3>
    </div>
    <div class="user_info_form">
      <div class='user_password user_info row'>
        <div class='col-md-3'>
          <label><%= t('adm.user.password') %>:</label>
        </div>
        <div class='col-md-9'>
          <input name='password' class="form-control" type='password'>
        </div>
      </div>
      <div class='confirm_password user_info row'>
        <div class='col-md-3'>
          <label><%= t('adm.user.confirmation_password') %>:</label>
        </div>
        <div class='col-md-9'>
          <input name='confirmation_password' class="form-control" type='password'>
        </div>
      </div>
    </div>
    <button class='btn btn-primary float-right text-uppercase text-bold' id='adm_update_password_user'><%= t('adm.user.update') %></button>
  </div>
</div>

<style>
.new_user_form {
  display: table;
  margin: auto;
  padding-top: 30px;
}

.new_user_form input {
  width: 100%;
}

.user_info {
  margin-top: 20px;
  margin-bottom: 20px;
}
</style>

<script>
  $(document).ready(function(){
    $('#adm_edit_user').on('click', function(){
      username = $('input[name="username"]').val();
      email = $('input[name="email"]').val();
      account_role = $('select[name="user_role"]').val();
      user_companies = $('select[name="user_company"]').val();
      user_id = $('input[name="user_id"]').val();

      $.ajax({
        method: 'POST',
        url: '/adm/user/update_user_info',
        data: { user_id: user_id, username: username, email: email, account_role: account_role, user_companies: user_companies, authenticity_token: $('[name="csrf-token"]')[0].content },
        success: function(res) {
          display_response_noti(res);
        }
      })
    })

    $('#adm_update_password_user').on('click', function(){
      user_id = $('input[name="user_id"]').val();
      password = $('input[name="password"]').val();
      confirmation_password = $('input[name="confirmation_password"]').val();

      $.ajax({
        method: 'POST',
        url: '/adm/user/update_user_password',
        data: { user_id: user_id, password: password, confirmation_password: confirmation_password, authenticity_token: $('[name="csrf-token"]')[0].content},
        success: function(res){
          display_response_noti(res)
        }
      })
    })
  })
</script>
