<% content_for :javascript_includes do %>
<%= javascript_include_tag "adm/adm_user.js" %>
<% end %>
<% page = 0 %>
<div class='row'>
  <div class='col-md-8'>
    <h3><%= t("adm.user.info") %></h3>
  </div>
  <div class='col-md-4'>
    <% if current_user.account_role == Constant::ADMIN %>
      <a href="/adm/user/new_user" class='btn btn-primary float-right'>Thêm người dùng</a>
    <% end %>
  </div>
</div>
<hr>
<div class='filter_form'>
  <div class='row'>
    <div class='col-md-6'>
      <div class="form-group">
        <label for='filter-company'><%= t("adm.user.company") %></label>
        <select class='select2 select2-hidden-accessible' id='filter-company' data-placeholder="<%= t("adm.user.select_company") %>" name="company[]" multiple="multiple" style="width: 100%;">
          <% @allow_companies.all.each do |company| %>
          <option value='<%= company.id %>'><%= company.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for='filter-role'><%= t("adm.user.role") %></label>
        <select class="select2 select2-hidden-accessible" id='filter-role' data-placeholder="<%= t("adm.user.select_role") %>" name="company[]" multiple="multiple" style="width: 100%;">
          <% User::Account::User.pluck(:account_role).uniq.each do |role| %>
          <option value='<%= role %>'><%= role %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='col-md-4'>
      <div class="form-group">
        <label for="search-user"><%= t("adm.user.info") %></label>
        <input type="text" class="form-control" id="search-user" placeholder="<%= t("adm.user.fullname") %>, Email, <%= t("adm.user.mobile") %>, <%= t("adm.user.username") %>">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" id="user-has-sign-in" type="checkbox" checked="">
          <label class="form-check-label">Đã đăng nhập</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" id="user-is-active" type="checkbox" checked="">
          <label class="form-check-label">Active</label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" id="submit_filter_user"><%= t("adm.user.filter") %></button>
    </div>
  </div>
</div>
<hr>
<div id="user_data_table">
</div>
<div id="paginator">
</div>
<style>
  .pagination span {
    margin: 5px;
  }
</style>

</div>
<style>
  .filter_form {
    margin-bottom: 30px;
  }

  #submit_filter_user {
    float: right;
    padding: 5px;
    margin-right: 40px;
    width: 100px;
  }
</style>
