<% content_for :javascript_includes do %>
  <%= javascript_include_tag "adm/adm_user" %>
<% end %>

<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag('adm/user/adm_users') %>
<% end %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t("adm.user.info") %></h3>
    <div class='card-tools'>
      <% if current_user.account_role == Constant::ADMIN %>
        <a href="/adm/user/new_user" class='btn btn-sm btn-primary'><%= t('adm.users.add_new') %></a>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <div class='filter_form'>
      <div class='row'>
        <div class='col-md-3 col-xs-12'>
          <div class="form-group">
            <label for='filter-company'><%= t("adm.user.company") %></label>
            <select class='select2 select2-hidden-accessible' id='filter-company' data-placeholder="<%= t("adm.user.select_company") %>" name="company[]" multiple="multiple" style="width: 100%;">
              <% @allow_companies.all.each do |company| %>
                <option value='<%= company.id %>'><%= company.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="col-md-2 col-xs-12">
          <div class="form-group">
            <label for='filter-role'><%= t("adm.user.role") %></label>
            <select class="select2 select2-hidden-accessible" id='filter-role' data-placeholder="<%= t("adm.user.select_role") %>" name="company[]" multiple="multiple" style="width: 100%;">
              <% User::Account::User.pluck(:account_role).uniq.each do |role| %>
                <option value='<%= role %>'><%= role %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class='col-md-3 col-xs-12'>
          <div class="form-group">
            <label for="search-user"><%= t("adm.user.info") %></label>
            <input type="text" class="form-control" id="search-user" placeholder="<%= t("adm.user.fullname") %>, Email, <%= t("adm.user.mobile") %>, <%= t("adm.user.username") %>">
          </div>
        </div>
        <div class='col-md-2 col-xs-12'>
          <div class="form-group">
            <label for="user-has-sign-in">abc</label>
            <select class='select2 select2-hidden-accessible' id='user-has-sign-in' style="width: 100%;">
              <option value="all" selected>Tất cả</option>
              <option value="signed">Đã đăng nhập</option>
              <option value="unsign">Chưa đăng nhập</option>
            </select>
          </div>
        </div>
        <div class='col-md-2 col-xs-12'>
          <div class="form-group">
            <label for="user-is-active">abc</label>
            <select class='select2 select2-hidden-accessible' id='user-is-active' style="width: 100%;">
              <option value="all" selected>Tất cả</option>
              <option value="true">Active</option>
              <option value="false">Deactive</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary" id="submit_filter_user"><%= t("adm.user.filter") %></button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='card'>
  <div id='loading-content-div'>
    <%= render 'partials/content_loading' %>
  </div>
  <div class="card-body p-0" id="user_data_table">
  </div>
  <div class="card-footer" id="paginator">
  </div>
</div>
