<% content_for :javascript_includes do %>
  <%#= javascript_include_tag "adm/adm_user.js" %>
<% end %>
<h3>Thông tin người dùng</h3>
<table id="adm_all_user" class="display nowrap" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tên đăng nhập</th>
      <th>Email</th>
      <th>Quyền</th>
      <th>Tên đầy đủ</th>
      <th>Cơ sở</th>
      <th>Tạo lúc</th>
      <th>Login lần cuối lúc</th>
      <th>Logout lần cuối lúc</th>
      <th>Thông tin chi tiết người dùng</th>
      <th>Sửa</th>
      <th>Đăng nhập</th>
    </tr>
  </thead>
  <tbody>
    <% @all_user.each do |user| %>
      <tr>
        <td><%= user[:id] %></td>
        <td><%= user[:username] %></td>
        <td><%= user[:email] %></td>
        <td><%= user[:account_role] %></td>
        <td><%= user[:full_name] %></td>
        <td><%= user[:company] %></td>
        <td><%= user[:created_at] %></td>
        <td><%= user[:last_sign_in_at] %></td>
        <td><%= user[:last_sign_out_at] %></td>
        <td><a href="/adm/user/user_info/<%= user[:id] %>" target="_blank">Xem</a></td>
        <td><a href="/adm/user/edit_user_info/<%= user[:id] %>">Sửa</a></td>
        <td><a href="/adm_user/<%= user[:id] %>" target="_blank">Đăng nhập</a></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>ID</th>
      <th>Tên đăng nhập</th>
      <th>Email</th>
      <th>Quyền</th>
      <th>Tên đầy đủ</th>
      <th>Cơ sở</th>
      <th>Tạo lúc</th>
      <th>Login lần cuối lúc</th>
      <th>Logout lần cuối lúc</th>
      <th>Thông tin chi tiết người dùng</th>
      <th>Sửa</th>
      <th>Đăng nhập</th>
    </tr>
  </tfoot>
</table>
<%= paginate @all_user, :remote => true  %>
<script>
  $(document).ready(function(){
    $('#adm_all_user').DataTable({
      "scrollX": true,
      "bLengthChange": false,
      "bFilter": true,
      "searching": false,
      "bInfo": false,
      "bPaginate": false
    });
  })
</script>
