<%= render 'user/open_educat/shared/session_calendar_box', {:session => session} %>

<% lesson = get_lesson_of_session(session) %>
<td>
  <div class="photo-box">
    <span>
      <%= thumbnail_tag lesson %>
    </span>
  </div>
</td>
<td>
  <strong><%= lesson.nil? ? 'Đang cập nhật' : 'Bài ' + lesson.lession_number.to_s %></strong><br/>
  <%= lesson.nil? ? 'Đang cập nhật' : lesson.name %> <br/>
  <%= lesson.nil? ? 'Đang cập nhật' : sanitize(truncate(lesson.note, :length => 50)) %>
</td>
<td align="center">
  <% attendance_line = attendance_line(session.id, current_user.op_student.id) %>
  <% if !attendance_line.nil? and attendance_line.present %>
    <span data-toggle='tooltip' title="Có đi học">
      <%= image_tag('global/images/check.png', style: 'width: 20px') %>
    </span>
  <% else %>
    <span data-toggle="tooltip" title="Nghỉ học" >
    <%= image_tag('global/images/remove.png', style: 'width: 20px') %>
    </span>
  <% end %>
</td>
<td align="right">
  <% if has_homework? current_user, session %>
  <a class='' href="/learning/view_question/<%= session.id %>" data-toggle="tooltip" data-remote="true" data-session="<%= session.id %>" title='Làm bài tập về nhà'>
    <span>
      <%= image_tag('global/images/icon-BTVN.png', style: 'width: 20px;margin-right: 10px') %>
    </span>
  </a>
<% else %>
  <a data-toggle="tooltip" title='Chưa có bài tập về nhà' style="opacity:0.2">
    <span>
      <%= image_tag('global/images/icon-BTVN.png', style: 'width: 20px;margin-right: 10px') %>
    </span>
  </a>
<% end %>
  <% if !attendance_line.nil? %>
    <span data-toggle="modal" data-target="#session_evaluation_view"> 
    <a class='student_evaluate_view' href="/user/open_educat/op_student/session_evaluation?session_id=<%= session.id %>" data-remote='true' data-toggle="tooltip" title='Nhận xét của giảng viên'>
      <span>
        <%= image_tag('global/images/icon-Comment.png', style: 'width: 20px;margin-right: 10px') %>
      </span>
    </a>
    </span>
  <% else %>
    <a style='opacity: 0.2' data-toggle="tooltip" title='Nhận xét của giảng viên'>
      <span>
        <%= image_tag('global/images/icon-Comment.png', style: 'width: 20px;margin-right: 10px') %>
      </span>
    </a>
  <% end %>
</td>
