<%= form_with model: refer, url: url, method: :post, locals: true, html: { class: 'student_refer_friend_form', id: 'student_refer_friend_form' } do |f| %>
  <div class='row'>
    <div class='col-md-3 col-md-push-1'>
      <label><%= t("adm.Parent's name")%>:<span style="color: red">*</span> </label>
    </div>
    <div class='col-md-7 col-md-push-1'>
      <%= f.text_field :parent_name, required: true %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3 col-md-push-1'>
      <label><%= t("adm.Parent email")%>: </label>
    </div>
    <div class='col-md-7 col-md-push-1'>
      <%= f.text_field :email,
          pattern: '^[a-z][a-z0-9_\.]{4,32}@[a-z0-9]{2,}(\.[a-z0-9]{2,4}){1,2}$'
       %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3 col-md-push-1'>
      <label><%= t("adm.Phone")%>:<span style="color: red">*</span> </label>
    </div>
    <div class='col-md-7 col-md-push-1'>
      <%= f.text_field :mobile, required: true, pattern: '(09|01[2|6|8|9])+([0-9]{8})\b'  %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3 col-md-push-1'>
      <label><%= t("adm.Other Note")%>:</label>
    </div>
    <div class='col-md-7 col-md-push-1'>
      <%= f.text_area :note, :rows => 6, maxlength: 255; %>
    </div>
  </div>
  <%= f.hidden_field :refer_by, value: current_user.id %>
<% end %>
<style>
#student_refer_friend_form input{
  width: 100%;
  padding: 5px;
}

#student_refer_friend_form textarea{
  width: 100%;
  padding: 5px;
}
#student_refer_friend_form .row {
  margin-top: 10px;
}
#student_refer_friend_form label{
  font-weight: 700;
}
</style>
