<%= stylesheet_link_tag 'redeem/redeem_product_detail' %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "redeem/redeem_product.js" %>
<% end %>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform"><%= @page_title%></h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <div class="redem-all">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="ra-detail">
              <div class='col-md-6 redeem_history'>
                <a data-toggle='modal' data-target="#modal_redeem_history" data-backdrop='true' id='show_modal_redeem_history' data-student="<%= current_user.id %>">Quà đã đổi</a>
              </div>
              <div class='col-md-6 coin_info'>
                <h2 class="number-coin"><%= number_with_delimiter(current_user.coin.to_i, delimiter: ".")%></h2>
                <p><span class="teky-coin-text"><%= t('reward.coin') %></span></p>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="ra-detail text-uppercase how_to_check_it">
              <a data-toggle="modal" href="#howToGetTekyCoinModal"><%= t('adm.redeem.how_to_check_it') %> <span class="teky-coin-text"><%= t('reward.coin') %></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="redem-filter">
        <div class="filter-box FlowupLabels" id='formBody'>
          <div class="row">
            <div class="col-md-4">
              <label class="filter-title"><%= t('adm.redeem.category_redeem')%></label>
            </div>
            <div class="col-md-offset-5 col-md-3">
              <div class='fl_wrap m-0 populated'>
                <label class='fl_label' for='rf_name'><%= t('adm.redeem.category')%>:</label>
                <select class='product_categories custom-select form-control-filters' id='rf_name' >
                  <option value='-1'><%= t('select.all')%></option>
                  <%= Redeem::RedeemProductCategory.select('id, name').all.each do |category| %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="redem-tab">        
        <!-- Tab panes -->
        <div class="tab-content row">
          <div class="tab-pane active" id="messages">
            <div class="row" style="display: flex; flex-wrap: wrap">
              <% @redeem_products.each_with_index do |product, index| %>
                <div class="col-sm-4 product_item product_category_<%= product.redeem_product_category.id %>">
                  <div class="rt-detail product_infomation">
                    <div class="rtd-img">
                      <div class="owl-carousel" id="product<%= index + 1 %>">
                        <% if product.images.present? %>
                          <% product.images.each do |img| %>
                            <div><%= image_tag img %></div>
                          <% end %>
                        <% else %>
                          <div><%= image_tag ('default_lesson_thumbnail.jpg') %></div>
                        <% end %>
                      </div>
                      <div style="margin-top: 35px">
                        <div class="product-brand text-uppercase"><%= product.redeem_product_brand.present? ? product.redeem_product_brand.name : '' %></div>
                        <h3 class="product-name"><%= product.name %></h3>
                      </div>
                    </div><!-- #  rtd-img-->
                    <% available_items = get_available_size_and_color product %>
                    <div class="rtd-text" style=" ">
                      <div style="padding-bottom: 10px; width: 100%;">
                        <div class="rtd-center clearfix product-option">
                          <div class="row">
                            <div class="col-md-5 right-color-li">
                              <div class="form-group rtdt-left">
                                <label><%= t('adm.redeem.redeem_color')%></label>
                                <ul style="margin-top: 0">
                                  <% available_items[:color].each do |color| %>
                                    <% if color.present? %>
                                      <li>
                                        <label class="check-multi">
                                          <input type="radio" class="product_color" name="product_color_<%= product.id %>" checked value='<%= color.id %>'>
                                          <span class="checkmark" style="background-color: <%= color.color_code  %>"></span>
                                        </label>
                                      </li>
                                    <% end %>
                                  <% end %>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-7">
                              <div class="row" style="margin: 0">
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6" style="padding:0">
                                  <div class="form-group rtdt-left">
                                    <label><%= t('adm.redeem.redeem_quantity')%></label>
                                    <div class='quantity_div'>
                                      <div class="minus_quantity">
                                        <i class="fa fa-minus"></i>
                                      </div>
                                      <input type='number' style="text-align: center; font-weight: 700;" class="form-control" name='product_amount' value="1" min='0'>
                                      <div class="plus_quantity">
                                        <i class="fa fa-plus"></i>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6" style='padding:0'>
                                  <div class="form-group rtdt-left">
                                    <label style='display: block;'><%= t('adm.redeem.redeem_available')%></label>
                                    <select name="" class="product_size form-control" style="padding: 5px 10px">
                                      <% available_items[:size].each do |size| %>
                                        <% if size.present? %>
                                          <option value="<%= size.id %>"><%= size.name %></option>
                                        <% end %>
                                      <% end %>
                                    </select>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="product-description">
                          <%= truncate(strip_tags(product.description), length: 220, separator: ' ')%>
                        </div>
                        <div class="rtd-btn clearfix">
                          <div class="row">
                            <div class="col-md-5">
                              <div class="product-box">
                                <p class="product-coin-text"><%= t('reward.coin')%></p>
                                <p class="product-coin-number"><%= number_with_delimiter(product.price.to_i, delimiter: ".") %></p>
                              </div>
                            </div>
                            <div class="col-md-7">
                              <input type='hidden' name="redeem_product_id" value='<%= product.id %>'>
                              <% if !Rails.env.production? && (current_user.coin > product.price) %>
                                <button data-toggle="modal" data-target="#confirm_redeem_modal" id="btn_redeem_product_confirm" data-product="<%= product.id %>" class='btn btn-primary btn-embossed bg-5DC2A7 redeem_product_submit text-uppercase'  ><%= t('adm.redeem.redeem_button')%></button>
                              <% else %>
                                <button data-product="<%= product.id %>" class='btn btn-secondary btn-embossed redeem-product-submit-disabled text-uppercase' disabled  ><%= t('adm.redeem.redeem_button')%></button>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div><!-- #  rtd-text-->
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type='hidden' id='active_product_size' value=''>
<input type='hidden' id='active_product_color' value=''>
<input type='hidden' id='active_product_amount' value=''>
<!-- modal show how to get more -->
  <div class="modal fade" id="howToGetTekyCoinModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= t('adm.redeem.how_to_check_it') %> <span class="teky-coin-text"><%= t('reward.coin') %></span></h4>
        </div>
        <div class="modal-body">
          <iframe src="https://drive.google.com/file/d/1jTWBsCw_wCFxeFasCO48uolZvXoIFyby/preview" width="100%" height="600"></iframe>
        </div>
        <div class="modal-footer  bg-D7DFE9">
          <button type="submit" class="btn btn-primary btn-embossed bg-5DC2A7" data-dismiss="modal"><%= t('button.text_ok')%></button>
        </div>
      </div>
    </div>
  </div>

<div id='confirm_redeem_modal' class="modal fade" role="dialog">
</div>

<div id='modal_redeem_history' class='modal fade' role='dialog'>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Lịch sử đổi quà!</h4>
        </div>
        <div class="modal-body" id='redeem_history_content'>
        </div>
        <div class="modal-footer  bg-D7DFE9">
          <button type="submit" class="btn btn-primary btn-embossed bg-5DC2A7" data-dismiss="modal"><%= t('button.text_ok')%></button>
        </div>
      </div>
    </div>
</div>

<style>
.product-description {
  overflow: hidden;
}
</style>

<%= javascript_include_tag ('redeem/index.js') %>
<%= stylesheet_link_tag ('redeem/index.css' ) %>
