<%= stylesheet_link_tag 'redeem/redeem_product_detail' %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "redeem/redeem_product.js" %>
<% end %>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform"><%= @page_title%></h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <div class="redem-all">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="ra-detail">
              <h2 class="number-coin"><%= number_with_delimiter(current_user.coin.to_i, delimiter: ".")%></h2>
              <p><span class="teky-coin-text"><%= t('reward.coin') %></span></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="ra-detail text-uppercase how_to_check_it">
              <a href=""><%= t('adm.redeem.how_to_check_it') %> <span class="teky-coin-text"><%= t('reward.coin') %></span></a>
            </div>
          </div>
        </div>
      </div>
      <div class="redem-filter">
        <div class="filter-box FlowupLabels" id='formBody'>
          <div class="row">
            <div class="col-md-4">
              <label class="filter-title"><%= t('adm.redeem.category_redeem')%></label>
            </div>
            <div class="col-md-offset-5 col-md-3">
              <div class='fl_wrap m-0'>
                <label class='fl_label' for='rf_name'><%= t('adm.redeem.category')%>:</label>
                <select class='product_categories fl_input' id='rf_name' >
                  <option value='-1'><%= t('select.all')%></option>
                  <%= Redeem::RedeemProductCategory.select('id, name').all.each do |category| %>
                    <option value="<%= category.id %>"><%= category.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="redem-tab">        
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="messages">
            <div class="row">
              <% @redeem_products.each_with_index do |product, index| %>
                <div class="col-sm-4 product_item product_category_<%= product.redeem_product_category.id %>">
                  <div class="rt-detail product_infomation">
                    <div class="rtd-img">
                      <div class="owl-carousel" id="product<%= index+1 %>">
                        <% if product.images.present? %>
                          <% product.images.each do |img| %>
                            <div><%= image_tag img %></div>
                          <% end %>
                        <% else %>
                          <div><%= image_tag ('default_lesson_thumbnail.jpg') %></div>
                        <% end %>
                      </div>
                    </div><!-- #  rtd-img-->
                    <% available_items = get_available_size_and_color product %>
                    <div class="rtd-text">
                      <div class="product-brand text-uppercase"><%= product.redeem_product_brand.present? ? product.redeem_product_brand.name : '' %></div>
                      <h3 class="product-name"><%= product.name %></h3>
                      <div class="rtd-center clearfix product-option">
                        <div class="row">
                          <div class="col-md-5 right-color-li">
                            <div class="form-group rtdt-left">
                              <label><%= t('adm.redeem.redeem_color')%></label>
                              <ul style="margin-top: 0">
                                <% available_items[:color].each do |color| %>
                                  <% if color.present? %>
                                    <li>
                                      <label class="check-multi">
                                        <input type="radio" name="product_color" checked value='<%= color.color_code %>'>
                                        <span class="checkmark" style="background-color: <%= color.color_code  %>"></span>
                                      </label>
                                    </li>
                                  <% end %>
                                <% end %>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <div class="row">
                              <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6" style="padding:0">
                                <div class="form-group rtdt-left">
                                  <label><%= t('adm.redeem.redeem_quantity')%></label>
                                  <div class='quantity_div'>
                                    <div class="minus_quantity">
                                      <i class="fa fa-minus"></i>
                                    </div>
                                    <input type='number' style="text-align: center; font-weight: 700;" class="form-control" name='product_amount' value="1" min='0'>
                                    <div class="plus_quantity">
                                      <i class="fa fa-plus"></i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-6 col-md-12 col-lg-6" style='padding:0'>
                                <div class="form-group rtdt-left">
                                  <label style='display: block;'><%= t('adm.redeem.redeem_available')%></label>
                                  <select name="" class="product_size form-control" style="padding: 5px 10px">
                                    <% available_items[:size].each do |size| %>
                                      <% if size.present? %>
                                        <option value="<%= size.name %>"><%= size.name %></option>
                                      <% end %>
                                    <% end %>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="product-description">
                        <%= truncate(strip_tags(product.description), length: 220, separator: ' ')%>
                      </div>
                      <div class="rtd-btn clearfix">
                        <div class="row">
                          <div class="col-md-5">
                            <div class="product-box">
                              <p class="product-coin-text"><%= t('reward.coin')%></p>
                              <p class="product-coin-number"><%= number_with_delimiter(product.price.to_i, delimiter: ".") %></p>
                            </div>
                          </div>
                          <div class="col-md-7">
                            <input type='hidden' name="redeem_product_id" value='<%= product.id %>'>
                            <% if !Rails.env.production? %>
                              <button data-toggle="modal" data-target="#confirm_redeem_modal" id="btn_redeem_product_confirm" data-product="<%= product.id %>" class='btn btn-primary btn-embossed bg-5DC2A7 redeem_product_submit text-uppercase'  ><%= t('adm.redeem.redeem_button')%></button>
                            <% else %>
                              <button data-product="<%= product.id %>" class='btn btn-secondary btn-embossed redeem-product-submit-disabled text-uppercase' disabled  ><%= t('adm.redeem.redeem_button')%></button>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div><!-- #  rtd-text-->
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type='hidden' id='active_product_size' value=''>
<input type='hidden' id='active_product_color' value=''>
<input type='hidden' id='active_product_amount' value=''>

<div id='confirm_redeem_modal' class="modal fade" role="dialog">
</div>

<style>
.product-description {
  overflow: hidden;
}
</style>

<script>
  function changeQuantity(target, count){
    current_val = target.val()
    new_val = parseInt(current_val) + count
    if (new_val >= 0){
      target.val(new_val);
    }else{
      target.val(0);
    }
  }

  $(document).ready(function() {
    $('.product_categories').on('change', function(){
      $('.product_item').hide();
      category_id = $(this).val();
      if (category_id == '-1'){
        $('.product_item').show()
      }
      else{
        $('.product_category_' + category_id).show();
      }
    });

    $('.minus_quantity').on('click', function(){
      target = $(this).parent().find('input[name="product_amount"]');
      changeQuantity(target, -1)
    })
    $('.plus_quantity').on('click', function(){
      target = $(this).parent().find('input[name="product_amount"]');
      changeQuantity(target, 1)
    })
  });
</script>
<style>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  .product-option .form-control {
    padding: 5px 10px;
  }
  select.product_size {
    width: 70px;
  }
  .quantity_div {
    width: 90px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    border: 1px solid #ECEDEE;
  }
  .quantity_div div {
    display: flex;
  }
  .quantity_div i {
    padding: 0 !important;
    margin: auto;
  }

  .redeem-product-submit-disabled {
    width: 100%;
    height: 57px !important;
    color: #2F2F3E;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    padding-top: 17px;
  }
</style>
