<%= stylesheet_link_tag ('swiper.min.css') %>

<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform"><%= @page_title%></h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <div class='row'>
        <div class='col-md-6'>
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                <% @redeem_product.images.each do |img| %>
                  <div class="swiper-slide" ><%= image_tag(img)  %></div>
                <% end %>
              </div>
            </div>
            <div class="swiper-container gallery-thumbs">
              <div class="swiper-wrapper">
                  <% @redeem_product.images.each do |img| %>
                    <div class="swiper-slide" ><%= image_tag(img)  %></div>
                  <% end %>
              </div>
            </div>

        </div>
        <div class='col-md-6'>
          <div class="rt-detail product_infomation box-detail">
            <div class="product-brand text-uppercase"><%= t('adm.redeem.brand')%>: <%= @redeem_product.brand %></div>
            <h3 class="product-name"><%= @redeem_product.name %></h3>
            <hr class="product-line">
            <div class='product_description'>
                <label><%= t('student_project.description')%></label>
                <hr>
                <% if !@redeem_product.description.nil? && @redeem_product.description.length > 0 %>
                <div style="max-height:300px; overflow-y: scroll;"><%= @redeem_product.description %></div>
                <% end %>
                <div style="max-height:300px; overflow-y: scroll;">Thế Vinh chỉ cho Tiến để Tiến assign vận hành holdings nhắc xuống các cơ sở nhé
                 Thế Vinh chỉ cho Tiến để Tiến assign vận hành holdings nhắc xuống các cơ sở nhé
                 Thế Vinh chỉ cho Tiến để Tiến assign vận hành holdings nhắc xuống các cơ sở nhé
                 Thế Vinh chỉ cho Tiến để Tiến assign vận hành holdings nhắc xuống các cơ sở nhé
                 Thế Vinh chỉ cho Tiến để Tiến assign vận hành holdings nhắc xuống các cơ sở nhé
                </div>
            </div>
            <div class="rtd-center clearfix redeem_info">
              <label><%= t('adm.redeem.product_infomation')%></label>
              <hr style="margin: 0">
              <div class="rtdt-left">
                <div class="form-group pos-relative">
                  <label for="exampleInputEmail1" class="form-title pos-absolute"><%= t('adm.redeem.redeem_color')%></label>
                  <ul>
                    <% @redeem_product.available_color.each do |color| %>
                      <li>
                        <label class="check-multi">
                          <input type="radio" name="product_color" checked value='<%= color %>'>
                          <span class="checkmark" style="background-color: <%= color %>"></span>
                        </label>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
              <div class="rtdt-left">
                <div class='row'>
                  <div class='col-md-6'>
                    <div class="form-group fl_wrap m-t-0">
                      <label for="exampleInputEmail1"><%= t('adm.redeem.redeem_quantily')%></label>
                      <select name="product_amount" id="product_amount" class="product_amount form-control redeem_product_select">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>
                    </div>
                  </div>
                  <div class='col-md-6 fl_wrap m-t-0'>
                    <div class="form-group">
                      <label for="exampleInputEmail1"><%= t('adm.redeem.redeem_available')%></label>
                      <select name="product_size" id="product_size" class="product_size form-control redeem_product_select">
                        <% @redeem_product.available_size.each do |size| %>
                        <option value="<%= size %>"><%= size %></option>
                        <% end %>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="rtdt-left">
              <div class='row'>
                <div class='col-md-12'>
                <div class="form-group fl_wrap m-t-0">
                  <label for="exampleInputEmail1"><%= t('adm.redeem.address_accepting_gifts')%></label>
                  <select name="" id="select_redeem_company" class="redeem_product_select form-control">
                    <% Common::ResCompany.all.each do |company| %>
                      <option value='<%= company.id %>'><%= company.name %></option>
                    <% end %>
                  </select>
                </div>
                </div>
              </div>
              <div class='row'>
                <div class='col-md-12 '>
                  <label for="exampleInputEmail1"><%= t('adm.redeem.receiving_gifts_time')%></label>
                  <input type="text" id="redeem_time"  class='form-control' name='expected_time'  value="<%= Time.now.strftime('%m/%d/%Y') %>" />
                </div>
              </div>
            </div>
            <div class="rtd-btn clearfix" style="margin-top: 20px">
                <div class="row">
                  <div class="col-md-5">
                    <div class="product-box">
                      <p class="product-coin-text"><%= t('reward.coin')%></p>
                      <p class="product-coin-number"><%= number_with_delimiter(@redeem_product.price.to_i, delimiter: ".") %></p>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <input type='hidden' name="redeem_product_id" value='<%= @redeem_product.id %>'>
                    <button data-toggle="modal" data-target="#confirm_redeem_modal" id="btn_redeem_product_confirm" class='btn btn-primary btn-embossed bg-5DC2A7 redeem_product_submit text-uppercase'  ><%= t('adm.redeem.redeem_button')%></button>                          
                  </div>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<form class="form-inline">
  <div id='confirm_redeem_modal' class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" style="text-transform: none;"><%= t('user.hello')%> <span class="color-5DC2A7"><%= current_user.op_student.full_name %></span>, <%= t('adm.redeem.Gift information you want to redeem')%></h4>
          </div>
          <div class="modal-body">            
              <div class="product-name"><%= t('student_project.project_name')%>: <%= @redeem_product.name %></div>
              <div class="product-brand"><%= t('adm.redeem.brand')%>: <span class="color-0654BA text-uppercase"><%= @redeem_product.brand %></span>
              </div>

              <div class="col-sm-4">
                <label><%= t('adm.redeem.redeem_color')%>: <span id="confirm_redeem_color"></span></label>                
              </div>

              <div class="col-sm-4">
                <label><%= t('adm.redeem.redeem_quantily')%>: <span id="confirm_redeem_quantily" ></span></label>
              </div>

              <div class="col-sm-4">
                <label><%= t('adm.redeem.redeem_available')%>: <span id="confirm_redeem_available" >xxxx</span></label>
              </div>

              <div class="col-sm-12">
                <label><%= t('adm.redeem.address_accepting_gifts')%>: <span id="confirm_redeem_address_accepting_gifts" ></span></label>
              </div>

              <div class="col-sm-12">
                <label><%= t('adm.redeem.receiving_gifts_time')%>: <span id="confirm_redeem_receiving_gifts_time" >receiving_gifts_time</span></label>
              </div>

              <div class="col-sm-12">
                <label>Phải trả <span class="product-coin-text" id="confirm_redeem_receiving_coin" ></span> <span class="product-coin-text"><%= t('reward.coin')%></span></label>
              </div>
          </div>
          <div class="modal-footer fc-footer text-right">
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal"><%= t('button.text_no')%></button>
            <button type="button" class="btn btn-primary bg-5DC2A7" id='redeem_product_confirm' data-dismiss="modal"><%= t('button.text_ok')%></button>
          </div>
      </div>
    </div>
  </div>
</form>
<style>
.redeem_product_select {
  -webkit-appearance: none;
}
</style>
<script type="text/javascript">
  var product_price = <%= @redeem_product.price.to_i%>
</script>
<%= stylesheet_link_tag 'redeem/redeem_product_detail' %>
<%= javascript_include_tag 'redeem/redeem_product.js' %>
