<div class="table-responsive p-0" style="height: 400px;">
    <table class="table table-sm" style="font-size:.875rem">
    <table class="table table-head-fixed text-nowrap" style="font-size:.875rem">
        <thead>
        <tr>
            <th style="width: 10px" class="text-center">#</th>
            <th>Center</th>
            <th style="width: 10%;color:#007BFF" class="text-center">Check in</th>
            <th style="width: 10%; color:#DC3545" class="text-center">Not</th>
        </tr>
        </thead>
        <tbody>
        <% @list_data.each_with_index  do |ct, index| %>
        <tr class="company_detail" data-id="company_<%= ct[:id]%>">
            <td style="width:10px" class="text-center"><%= (index + 1)%></td>
            <td title="<%= ct[:name]%>"><a href="#company_<%= ct[:code]%>" style="color:#869099"><i class="fa fa-plus" style="font-size:10px;"></i>  <%= ct[:name]%></a></td>
            <td class="text-center"><span class="badge bg-primary"><%= ct[:total_check_in]%></span></td>
            <td class="text-center"><span class="badge bg-danger"><%= ct[:total_not_check_in]%></span></td>
        </tr>
        <% end %>
        </tbody>
    </table>
</div>