<div class='card'>
  <div class="card-header">
    <h3 class="card-title"><%= t('adm.learning.session.name') %></h3>
    <div class="card-tools">
      <a href="/adm/contest/contests/new" class="btn btn-info float-right"><i class="fas fa-plus"></i>Thêm mới</a>
    </div>
  </div>
  <div class="card-body p-0">
    <div id='data-content'>
      <div id="contest_data_table" class="table table-responsive">
        <table id="" class="table table-condensed table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>State</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @contests.each do |contest| %>
              <tr>
                <td><%= contest.id %></td>
                <td><%= contest.name %></td>
                <td><%= contest.description.present? ? contest.description.html_safe : '' %></td>
                <td><%= contest.is_publish ? 'Active' : 'Inactive' %></td>
                <td style="min-width: 100px">
                    <a href="/adm/contest/contests/<%= contest[:id] %>" target="_blank"><i class="far fa-eye"></i></a>
                  <% unless contest_has_projects contest %>
                    <a class="delete-contest" data-contest="<%= contest.id %>" ><i class="fas fa-trash"></i></a>
                  <% else %>
                    <a class="delete-contest" disabled data-contest="<%= contest.id %>" ><i class="fas fa-trash"></i></a>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Description</th>
              <th>State</th>
              <th style="min-width: 100px">Action</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
  <div class="card-footer">
  </div>
</div>
<style>
.delete-contest {
  cursor: pointer;
}
</style>
<script>
  $('.delete-contest').on('click', function(){
    td = $(this)
    id = $(this).data('contest');
    $.ajax({
      method: 'POST',
      url: '/adm/contest/contests/delete_contest',
      data: {id: id},
      success: function(res){
        display_response_noti(res)
        if (res.type === 'success'){
          td.closest("tr").hide();
        }
      }
    })
  })
</script>
