<%= javascript_include_tag "adm/contest/contests.js" %>

<div class="card">
  <div class="card-footer">
    <h3 class="card-title"><label><%= t('Contest.Content.Add new contest') %></label></h3>
  </div>
  <div class="card-header p-0 pt-1 border-bottom-0">
    <ul class="nav nav-tabs" id="contest-create-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="create-contest-tab" data-toggle="pill" href="#create-contest" role="tab" aria-controls="create-contest" aria-selected="false"><%= t('Contest.Content.Contest info') %></a>
      </li>
      <li class="nav-item create-contest-prize-li">
        <a class="nav-link" id="create-contest-prize-tab" data-toggle="pill" href="#create-contest-prize" role="tab" aria-controls="create-contest-prize" aria-selected="false">Contest Prize</a>
      </li>
      <li class="nav-item create-contest-topic-li">
        <a class="nav-link" id="create-contest-topic-tab" data-toggle="pill" href="#create-contest-topic" role="tab" aria-controls="create-contest-topic" aria-selected="false">Contest Topic</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="create-contest-info-content">
      <div class="tab-pane fade active show" id="create-contest" role="tabpanel" aria-labelledby="create-contest-tab">
        <%= render "adm/contest/contests/partials/contest_info", { contest: @contest, title: "XXXX" } %>
      </div>
      <div class="tab-pane fade" id="create-contest-prize" role="tabpanel" aria-labelledby="create-contest-prize-tab">
        <div id="contest-prize-table">
        </div>
        <div id="create-new-contest-prize">
        </div>
      </div>
      <div class="tab-pane fade" id="create-contest-topic" role="tabpanel" aria-labelledby="create-contest-topic-tab">
        <div id="contest-topic-table">
        </div>
        <div id="create-new-contest-topic">
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer border-top">
    <div class="float-right">
    <button form='idForm' type="button" data-contest="<%= @contest&.id %>" id="update-contest-button" class="btn btn-default btn-sm bg-olive"><i class="fas fa-save"></i> <%= t('button.Save')%></button>
    <a href="#" class="btn btn-default btn-sm"><i class="fas fa-ban"></i> <%= t('button.cancel')%></a>          
    </div>      
  </div>
</div>
</div>

<style>
.create-contest-prize-li {
  display: none;
}
.create-contest-topic-li {
  display: none;
}
</style>
<script>
  $(document).ready(function(){
    setSummerNote('.contest-description-textarea')
  })
</script>
