<%= tinymce_assets %>
<%= javascript_include_tag 'tinymce/langs/vi_VN.js' %>

<div class='card'>
  <div class="card-footer">
    <h3 class="card-title text-info"><label><%= t('Contest.Content.Edit contest') %></label>: <%= @contest&.name %></h3>          
  </div>

  <div class="card-header p-0 pt-1 border-bottom-0">    
    <ul class="nav nav-tabs pull-right" id="custom-tabs-three-tab" role="tablist">          
      <li class="nav-item header">
        <a class="nav-link active" id="tab-contest-info-tab" data-toggle="pill" href="#tab-contest-info" role="tab" aria-controls="tab-contest-info" aria-selected="true"><label><%= t("Contest.Content.Contest info")%></label></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-contest-topic-tab" data-toggle="pill" href="#tab-contest-topic" role="tab" aria-controls="tab-contest-topic" aria-selected="false"><label><%= t('Contest.Content.Contest topics') %></label></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="tab-contest-prize-tab" data-toggle="pill" href="#tab-contest-prize" role="tab" aria-controls="tab-contest-prize" aria-selected="false"><label><%= t('Contest.Content.Contest prize') %></label></a>
      </li>          
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="custom-tabs-three-tabContent">
        <div class="tab-pane fade active show" id="tab-contest-info" role="tabpanel" aria-labelledby="tab-contest-info">
          <%= render "adm/contest/contests/partials/contest_info", {contest: @contest} %>
        </div>

        <div class="tab-pane fade" id="tab-contest-topic" role="tabpanel" aria-labelledby="tab-contest-topic">
          <div class='card'>
            <div class="card-header">
              <h3 class="card-title text-info"><%= t('Contest.Topic.List') %></h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                <button
                type="button"
                class="btn btn-info btn-sm bg-olive float-right btn-edit-topic"
                data-backdrop="static"
                data-toggle="modal"
                data-remote="true"
                data-topic=""
                data-title=""
                data-load-url="/adm/contest/contest_topics/new"
                title="Edit"
                data-target="#modal_create_contest_topic"><i class="fas fa-plus"></i></button>

              </div>
            </div>
            <div class="card-body">
              <%= render 'adm/contest/contest_topics/index', { contest_topics: @contest_topics } %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab-contest-prize" role="tabpanel" aria-labelledby="tab-contest-prize">
          <%= render 'adm/contest/contest_prizes/partials/contest_prizes_table', { contest: @contest, prizes: @contest.contest_prizes, add_new: true } %>
        </div>
    </div>
  </div>
  
</div>

<div class="modal fade" id="modal_create_contest_prize" >
  <div class="modal-title">
    <button type="button" class="close button-close-modal" data-dismiss="modal">&times;</button>
    <label>Them prize</label>
  </div>
  <div class="modal-content" style="width: 80%; margin: auto">
    <div class="modal-body">
      <%= render "adm/contest/contest_prizes/partials/contest_prize_detail", { contest: @contest, prize: Contest::ContestPrize.new, option: '' } %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_create_contest_topic_old" role="dialog" aria-labelledby="modal_create_contest_topicLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title"></h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
         </button>
      </div>
        <div class="modal-body" id="modal_update_lesson">
        <%= render "adm/contest/contest_topics/partials/contest_topic_detail", { contest: @contest, topic: Contest::ContestTopic.new, option: '', add_new: true } %>
        </div>
        <div class="modal-footer">
          <div class="btn-group">
            <button type='button' data-dismiss="modal" id="create-contest-topic-confirm" class="btn btn-default btn-sm bg-olive" data-topic=""><i class="fas fa-save"></i>&nbsp;<%= t('button.Save')%></button>&nbsp&nbsp
            <button type="button" class="btn btn-default btn-sm btn-close" data-dismiss="modal"><i class="fas fa-ban"></i> <%= t('button.Close')%>
            </button>
          </div>
        </div>
    </div>
  </div>
</div>

<%= render "adm/contest/contest_topics/partials/modal_create_contest_topic", { contest: @contest, topic: Contest::ContestTopic.new} %>
<%= tinymce :fulleditor %>
<script>
  $(document).ready(function(){
    //setSummerNote('#contest_description');



    $('#modal_create_contest_topic').on('show.bs.modal', function (e) {
    
      $('#topic_id').val($(e.relatedTarget).data("topic"));

      $("#modal_update_topic").html('<div style="display: block;font-size: 12px;" class="text-primary"><i class="fa fa-spinner fa-2x fa-spin" style="padding: 3px;"></i><%= t('button.Loading')%></div>');
      var loadurl = $(e.relatedTarget).data('load-url');    
      $("#remoteModalLessonUpdate .modal-title").html('<%= t('learning.subject')%>: ' + $(e.relatedTarget).data('title'));
      $(this).find('.modal-body').load(loadurl);
    });


  });
</script>
<%= javascript_include_tag "adm/contest/contests.js" %>