<div class='card'>
  <div class="card-body">
    <div class='filter_form'>
      <div class='row'>
        <div class='col-md-4'>
          <div class="form-group">
            <label for='filter-batch'><%= t("learning.batch.code") %></label>
            <select class='select2 select2-hidden-accessible' id='filter-batch' data-placeholder="<%= t("adm.learning.session.select_batch") %>" name="batch[]" multiple="multiple" >
              <% @allow_batches.all.each do |batch| %>
                <option value='<%= batch.id %>'><%= batch.code %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="form-group">
            <label for='filter-company'><%= t("adm.learning.session.academy") %></label>
            <select class='select2 select2-hidden-accessible' id='filter-company' data-placeholder="<%= t("adm.learning.session.select_academy") %>" name="company[]" multiple="multiple" >
              <% @allow_companies.all.each do |company| %>
                <option value='<%= company.id %>'><%= company.name %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class='col-md-4'>
          <div class="form-group">
            <label for="filter-time"><%= t("adm.learning.session.time") %></label>
            <input type="text" class="form-control" id="filter-time">
          </div>
        </div>
      </div>
      <div class='row'>
        <div class="col-md-4">
          <div class="form-group">
            <label for='filter-state'><%= t("adm.learning.session.state") %></label>
            <select class="select2 select2-hidden-accessible" id='filter-state' data-placeholder="<%= t("adm.learning.session.select_state") %>" name="state[]" multiple="multiple" >
              <% @session_states.each do |state| %>
                <option value='<%= state %>'><%= state %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for='filter-photo'><%= t("adm.learning.session.photo") %></label>
            <select class="select2 select2-hidden-accessible" id='filter-photo' data-placeholder="<%= t("adm.learning.session.select_state") %>" name="photo" >
              <option value="all" selected><%= t('adm.learning.session.all') %></option>
              <option value="1"><%= t('adm.learning.session.no_photo') %></option>
              <option value="0"><%= t('adm.learning.session.had_photo') %></option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for='filter-attendance'><%= t("adm.learning.session.attendance") %></label>
            <select class="select2 select2-hidden-accessible" id='filter-attendance' data-placeholder="<%= t("adm.learning.session.select_state") %>" name="attendance" >
              <option value="all" selected><%= t('adm.learning.session.all') %></option>
              <option value="0"><%= t('adm.learning.session.no_attendance') %></option>
              <option value="1"><%= t('adm.learning.session.evaluation_attendance') %></option>
              <option value="3"><%= t('adm.learning.session.invalid_attendance') %></option>
            </select>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-4'>
          <label class="custom-checkbox">Buổi cuối khoá
            <input type="checkbox" class="student_project_info_show">
            <span class="checkmark-sc"></span>
          </label>
        </div>
        <div class='col-md-4'>
          <label class="custom-checkbox">Show thông tin sản phẩm cuối khóa
            <input type="checkbox" class="student_project_info_show">
            <span class="checkmark-sc"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class='offset-10 col-md-2'>
          <button type="submit" class="btn btn-primary" id="submit_filter_sessions"><%= t("adm.user.filter") %></button>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-sc {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark-sc {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark-sc {
  background-color: #2196F3;
}

/* Create the checkmark-sc/indicator (hidden when not checked) */
.checkmark-sc:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark-sc when checked */
.custom-checkbox input:checked ~ .checkmark-sc:after {
  display: block;
}

/* Style the checkmark-sc/indicator */
.custom-checkbox .checkmark-sc:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
</style>
