<table id="adm_session_list" class="display nowrap" style="width:100%">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t("learning.batch.code") %></th>
      <th><%= t("learning.batch.code") %></th>
      <th><%= t("adm.learning.session.faculty_name") %></th>
      <th><%= t("adm.learning.session.session_count") %></th>
      <th><%= t("adm.learning.session.lesson_number") %></th>
      <th><%= t("adm.learning.session.start_datetime") %></th>
      <th><%= t("adm.learning.session.state") %></th>
      <th><%= t("adm.learning.session.information") %></th>
      <th>GVĐD</th>
      <th>VHĐD</th>
      <th><%= t("adm.learning.session.academy") %></th>
    </tr>
  </thead>
  <tbody>
    <% sessions.each do |session| %>
      <tr>
        <td><%= session[:id] %></td>
        <td><%= session[:course_name] %></td>
        <td><%= session[:batch_code] %></td>
        <td>
          <% user = User::Account::User.where(faculty_id: session[:faculty_id]).first %>
          <% if user.present? %>
            <a href='/adm/user/user_info/<%= user.id %>' target='blank'><%= session[:faculty_name] %></a>
          <% else %>
            <a><%= session[:faculty_name] %></a>
          <% end %>
        </td>
        <td align='center'><%= session[:session_count] %></td>
        <td align='center'><%= session[:lesson_number] %></td>
        <td align='center'><%= session[:start_datetime].strftime('%H:%M %d-%m-%Y') %></td>
        <% if session[:state] == Learning::Constant::Batch::Session::STATE_DRAFT %>
          <td class="bg-warning text-center"><%= session[:state] %></td>
        <% elsif session[:state] == Learning::Constant::Batch::Session::STATE_CONFIRM %>
          <td class="bg-primary text-center"><%= session[:state] %></td>
        <% elsif session[:state] == Learning::Constant::Batch::Session::STATE_DONE %>
          <td class="bg-success text-center"><%= session[:state] %></td>
        <% elsif session[:state] == Learning::Constant::Batch::Session::STATE_CANCEL %>
          <td class="bg-secondary text-center"><%= session[:state] %></td>
        <% end %>
        <td align="center">
          <% if SocialCommunity::Photo.where(session_id: session[:id]).first.present? %>
          <span class="session_info">
            <a class="session_photo_modal" data-toggle="modal" data-target="#modal_adm_session_photo" data-session="<%= session[:id] %>">
              <%= image_tag "global/images/new-post-add-photo-btn.png" %>
            </a>
          </span> 
          <% else %>
          <span class="session_info">
            <a class="session_photo_modal" style='opacity: 0.3' disabled>
              <%= image_tag "global/images/new-post-add-photo-btn.png" %>
            </a>
          </span> 
          <% end %>
          <span class="session_info">
            <% if session[:state] != 'done' %>
              <a class="" style="opacity: 0.3" disabled>
                <%= image_tag "global/images/icon-BTVN.png" %>
              </a>
            <% else %>
              <a class="session_attendance_modal" data-toggle="modal" data-target="#modal_adm_session_attendance" data-session="<%= session[:id] %>">
                <%= image_tag "global/images/icon-BTVN.png" %>
              </a>
            <% end %>
          </span> 
          <!--<span class="session_info">
            <a class="session_video_modal" data-toggle="modal" data-target="#modal_adm_session_video" data-session="<%= session[:id] %>">
              <%#= image_tag "global/images/youtube-button.png" %>
            </a>
          </span> -->
        </td>
        <td><%= session[:count_attendance_line] %></td>
        <td><%= session[:count_session_student] %></td>
        <td><%= session[:company_name] %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>ID</th>
      <th><%= t("learning.batch.code") %></th>
      <th><%= t("learning.batch.code") %></th>
      <th><%= t("adm.learning.session.faculty_name") %></th>
      <th><%= t("adm.learning.session.session_count") %></th>
      <th><%= t("adm.learning.session.lesson_number") %></th>
      <th><%= t("adm.learning.session.start_datetime") %></th>
      <th><%= t("adm.learning.session.state") %></th>
      <th><%= t("adm.learning.session.information") %></th>
      <th>GVĐD</th>
      <th>VHĐD</th>
      <th><%= t("adm.learning.session.academy") %></th>
    </tr>
  </tfoot>
</table>
<style>
  .session_info img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  .session_info {
    margin-right: 7px;
  }
  .dataTables_scrollBody {
    transform:rotateX(180deg);
}
  .dataTables_scrollBody table {
    transform:rotateX(180deg);
  }
</style>
<script>
  $(document).ready(function() {
    $('#adm_session_list').DataTable({
      "scrollX": true,
      "responsive": true,
      "bLengthChange": false,
      "bFilter": true,
      "searching": false,
      "bInfo": false,
      "bPaginate": false
    });
  })
</script>
