<table id="adm_session_list" class="table table-condensed table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t("learning.batch.code") %></th>
      <th><%= t("adm.learning.session.faculty_name") %></th>
      <th><%= t("adm.learning.session.session_count") %></th>
      <th><%= t("adm.learning.session.lesson_number") %></th>
      <th><%= t("adm.learning.session.start_datetime") %></th>
      <th><%= t("adm.learning.session.state") %></th>
      <th><%= t("adm.learning.session.information") %></th>
      <th><%= t("adm.learning.session.academy") %></th>
    </tr>
  </thead>
  <tbody>
    <% sessions.each do |session| %>
      <tr>
        <td><%= session[:id] %></td>
        <td><%= session[:batch_code] %></td>
        <td><%= session[:faculty_name] %></td>
        <td align='center'><%= session[:session_count] %></td>
        <td align='center'><%= session[:lesson_number] %></td>
        <td align='center'><%= session[:start_datetime].strftime('%H:%M %d-%m-%Y') %></td>
        <td><%= render :partial => "session_state", :locals => {session: session} %></td>
        <td align="center">
          <%= render :partial => "review_stats", :locals => {session: session} %>
        </td>
        <td><%= session[:company_name] %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>#</th>
      <th><%= t("learning.batch.code") %></th>
      <th><%= t("adm.learning.session.faculty_name") %></th>
      <th><%= t("adm.learning.session.session_count") %></th>
      <th><%= t("adm.learning.session.lesson_number") %></th>
      <th><%= t("adm.learning.session.start_datetime") %></th>
      <th><%= t("adm.learning.session.state") %></th>
      <th><%= t("adm.learning.session.information") %></th>
      <th><%= t("adm.learning.session.academy") %></th>
    </tr>
  </tfoot>
</table>
