<% content_for :javascript_includes do %>
  <%= javascript_include_tag "adm/learning/session" %>
<% end %>

<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag 'adm/learning/sessions' %>
<% end %>

<%= stylesheet_link_tag "fotorama.css" %>
<%= javascript_include_tag "fotorama.js" %>

<%= render "filter_bar" %>

<div class='card'>

  <div class="card-header">
    <h3 class="card-title"><%= t('adm.learning.session.name') %></h3>
    <div class="card-tools">
      <div class="paginator">
      </div>
    </div>
  </div>

  <div class="card-body p-0">
    <div id='loading-div'>
      <%= render 'partials/content_loading' %>
    </div>
    <div id='data-content'>
      <div id="session_data_table" class="table table-responsive">
      </div>
    </div>
    <div class="modal fade" id="modal_adm_session_photo">
      <div class="modal-dialog" style='max-width: 100%; margin: 0'>
        <div class="modal-content" id="modal_adm_session_photo_content">
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="float-right paginator">
    </div>
  </div>
</div>

<input name="attendance_student_list" type="hidden" value="">
<div class="modal" id="modal_adm_session_attendance">
</div>
<div class="modal fade" id="modal_adm_session_video">
</div>
<div class="modal fade" id="modal_adm_student_homework">
</div>
