<% content_for :javascript_includes do %>
  <%= javascript_include_tag "adm/learning/session.js" %>
<% end %>
<h3><%= t("adm.user.info") %></h3>
<hr>
<div class='filter_form'>
  <div class='row'>
    <div class='col-md-3'>
      <div class="form-group">
        <label for='filter-batch'><%= t("learning.batch.code") %></label>
        <select class='select2 select2-hidden-accessible' id='filter-batch' data-placeholder="<%= t("adm.learning.session.select_batch") %>" name="company[]" multiple="multiple" style="width: 100%;">
          <% @allow_batches.all.each do |batch| %>
          <option value='<%= batch.id %>'><%= batch.code %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="form-group">
        <label for='filter-company'><%= t("adm.learning.session.academy") %></label>
        <select class='select2 select2-hidden-accessible' id='filter-company' data-placeholder="<%= t("adm.learning.session.select_academy") %>" name="company[]" multiple="multiple" style="width: 100%;">
          <% @allow_companies.all.each do |company| %>
          <option value='<%= company.id %>'><%= company.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for='filter-state'><%= t("adm.learning.session.state") %></label>
        <select class="select2 select2-hidden-accessible" id='filter-state' data-placeholder="<%= t("adm.learning.session.select_state") %>" name="company[]" multiple="multiple" style="width: 100%;">
          <% @session_states.each do |state| %>
            <option value='<%= state %>'><%= state %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="form-group">
        <label for="filter-time"><%= t("adm.learning.session.time") %></label>
        <input type="text" class="form-control" id="filter-time">
      </div>
    </div>
  </div>
  <div class="row" style="margin-left: 20px;">
    <div class="custom-control custom-radio col-md-1">
      <input class="custom-control-input" type="radio" id="session_photo_all" name="session_photo" value="all" checked>
      <label for="session_photo_all" class="custom-control-label">Tất cả</label>
    </div>
    <div class="custom-control custom-radio col-md-1">
      <input class="custom-control-input" type="radio" id="session_photo_exist" name="session_photo" value='1'>
      <label for="session_photo_exist" class="custom-control-label">Đã có ảnh</label>
    </div>
    <div class="custom-control custom-radio col-md-1">
      <input class="custom-control-input" type="radio" id="session_photo_not" name="session_photo" value='0'>
      <label for="session_photo_not" class="custom-control-label">Chưa có ảnh</label>
    </div>
    <div class="col-md-9">
      <button type="submit" class="btn btn-primary" id="submit_filter_sessions"><%= t("adm.user.filter") %></button>
    </div>
  </div>
</div>
<hr>
<div id="session_data_table">
</div>
<div id="paginator">
</div>
<div class="modal fade" id="modal_adm_session_photo">
  <div class="modal-dialog" style='max-width: 100%; margin: 0'>
    <div class="modal-content" id="modal_adm_session_photo_content">
    </div>
  </div>
</div>
<div class="modal" id="modal_adm_session_attendance">
</div>
<div class="modal fade" id="modal_adm_session_video">
</div>

<style>
  .pagination span {
    margin: 5px;
  }
  #submit_filter_sessions {
    float: right;
    margin-right: 20px;
    padding: 5px 30px;
    text-transform: uppercase;
    font-weight: 700;
  }
</style>

</div>
<style>
  .filter_form {
    margin-bottom: 30px;
  }

  #submit_filter_user {
    float: right;
    padding: 5px;
    margin-right: 40px;
    width: 100px;
  }
</style>
<script>
  $(document).ready(function(){
    $('#filter-time').daterangepicker({
      timePicker: true,
      autoUpdateInput: false,
      timePickerIncrement: 30,
      locale: {
        format: 'DD/MM/YYYY hh:mm A'
      }
    })
  })
</script>
