  <%= render 'user/open_educat/shared/session_calendar_box', {:session => session} %>
  <td>
    <div class="photo-box">
        <span>
          <%= thumbnail_tag  lesson%>
        </span>
    </div>
  </td>
  <td>
    <strong style="text-transform: uppercase; color: #6c7178"><%= lesson.nil? ? "#{ t('learning.batch.status.update') }" : 'Bài ' + lesson.lession_number.to_s %></strong><br/>
    <span  style="text-transform: uppercase; color: #6D7278"><%= lesson.nil? ? "#{ t('learning.batch.status.update') }" : lesson.name %></span> <br/>
    <%= lesson.nil? ? "#{ t('learning.batch.status.update') }" : sanitize(truncate(lesson.note, :length => 50)) %>
  </td>
  <td align="right">
  </td>
