<%= render 'user/open_educat/shared/session_calendar_box', {:session => session} %>

<%# <% lesson = get_lesson_of_session(session) %1> %>
<td>
  <div class="photo-box">
    <span>
      <%= thumbnail_tag lesson %>
    </span>
  </div>
</td>
<td>
  <strong><%= lesson.nil? ? "#{ t('learning.batch.status.update') }" : Learning::Course::OpLessonDecorator.new(lesson).display_lesson_with_subject %></strong><br/>
  <%= lesson.nil? ? "#{ t('learning.batch.status.update') }" : lesson.name %> <br/>
  <%= lesson.nil? ? "#{ t('learning.batch.status.update') }" : sanitize(truncate(lesson.note, :length => 50)) %>
</td>
<td align="center">
  <% attendance_line = attendance_line(session.id, current_user.op_student.id) %>
  <% if !attendance_line.nil? and attendance_line.present %>
    <span data-toggle='tooltip' title="Có đi học">
      <%= image_tag('global/images/check.png', style: 'width: 20px') %>
    </span>
  <% else %>
    <span data-toggle="tooltip" title="Nghỉ học" >
      <%= image_tag('global/images/remove.png', style: 'width: 20px') %>
    </span>
  <% end %>
</td>
<td align="right">
  <% if !attendance_line.nil? and attendance_line.present %>
    <span data-toggle="modal" data-target="#session_student_feedback"> 
      <a class='student_feedback_modal' data-session='<%= session.id %>' data-toggle="tooltip" title='<%= t('my_class.detail.tooltip.feedback') %>'>
        <span>
          <%= image_tag('icon-heart.png', style: 'width: 32px; cursor: pointer') %>
        </span>
      </a>
    </span>
  <% else %>
    <span data-toggle="tooltip" title="<%= t('my_class.detail.tooltip.feedback') %>" style="opacity: 0.5">
      <%= image_tag('icon-heart.png', style: 'width: 32px') %>
    </span>
  <% end %>
  <% if has_homework? current_user, session %>
    <a class='' href="/learning/view_question?session_id=<%= session.id %>" data-toggle="tooltip" data-session="<%= session.id %>" title='<%= t('my_class.detail.tooltip.homework') %>'>
      <span>
        <%= image_tag('global/images/icon-BTVN.png', style: 'width: 32px;margin-right: 10px') %>
      </span>
    </a>
  <% else %>
    <a data-toggle="tooltip" title='Chưa có bài tập về nhà' style="opacity:0.2">
      <span>
        <%= image_tag('global/images/icon-BTVN.png', style: 'width: 32px;margin-right: 10px') %>
      </span>
    </a>
  <% end %>
  <% if !attendance_line.nil? %>
    <span data-toggle="modal" data-target="#session_evaluation_view"> 
      <a class='student_evaluate_view' href="/user/open_educat/op_students/session_evaluation?session_id=<%= session.id %>" data-remote='true' data-toggle="tooltip" title='<%= t('my_class.detail.tooltip.evaluation') %>'>
        <span>
          <%= image_tag('global/images/icon-Comment.png', style: 'width: 32px;margin-right: 10px') %>
        </span>
      </a>
    </span>
  <% else %>
    <a style='opacity: 0.2' data-toggle="tooltip" title='<%= t('my_class.detail.tooltip.evaluation') %>'>
      <span>
        <%= image_tag('global/images/icon-Comment.png', style: 'width: 32px;margin-right: 10px') %>
      </span>
    </a>
  <% end %>
  <% if session.lession_id.present? %>
    <a class='' href="/user/open_educat/op_students/student_homework?show_video=true&session=<%= session.id %>" data-toggle="tooltip" title='<%= t('my_class.detail.tooltip.video') %>' data-session="<%= session.id %>" >
      <span>
        <%= image_tag('global/images/youtube-button.png', style: 'width: 32px;margin-right: 10px') %>
      </span>
    </a>
  <% else %>
    <a class='' data-toggle="tooltip" title='<%= t('my_class.detail.tooltip.video') %>' style='opacity: 0.5'>
      <span>
        <%= image_tag('global/images/youtube-button.png', style: 'width: 32px;margin-right: 10px') %>
      </span>
    </a>
  <% end %>
  <span data-toggle="modal" data-target="#session_photo">
    <a href='/learning/op_session/session_photo?session_id=<%= session.id %>' data-remote='true' data-toggle="tooltip" title="<%= t('my_class.detail.tooltip.picture') %>">
      <span>
        <%= image_tag('global/images/icon-image.png', style: 'width: 32px;margin-right: 10px') %>
      </span>
    </a>
  </span>
</td>
