<%= render 'user/open_educat/shared/session_calendar_box', {:session => session} %>
<td class="td-photo-box">
  <div class="photo-box">
    <span>
      <%= thumbnail_tag  lesson%>
    </span>
  </div>
</td>
<td>
  <div class="font-bold color-6D7278 text-uppercase"><%= lesson.nil? ? t('dashboard.Not happened') : Learning::Course::OpLessonDecorator.new(lesson).display_lesson_with_subject %></div>
  <div class="font-medium color-6D7278 text-uppercase"><%= lesson.nil? ? t('dashboard.Not happened') : lesson.name %></div>
  <span class="font-medium color-6D7278"><%= lesson.nil? ? t('dashboard.Not happened') : sanitize(truncate(lesson.note, :length => 50)) %></span>
</td>
<td align="right">
</td>
