<%= render 'user/open_educat/shared/session_calendar_box', {:session => session} %>
<td>
  <div class="photo-box">
    <span>
      <%= thumbnail_tag  lesson%>
    </span>
  </div>
</td>
<td>
  <strong><%= lesson.nil? ? 'Chưa diễn ra' : 'Bài ' + lesson.lession_number.to_s %></strong><br/>
  <%= lesson.nil? ? 'Chưa diễn ra' : lesson.name %> <br/>
  <%= lesson.nil? ? 'Chưa diễn ra' : sanitize(truncate(lesson.note, :length => 50)) %>
</td>
<td align="right">
</td>
