<% coming_soon_lesson = get_coming_soon_lesson(coming_soon_session, current_user.student_id) %>
<% is_online = is_online_session?(coming_soon_session) %>
<div class="table table-border-radius" style="padding: 0px!important;margin: 0px!important">
  <div class="table-border-radius" style="margin-bottom: 0px;border-bottom: 0px!important; border-top: 0px!important;border-right: 0px!important;border-left: 35px solid #F16357 !important;">
    <div class="row">
      <div class="color-fff text-uppercase font-bold text-coming-soon-left">comming</div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 text-uppercase box-line-height-66"><%= t('my_class.detail.progress.coming_soon_html') %></div>
      <div class="col-xs-6 col-sm-6 col-md-6 text-right">
        <% if is_online %>
          <button data-toggle="popover" data-trigger="hover" data-tooltip="<%= t('adm.setting.Guide setting and learn online on PC')%>" type="submit" class="btn height-auto btn-box-help text-uppercase" data-toggle="modal" data-target="#study_guide">
            <img src="/global/images/icon-lap-39-32.png" style="width: 39px; height: 32px; margin-right: 10px;"> 
            <%= t('adm.setting.Guide setting application')%>
          </button>
        <% end %>      
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div style="border-bottom: 1px solid #DDD"></div></div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 " style="padding-top: 25px;">
        <% if !coming_soon_session.nil? and !coming_soon_session.blank? %>
          <%= coming_soon_lesson.nil? ? coming_soon_session.op_subject.name : Learning::Course::OpLessonDecorator.new(coming_soon_lesson).display_lesson_full_name_with_subject %>
          <% start = coming_soon_session.start_datetime %>
        <% else %>
          <%= t('my_class.detail.progress.end') %>
          <% start = 0 %>
        <% end %>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 pull-right text-right">      
        <% if !coming_soon_session.nil? and !coming_soon_session.blank? %>
          <div class="text-date-time"><%= Learning::Batch::OpSessionDecorator.new(coming_soon_session).display_session_time.html_safe %></div>
        <% end %>      
        <%= render 'social_community/dashboards/student/box_datetime' %>
        <% if is_online %>
          <a style="display: none;" href="#" class="btn btn-primary btn-embossed bg-5DC2A7 btn-join-class font-bold text-uppercase"><%= t('button.Join class now')%></a>
        <% end %>

      </div>
    </div>
  </div>
</div>
<% if is_online %>
  <div class="modal fade" id="study_guide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= t('setting.Guide setting')%></h4>
        </div>
        <div class="modal-body">
          <iframe src="https://drive.google.com/file/d/1Y-9zjG3P6e7qN_QOenH21Q9rFC9ln7xY/preview" width="100%" height="600"></iframe>
        </div>
        <div class="modal-footer  bg-D7DFE9">
          <button type="submit" class="btn btn-primary btn-embossed bg-5DC2A7" data-dismiss="modal"><%= t('button.text_ok')%></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= javascript_tag "initializeClock('clockdiv', #{start.to_json.html_safe} );", "data-turbolinks-track" => true%>
