<% content_for :javascript_includes do %>
  <%= javascript_include_tag "user/op_students/public_profile.js" %>
<% end %>
<div class="page-content page-thin p-0">
  <section class="box-public">
    <%= render :partial => "user/op_students/public_profile/header_info", :locals => {} %>
    <div class="bp-main">
      <div class="bpm-head">
        <% if pp_can_change_avatar?(@op_student.id) %> 
          <a href="#changeAvatarModal" data-toggle="modal"> 
            <%= image_tag('global/images/tekyman.png') %>
          </a>
        <% else %>
          <%= image_tag('global/images/tekyman.png') %>
        <% end %>
        <p class="name-cards"><span>Yaki</span><br/>Kiều Chí Công</p>
        <ul>
          <li>
            <a href="">
              <span>
                <%= image_tag('global/images/tekystar.png') %>
              </span>
              <p>Chia sẻ</p>
            </a>
          </li>
        </ul>
      </div>
      <% if pp_can_change_avatar?(@op_student.id) %>
        <div class="modal fade" id="changeAvatarModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <%= render :partial => "user/op_students/modals/change_avatar_modal", :locals => {} %>
        </div>
      <% end %>
      <div class="bpm-content">
        <%= render :partial => "user/op_students/public_profile/general_info", :locals => {} %>
        <hr>
        <div class="bpc-detail">
          <div class="dpc-title">
            <h3>Thành tích & Giải thưởng</h3>
          </div>
          <%= render :partial => "user/op_students/public_profile/achievements", :locals => {} %>

          <div class="dpc-title">
            <h3>Huy hiệu</h3>
          </div>
          <%= render "user/op_students/public_profile/badges" %>

          <div class="dpc-title">
            <h3>Hình ảnh </h3>
          </div>
          <%= render "user/op_students/public_profile/pictures" %>

          <div class="dpc-title">
            <h3>Sản phẩm</h3>
          </div>
          <%= render "user/op_students/public_profile/products" %>

        </div>
      </div>
    </div>
  </section>
</div>
