<%= javascript_include_tag 'adm/contest/contest_project.js' %>
<div class='card'>
  <div class='card-body row'>
    <div class="col-md-6">
      <div class="form-group">
        <label>contest</label>
        <select class="form-control select2" style="width: 100%;" id="select_contest">
          <% @contests.each do |contest| %>
            <% if contest.id == @contest.id %>
              <option value="<%= contest.id %>" selected="selected"><%= contest.name %></option>
            <% else %>
              <option value="<%= contest.id %>"><%= contest.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Contest Topic</label>
        <select class="form-control select2" style="width: 100%;" id="select_topic">
          <% @topics.each do |topic| %>
            <option value="<%= topic.id %>"><%= topic.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="form-group">
        <label>Region</label>
        <select id="select_region" class="form-control select2" style="width: 100%;">
          <option value='all'>Tat ca </option>
          <option value="MB">Mien bac</option>
          <option value="MN">Mien Nam</option>
        </select>
      </div>
    </div>
  </div>
  <div class='card-footer'>
    <button type="button" class="btn btn-primary float-right" id="filter-contest-project">Loc</button>
  </div>
</div>
<div id="adm_project_index">
</div>
