<%= javascript_include_tag 'adm/contest/contest_project.js' %>
<div class='card'>
  <div class='card-body row'>
    <div class="col-md-6">
      <div class="form-group">
        <label><%= t('Contest.Contest') %></label>
        <select class="form-control select2" style="width: 100%;" id="select_contest">
          <option value="all"><%= t('Contest.all') %></option>
          <% @contests.each do |contest| %>
            <% if contest.id == @contest.id %>
              <option value="<%= contest.id %>" selected="selected"><%= contest.name %></option>
            <% else %>
              <option value="<%= contest.id %>"><%= contest.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label><%= t('Contest.Content.Contest topics') %></label>
        <select class="form-control select2" style="width: 100%;" id="select_topic">
          <option value='all'><%= t('Contest.all') %></option>
          <option value='active'><%= t('Contest.being') %></option>
          <% @topics.each do |topic| %>
            <option value="<%= topic.id %>"><%= topic.name %>(<%= topic.start_time.strftime('%d/%m/%y') %> - <%= topic.end_time.strftime('%d/%m/%y') %>)</option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="form-group">
        <label><%= t('Contest.Content.Region') %></label>
        <select id="select_region" class="form-control select2" style="width: 100%;">
          <option value='all'><%= t('Contest.all') %></option>
          <option value="MB"><%= t('Contest.Region.northern') %></option>
          <option value="MN"><%= t('Contest.Region.south') %></option>
        </select>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="form-group">
        <label><%= t('Contest.Content.Awarded project') %></label>
        <select id="select_month_award" class="form-control select2" style="width: 100%;">
          <option value='all'><%= t('Contest.all') %></option>
          <% @month_topics.each do |m_y, m| %>
            <option value="<%= m_y %>">Tháng <%= m_y %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class='card-footer'>
    <button type="button" class="btn btn-primary float-right" id="filter-contest-project"><%= t('button.filter') %></button>
  </div>
</div>
<div id="adm_project_index">
</div>
