<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">  
  <title>TEKY Learning Management System :: <%= t('report.report_diligent_title')%></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <!-- favicon icon -->
  <%= favicon_link_tag 'Logo-fav.ico' %>
  
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/AdminLTE-3.0.5/plugins/fontawesome-free/css/all.min.css">
  <!-- IonIcons -->
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="/AdminLTE-3.0.5/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="/AdminLTE-3.0.5/plugins/select2/css/select2.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/AdminLTE-3.0.5/css/adminlte.min.css">
  <!-- Google Font: Source Sans Pro -->
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>        
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
            class="fas fa-th-large"></i></a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
    
    <span class="brand-text font-weight-light">
      <%= image_tag("/AdminLTE-3.0.5/images/logo-teky-30.png",class:"brand-text font-weight-light", style:"max-height:33px;") %>
    </span>

    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <%= image_tag(get_avatar, class:"img-circle elevation-2") %>
        </div>
        <div class="info">
          <a href="#" class="d-block"><%= current_user.username %></a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">        
            <%= get_menus_admin_lte(request.original_fullpath).html_safe%>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark"><%= @report_title_page %></h1>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <%= yield %>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->    
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2020 <a href="https://teky.edu.vn">Teky</a>.</strong> All rights reserved.    
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="/AdminLTE-3.0.5/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/AdminLTE-3.0.5/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/AdminLTE-3.0.5/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/AdminLTE-3.0.5/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.<%= locale%>.min.js"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="/AdminLTE-3.0.5/plugins/chart.js/Chart.min.js"></script>
<script src="/AdminLTE-3.0.5/plugins/chartjs-plugin-datalabels/chartjs-plugin-datalabels.min.js"></script>
<script src="/AdminLTE-3.0.5/plugins/chartjs-plugin-deferred/chartjs-plugin-deferred.min.js"></script>
            <script src="/AdminLTE-3.0.5/plugins/select2/js/select2.full.min.js"></script>
<!-- AdminLTE -->
<script src="/AdminLTE-3.0.5/js/adminlte.js"></script>
<script src="/AdminLTE-3.0.5/js/demo.js"></script>
<script>
$(document)
   .ready(
      function() {  
         $('#frm_report_from_date').datepicker({
           autoclose: true,
           format: 'dd-mm-yyyy',
           language: '<%= locale%>'
         });
         
        $('#frm_report_to_date').datepicker({
           autoclose: true,
           format: 'dd-mm-yyyy',
           language: '<%= locale%>',
           endDate:  new Date(),
        });
        
        $('.select2').select2(); 
 });
</script>

<% if !@frm_report[:company_id].nil? && @frm_report[:company_id] >0%>
   <% if !@frm_report[:report_type].nil? && @frm_report[:report_type]  == 'range'%>
        <%= render "report/diligent_company_range"%>
   <% elsif !@frm_report[:report_type].nil? && @frm_report[:report_type]  == 'week' %>
        <%= render "report/diligent_company_week"%>
    <% elsif !@frm_report[:report_type].nil? && @frm_report[:report_type]  == 'month' %>
        <%= render "report/diligent_company_month"%>
    <% elsif !@frm_report[:report_type].nil? && @frm_report[:report_type]  == 'year' %>
        <%= render "report/diligent_company_year"%>
    <% end %>
<% else %>
<script>
       var labels_company = [<% @data_company.each do |ct| %> '<%= ct[:name]%>',<% end %>]       
       var ctx_scale = document.getElementById('reportDiligentMonthlyScale').getContext('2d');
       var myChart = new Chart(ctx_scale, {
            type: 'horizontalBar',
            data: {
                labels: labels_company,
                datasets: [{
                    label: '<%= t("report.report_attend_title")%>',
                    data: [<% @data_company.each do |ct| %>'<%= ct[:scale_present] %>',<% end %>],
                    backgroundColor: 'rgb(54, 162, 235)',
                    borderWidth: 0
                },
                {
                      label: '<%= t("report.report_absent_title")%>',
                      data: [<% @data_company.each do |ct| %>'<%= ct[:scale_no_present] %>',<% end %>],
                      backgroundColor: 'rgb(201, 203, 207)',
                      borderWidth: 0
                }     
                ],      
            },
            options: {
                title: {
                    display: true,
                    text: '<%= t("report.report_chart_prorata_title")%>',
                    fontSize: '14'
                },  
                tooltips: {
                    callbacks: {
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';              
                            if (label) {
                                label += ': ';
                            }
                  
                            label += Math.round(tooltipItem.xLabel * 100) / 100;
                  
                            label += '%';
                  
                            return label;
                        }
                    },
                    mode: 'index',
                    intersect: false
               },
               responsive: true,
               maintainAspectRatio:false,
               scales: {
                  xAxes: [{
                    stacked: true,
                    ticks: {
                        min: 0,
                        max: 100,
                        stepSize: 10,
                        callback: function(value, index, values) {
                            return value + ' %';
                        }
                    }
                  }],
                  yAxes: [{
                    stacked: true,
                    
                  }]
                },
                
                plugins: {
                    datalabels: {
                      color: '#000',
                      display: function(context) {
                        return context.dataset.data[context.dataIndex] > 0;
                      },
                      formatter: function(value, context) {
                        return context.dataset.data[context.dataIndex] + '%';
                      },
                      font: {
                        weight: 'normal',
                        size: '10'
                      }
                      
                    }
                },
            }
        });

        var ctx_present = document.getElementById('reportDiligentMonthlyNumber').getContext('2d');
        var myChart_present = new Chart(ctx_present, {
            type: 'horizontalBar',
            data: {
                labels: labels_company,
                datasets: [{
                  label: '<%= t("report.report_attend_title")%>',
                    data: [<% @data_company.each do |ct| %>'<%= ct[:student_present] %>',<% end %>],
                    backgroundColor: 'rgb(54, 162, 235)',
                    borderWidth: 0
                },
                {
                    label: '<%= t("report.report_absent_title")%>',
                    data: [<% @data_company.each do |ct| %>'<%= ct[:student_no_present] %>',<% end %>],
                    backgroundColor: 'rgb(201, 203, 207)',
                    borderWidth: 0
                }     
                ],      
            },
            options: {
              title: {
                  display: true,
                  text: '<%= t("report.report_chart_based_on_quantity_title")%>',
                  fontSize: '14'
              },
              legend: { display: true },  
              tooltips: {
                  callbacks: {
                      label: function(tooltipItem, data) {
                          var label = data.datasets[tooltipItem.datasetIndex].label || '';              
                          if (label) {
                              label += ': ';
                          }
                          label += Math.round(tooltipItem.xLabel * 100) / 100;                
                          return label;
                      }
                  },
                  mode: 'index',
                  intersect: false
                },
                responsive: true,
                maintainAspectRatio:false,
                scales: {
                  xAxes: [{
                    stacked: true,
                    ticks: {
                      min: 0,
                      stepSize: 200
                    }
                  }],
                  yAxes: [{
                      stacked: true,                    
                  }]
                },                        
                plugins: {
                  datalabels: {
                    color: '#333',
                    display: function(context) {
                      return context.dataset.data[context.dataIndex] > 0;
                    },
                    formatter: Math.round,
                    font: {
                      weight: 'normal',
                      size: '10'
                    }                            
                  },
                  deferred: {
                    enabled: true,
                    xOffset: 100,
                    xOffset: '100%',
                    delay: 250
                  }
                }
            }
        });
</script>
<% end %>
</body>
</html>
