<div class="sidebar">
  <div class="logopanel"><h1>
    <%= link_to '', root_path %>
  </h1></div>
  <div class="sidebar-inner">
    <div class="noti-avatar">
      <ul class="nav nav-sidebar nav-sidebar-edit m-b-0">
        <li class="nav-active">
          <a href="<%= root_path %>">
            <%= image_tag(get_avatar, size: [80, 80]) %>
            <% if current_user.is_student? %>
              <span>
                <label for=""><%= current_user.op_student.full_name %></label>
                <p><%= current_user.op_student.code %></p>
              </span>
            <% elsif current_user.is_teacher? %>
              <span>
                <label for=""><%= current_user.op_faculty.full_name %></label>
                <p><%= current_user.op_faculty.full_name %></p>
              </span>
            <% else %>
            <% end %>
          </a>
        </li>
      </ul>
    </div>
    <div class="noti-nav">
      <ul class="nav nav-sidebar nav-sidebar-edit m-b-0">
        <li class="nav-active">
          <a href="<%= current_user.is_student? ? user_student_info_path : user_teacher_info_path %>">
            <%= image_tag "global/images/active/icon-Setting.png" %>
            <span>Cấu hình</span>
          </a>
        </li>
        <li class="">
          <% if current_user.is_teacher? %>
            <a href="/user/teacher_class">
              <%= image_tag "global/images/active/Icon-Bell.png" %>
              <span>Danh sách lớp học<span style="float: right; color: red"><%= current_user.op_faculty.op_batches.uniq.count %></span></span>
            </a>
          <% else %>
            <a href="/user/student_homework">
              <%= image_tag "global/images/active/ico-BaiTapOnBai.png" %>
              <span>Bài tập ôn bài<span style="float: right; color: red"><%= count_homework current_user %></span></span>
              <!-- <span class="nn-alert"><%= current_user.op_student.op_batches.count %></span> -->
            </a>
          <% end %>
        </li>
        <li class="">
          <% if current_user.account_role == User::Constant::TEACHER %>
            <a href="/user/teaching_schedule">
              <%= image_tag "global/images/active/Icon-Inbox.png" %>
              <span>Lịch giảng dạy<span style="float: right; color: red"><%= count_sessions_week 'op_faculty' %></span></span>
            </a>
          <% else %>
            <a href="/user/my_class">
              <%= image_tag "global/images/active/Icon-Inbox.png" %>
              <span>Danh sách lớp<span style="float: right; color: red"><%= current_user.op_student.op_batches.count %></span></span>
            </a>
          <% end %>
        </li>
        <% if current_user.is_student? %>
          <li class="">
            <a href="/user/student_timetable">
              <%= image_tag "global/images/no-active/ico-TienDoHocTap.png" %>
              <span>Thời khoá biểu<span style="float: right; color: red"><%= count_sessions_week 'op_student' %></span></span>
            </a>
          </li>
        <% end %>
        <% if current_user.account_role == User::Constant::TEACHER %>
          <li>
            <a href="/learning/marking_question">
              <%= image_tag "global/images/active/Icon-Inbox.png" %>
              <span>Chấm bài<span style="float: right; color: red"><%= count_mark_question current_user.op_faculty %></span></span>
            </a>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- <ul class="nav nav-sidebar nav-sidebar-edit">
      <li class="nav-active activea">
        <a href="<%= current_user.is_student? ? root_path : user_teacher_info_path %>">
          <%= image_tag "global/images/no-active/ico-Dashboard.png", class: "img-changes" %>
          <%= image_tag "global/images/active/ico-Dashboard.png", class: "img-change-color" %>
          <span>Dashboard</span>
        </a>
      </li>
      <% if current_user.is_student? %>
      <li class="nav-active activea">
        <a href="<%= user_student_timetable_path %>">
          <%= image_tag "global/images/no-active/ico-Dashboard.png", class: "img-changes" %>
          <%= image_tag "global/images/active/ico-Dashboard.png", class: "img-change-color" %>
          <span>Thời khoá biểu</span>
        </a>
      </li>
        <% end %>
      <li class="">
        <a href="<%= current_user.is_student? ? user_student_homework_path : user_teacher_info_path %>">
          <%= image_tag "global/images/no-active/ico-BaiTapOnBai.png", class: "img-changes" %>
          <%= image_tag "global/images/active/ico-BaiTapOnBai.png", class: "img-change-color" %>
          <span>Bài tập & Ôn bài</span>
        </a>
      </li>
      <li class="">
        <a href="<%= current_user.is_student? ? '/user/my_class' : user_teacher_info_path %>">
          <%= image_tag "global/images/no-active/ico-TienDoHocTap.png", class: "img-changes" %>
          <%= image_tag "global/images/active/ico-TienDoHocTap.png", class: 'img-change-color' %>
          <span>Tiến độ học tập</span>
        </a>
      </li>
      <li class="">
        <a href="">
          <%= image_tag "global/images/no-active/ico-Certificate.png", class: 'img-changes' %>
          <%= image_tag "global/images/active/ico-Certificate.png", class: 'img-change-color' %>
          <span>Chứng chỉ</span>
        </a>
      </li>
      <li class="">
        <a href="<%= current_user.is_student? ? user_student_product_path : user_teacher_info_path %>">
          <%= image_tag "global/images/no-active/ico-SPhocsinh.png", class: 'img-changes' %>
          <%= image_tag "global/images/active/ico-SPhocsinh.png", class: 'img-change-color' %>
          <span>Sản phẩm của học sinh</span>
        </a>
      </li>
      <li class="">
        <a href="<%= current_user.is_student? ? user_student_redeem_path : user_teacher_info_path %>">
          <%= image_tag "global/images/no-active/ico-Redem.png", class: 'img-changes' %>
          <%= image_tag "global/images/active/ico-Redem.png", class: 'img-change-color' %>
          <span>Đổi điểm lấy quà </span>
        </a>
      </li>
      <% if current_user.is_student? %>
      <li class="">
        <a href="<%= current_user.is_student? ? user_student_invoice_path : user_teacher_info_path %>">
          <%= image_tag "global/images/no-active/ico-Invoice.png", class: "img-changes" %>
          <%= image_tag "global/images/active/ico-Invoice.png", class: "img-change-color" %>
          <span>Hoá đơn</span>
        </a>
      </li>
      <% end %>
    </ul> -->
  </div>
</div>
