<div class="sidebar">
  <div class="logopanel">
    <h1>
      <%= link_to '', root_path, class:"not-sidebar-collapsed-logo" %>
      <%= image_tag("global/images/logo-small.png",class:"sidebar-collapsed-logo", style:"width:60px;height:60px;") %>
    </h1>    
  </div>
  <div class="sidebar-inner" id="sidebar">
    <div class="noti-avatar">
      <ul class="nav nav-sidebar nav-sidebar-edit m-b-0">
        <li class="nav-active">
          <input type="hidden" id="public_profile_id" value="<%= current_user.op_student.id %>" >
          <a href="<%= root_path %>">
            <%= image_tag(get_avatar, size: [80, 80]) %>
            <span class='public_profile'>
              <label class="user_full_name"><%= current_user.op_student.full_name %></label>
              <p class="user_code" style="padding: 0; text-align: left">&nbsp<%= current_user.op_student.code %></p>
            </span>
          </a>
        </li>
      </ul>
    </div>    
    <%= get_menus_student(request.original_fullpath).html_safe%>    
  </div>
</div>
