<div class="sidebar">
  <div class="logopanel"><h1>
    <%= link_to '', root_path %>
  </h1></div>
  <div class="sidebar-inner">
    <div class="noti-avatar">
      <ul class="nav nav-sidebar nav-sidebar-edit m-b-0">
        <li class="nav-active">
          <a href="<%= root_path %>">
            <%= image_tag(get_avatar, size: [80, 80]) %>
            <span>
                <label for=""><%= current_user.op_student.full_name %></label>
                <p><%= current_user.op_student.code %></p>
            </span>
          </a>
        </li>
      </ul>
    </div>
    
    <%= get_menus_student(request.original_fullpath).html_safe%>
    

    <!-- <ul class="nav nav-sidebar nav-sidebar-edit">

      <li class="nav-active activea">
        <a href="<%= user_student_dashboard_path %>">          
          <% if (request.original_fullpath == user_student_dashboard_path)%>
          <%= image_tag "global/images/active/ico-Dashboard.png", class: "img-change" %>
          <% else%>
          <%= image_tag "global/images/no-active/ico-Dashboard.png", class: "img-changes" %>
          <% end%>
          <span>Dashboard</span>
        </a>
      </li>
      
      <li class="">
        <a href="<%= user_student_homework_path%>">
          <%= image_tag "global/images/no-active/ico-BaiTapOnBai.png", class: "img-changes"%>
          <%= image_tag "global/images/active/ico-BaiTapOnBai.png", class: "img-change-color"%>
          <span>Bài tập & Ôn bài</span>
        </a>
      </li>
      <li class="">
        <a href="<%= user_my_class_path%>">
          <%= image_tag "global/images/no-active/ico-TienDoHocTap.png", class: "img-changes"%>
          <%= image_tag "global/images/active/ico-TienDoHocTap.png", class: 'img-change-color'%>
          <span>Tiến độ học tập</span>
        </a>
      </li>
      <li class="">
        <a href="">
          <%= image_tag "global/images/no-active/ico-Certificate.png", class: 'img-changes'%>
          <%= image_tag "global/images/active/ico-Certificate.png", class: 'img-change-color'%>
          <span>Chứng chỉ</span>
        </a>
      </li>
      <li class="">
        <a href="<%= user_student_product_path%>">
          <%= image_tag "global/images/no-active/ico-SPhocsinh.png", class: 'img-changes' %>
          <%= image_tag "global/images/active/ico-SPhocsinh.png", class: 'img-change-color' %>
          <span>Sản phẩm của học sinh</span>
        </a>
      </li>
      <li class="">
        <a href="<%= user_student_redeem_path%>">
          <%= image_tag "global/images/no-active/ico-Redem.png", class: 'img-changes' %>
          <%= image_tag "global/images/active/ico-Redem.png", class: 'img-change-color' %>
          <span>Đổi điểm lấy quà </span>
        </a>
      </li>
      
      <li class="">
        <a href="<%= user_student_invoice_path%>">
          <%= image_tag "global/images/no-active/ico-Invoice.png", class: "img-changes" %>
          <%= image_tag "global/images/active/ico-Invoice.png", class: "img-change-color" %>
          <span>Hoá đơn</span>
        </a>
      </li>
    </ul>-->
  </div>
</div>
