<div class="sidebar">
  <div class="logopanel">
    <h1>
      <%= link_to '', root_path, class:"not-sidebar-collapsed-logo" %>
      <%= image_tag("global/images/logo-small.png",class:"sidebar-collapsed-logo", style:"width:60px;height:60px;") %>
    </h1>
  </div>
  <div class="sidebar-inner">
    <div class="noti-avatar">
      <ul class="nav nav-sidebar nav-sidebar-edit m-b-0">
        <li class="nav-active">
          <a href="<%= root_path %>">
            <%= image_tag(get_avatar, size: [80, 80]) %>
            <span>
                <label for=""><%= current_user.op_faculty.full_name %></label>
                <p>Level: &nbsp<%= current_user.op_faculty.faculty_level %></p>
            </span>
          </a>
        </li>
      </ul>
    </div>
    
    <%= get_menus_teacher(request.original_fullpath).html_safe%>    

  </div>
</div>
