<div class="sidebar">
  <div class="logopanel">
    <h1><%= link_to '', root_path %></h1>
  </div>
  <div class="sidebar-inner">
    <div class="noti-avatar">
      <ul class="nav nav-sidebar nav-sidebar-edit m-b-0">
        <li class="nav-active">
          <a href="<%= root_path %>">
            <%= image_tag(get_avatar, size: [80, 80]) %>
            <span>
                <label for=""><%= current_user.op_faculty.full_name %></label>
                <p><%= current_user.op_faculty.full_name %></p>
            </span>
          </a>
        </li>
      </ul>
    </div>
    
    <%= get_menus_teacher(request.original_fullpath).html_safe%>    

  </div>
</div>
