<div class="topbar">
	<% if !current_user.is_admin? %>
    <div class="header-left">
        <div class="topnav">
            <a class="menutoggle" href="" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
            
        </div>
		</div>
	<% end %>
    <div class="header-right">
        <ul class="header-menu nav navbar-nav">
            <% if current_user.is_student? %>
            <li class="dropdown" id="teky-coin">
              <a>
                <span class="teky-coin-star">
                  <%= image_tag "global/images/star.png", style:"width:25px;height:24px;"%>
                  &nbsp; <%= number_with_delimiter(current_user.star.to_i, delimiter: ".") %>
                </span>              
              <span>&#9474;</span>
              <span class="teky-coin-point"><%= number_with_delimiter(current_user.coin.to_i, delimiter: ".")%></span>
              <span class="teky-coin-text"><%= t('reward.coin') %></span>
              </a>
            </li>
            <% end%>
            <li class="dropdown" id="notifications-header">
              <div id="notifications">
              <%= render_notifications_of current_user, index_content: :with_attributes, fallback: :default, limit: 10 %>
              </div>
            </li>
            <li class="dropdown" id="language-header">
              <% if params[:locale] == "en" %>
                <a id="li-language" href="" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">
                    <%= image_tag "global/images/flags/usa.png", style:"width:34px;"%>
                    <span class="flag">English</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to (image_tag('global/images/flags/vietnam.png') + content_tag(:span, "Việt Nam")), locale:"vi" %>
                  </li>
                </ul>
              <% else %>
                <a id="li-language" href="" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">
                    <%= image_tag "global/images/flags/vietnam.png", style:"width:34px;", class:"icon-flag"%>
                    <span class="flag">Việt Nam</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to (image_tag('global/images/flags/usa.png') + content_tag(:span, "English")), locale:"en" %>
                  </li>
                </ul>
              <% end %>
            </li>
            <li class="dropdown" id="teky-logout">
                <%=link_to image_tag("global/images/logout.png", border: 0), user_logout_path %>
            </li>
        </ul>
    </div>
    <%= render 'partials/messages' %>
</div>
<style>
#notifications .notifications {
  max-height: 500px;
}
</style>
