<div class="topbar">
	<% if !current_user.is_admin? %>
    <div class="header-left">
        <div class="topnav">
            <a class="menutoggle" href="" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
            
        </div>
		</div>
	<% end %>
    <div class="header-right">
        <ul class="header-menu nav navbar-nav">
            <% if current_user.is_student? %>
            <li class="dropdown" id="teky-coin">
                <span class="teky-coin-star">
                    <%= image_tag "global/images/star.png", style:"width:25px;height:24px;"%>
                    &nbsp <%= number_with_delimiter(current_user.coin.to_i, delimiter: ".") %>
                </span><span>&#9474;</span>
                <span class="teky-coin-point"><%= number_with_delimiter(current_user.star.to_i, delimiter: ".")%></span><span class="teky-coin-text">  Teky đồng</span>
            </li>
            <% end%>
            <li class="dropdown" id="language-header">
                <a id="li-language" href="" data-toggle="dropdown" data-hover="dropdown" data-close-others="false">
                    <%= image_tag "global/images/flags/vietnam.png", style:"width:34px;"%>
                    <span>Việt Nam</span>
                </a>
                <!--<ul class="dropdown-menu">
                    <li>
                        <a href="" data-lang="en"><%= image_tag "global/images/flags/usa.png" %><span>English</span>
                        </a>
                    </li>

                    <li>
                        <a href="" data-lang="es"><%= image_tag "global/images/flags/spanish.png" %> <span>Español</span>
                        </a>
                    </li>

                    <li>
                        <a href="" data-lang="fr"><%= image_tag "global/images/flags/french.png" %><span>Français</span>
                        </a>
                    </li>
                </ul>-->
            </li>
            <li class="dropdown" id="teky-logout">
                <%=link_to image_tag("global/images/logout.png", border: 0), user_logout_path %>
            </li>
        </ul>
    </div>
    <%= render 'partials/messages' %>
</div>
