<!--Local variable: done_session-->

  <%= render 'user/shared/session/row/session_calendar_box', {:session => session} %>

  <% lesson = session.op_lession %>
  <td>
    <div class="photo-box">
        <span>
          <%= thumbnail_tag  lesson%>
        </span>
    </div>
  </td>
  <td>
    <strong><%= lesson.nil? ? 'Chưa có dữ liệu' : 'Bài ' + lesson.lession_number.to_s %></strong><br/>
    <%= lesson.nil? ? 'Chưa có dữ liệu' : lesson.name %> <br/>
    <%= lesson.nil? ? 'Chưa có dữ liệu' : sanitize(truncate(lesson.note, :length => 50)) %>
  </td>
  <td align="center">
    <%= image_tag('global/images/remove.png', style: 'width: 20px') %>
  </td>
  <td align="right">
    <a href="">
      <%= image_tag('global/images/add-comment-button.png', style: 'width: 20px;margin-right: 10px') %>
    </a>
    <a href="">
      <%= image_tag('global/images/more-4.png', style: 'width: 20px') %>
    </a>
  </td>
