<p id="notice"><%= notice %></p>

<h1>Redeem Redeem Product Colors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adm_redeem_redeem_product_colors.each do |adm_redeem_redeem_product_color| %>
    <tr>
      <td><%= link_to 'Show', adm_redeem_redeem_product_color %></td>
      <td><%= link_to 'Edit', edit_adm_redeem_redeem_product_color_path(adm_redeem_redeem_product_color) %></td>
      <td><%= link_to 'Destroy', adm_redeem_redeem_product_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Redeem Redeem Product Color', new_adm_redeem_redeem_product_color_path %>