<div class="col-sm-4">
  <div class="bt-left">
    <div class="box-imglist">
      <span>
        <% if !course_subject_detail.nil? && !course_subject_detail[:thumbnail].nil? %>
          <%= image_tag(course_subject_detail[:thumbnail]) %>
        <% else %>
          <img src="assets/global/images/Bitmap3.png" alt="">
        <% end %>
      </span>
    </div>

    <div class="subject_description">
      <ul>
        <li class="list-content">
          <span class="icon24-newspaper"></span><label class="font-bold color-000"><%= t('adm.course.Content')%></label>
          <div class="list-content-description-content">
            <%= course_subject_detail[:short_description]%>
          </div>
        </li>
        <li class="list-content">
          <span class="icon24-age"></span><label class="font-bold color-000"><%= t('adm.course.Ages')%></label>
          <div class="list-content-description-content">
          <%= course_subject_detail[:suitable_age]%>
          </div>
        </li>
        <li class="list-content">
          <span class="icon24-rewind-time"></span><label class="font-bold color-000"><%= t('adm.course.Duration')%></label>
          <div class="list-content-description-content">
          <%= course_subject_detail[:duration]%>
          </div>
        </li>

        <li class="list-content">
          <span class="icon24-student"></span><label class="font-bold color-000"><%= t('adm.course.Tools')%></label>
          <div class="list-content-description-content">
          <%= course_subject_detail[:equipments] %>
          </div>
        </li>

        <li class="list-content">
          <span class="icon24-books"></span><label class="font-bold color-000"><%= t('adm.course.Conditions learning')%></label>
          <div class="list-content-description-content">          
          <%= course_subject_detail[:prerequisites] %>
          </div>
        </li>
      </ul>
    </div>
    <hr class="c-course-description-line">
    <div class="box-about box-about-html">
      <h2 class="lms-course-title" style="font-size: 16px;"><%= t('adm.course.course_description')%></h2>
      <div class='description_html p-t-20 text-justify font-regular'>
        <%= truncate(strip_tags(course_subject_detail[:course_description]),:length => 500) %>
      </div>
      <div class='subject-description-overlay'></div>
    </div>    
    <%= link_to image_tag("global/images/expand.png") + t('button.See all'),'', { :class => 'open_course_description open_modal', 'data-toggle' => 'modal', 'data-target' => '#item_course_description_modal' } %>

    <hr  class="c-course-description-line">
    <div class="box-about box-about-html">
      <h2 class="lms-course-title" style="font-size: 16px;"><%= t('adm.course.What do students learn?')%></h2>
      <div class='description_html p-t-20 text-justify font-regular'>
        <%= truncate(strip_tags(course_subject_detail[:competences]),:length => 500) %>
      </div>
      <div class='subject-description-overlay'></div>
    </div>
    <%= link_to image_tag("global/images/expand.png") + t('button.See all'),'', { :class => 'open_course_description open_modal', 'data-toggle' => 'modal', 'data-target' => '#item_course_description_modal' } %>
  </div>
</div>


