<div class="box-course <%= class_css%>">
  <div class="lv-title">
    <h3><%= course[:name] %><span class="lvt-tag"><%= course[:subjects].count %></span></h3>
    <div class="course-short-description font-regular"><%= course[:short_description] %></div>
    <div class="course-short-description-sub font-bold"><%= course[:suitable_age] %>  |  <%= course[:duration] %></div>        
    <ul>
      <% course[:images].each do |image| %>
        <li><span class="lvt-img"><%= image_tag image %></span></li>
      <% end %>
    </ul>
  </div>
  <div class="lv-slide course-swiper" >
    <div class='swiper-container course_swiper_<%= index %>'>
      <div class="swiper-wrapper">
        <% count_subject = course[:subjects].count %>
        <% course[:subjects].each do |subject| %>
            <%= render "subject_item", { subject: subject, count_subject: count_subject, course_id: course[:id] } %>
        <% end %>
      </div>
    </div>
    <div class="show_course_all  text-center">
      <a href="/course_detail?course_id=<%= course[:id] %>" class="btn btn-primary btn-embossed bg-5DC2A7 btn-box-shadow btn-box-show-all">
        <div class="lvb-text font-bold text-transform" style="font-size: 14px;"><%= t('button.See all')%></div>
        <span class="font-medium" style="font-size: 10px;"><%= count_subject %> <%= t('learning.subject')%></span>
      </a>
    </div>    
  </div>
  <div class="swiper-custom-button-next swiper-custom-button-next-<%= index %>"><%= image_tag 'global/images/arrow-next.png' %></div>
  <div class="swiper-custom-button-prev swiper-custom-button-prev-<%= index %>"><%= image_tag 'global/images/arrow-prev.png' %></div>   
</div>
<% if index < @courses.count - 1%>
    <div class="c-course-item-line"> </div>
<% end %>
<script type="text/javascript">

$(document).ready(function(){
  var swiper = new Swiper('.course_swiper_<%= index %>', {
      slidesPerView: 3,
      spaceBetween: 60,
      slidesPerGroup: 1,
      loop: true,
      loopFillGroupWithBlank: true,
      observer: true,
      observeParents: true,
      loopFillGroupWithBlank: false,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-custom-button-next-<%= index %>',
        prevEl: '.swiper-custom-button-prev-<%= index %>',
      },
    });

})
</script>