<div class="lession-video">
  <div class="lv-title">
    <h3><%= course[:name] %><span class="lvt-tag"><%= course[:subjects].count %></span></h3>
    <p><%= course[:short_description] %>
      <br/>
      <b><%= course[:suitable_age] %>  |  <%= course[:duration] %></b>
    </p>
    <!-- list of course images -->
    <ul>
      <% course[:images].each do |image| %>
        <li><span class="lvt-img"><%= image_tag image %></span></li>
      <% end %>
    </ul>
  </div>
  <div class="lv-slide course-swiper" >
    <div class='swiper-container'>
      <div class="swiper-wrapper">
        <% count_subject = course[:subjects].count %>
        <% course[:subjects].each do |subject| %>
            <%= render "subject", { subject: subject, count_subject: count_subject, course_id: course[:id] } %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="swiper-custom-button-next"><%= image_tag 'global/images/arrow-next.png' %></div>
  <div class="swiper-custom-button-prev"><%= image_tag 'global/images/arrow-prev.png' %></div>
  <div class="lv-btn show_course_all">
    <a href="/course_detail?course_id=<%= course[:id] %>" class="btn btn-primary btn-embossed bg-5DC2A7 text-transform">
      <span class="lvb-text">Xem toàn bộ</span><br/>12 Học phần
    </a>
  </div>
</div>
<script type="text/javascript">

  // update width image carousel for left menu
//  updateOwlCarousel = function() {
//    $(".course-owl-carousel").each(function() {
//      $(this).data('owl.carousel').onResize();
//    });
//  };
//
//  $(document).on('click', '.topnav', function() {
//    setTimeout(function() {
//      updateOwlCarousel();
//    }, 321)
//  });
//
//  $(document).ready(function() {
//  $('.course-owl-carousel').owlCarousel({
//    loop: true,
//    responsiveClass: true,
//    items: 3,
//    slideBy: 1,
//    dots: false,
//    dotsEach: false,
//    autoplay: false,
//    rewind: true,
//    autoWidth: false,
//    center: true
//  });
//    updateOwlCarousel();
//  });
$(document).ready(function(){
  var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 60,
      slidesPerGroup: 3,
      loop: true,
      loopFillGroupWithBlank: true,
      observer: true,
      observeParents: true,
      loopFillGroupWithBlank: false,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-custom-button-next',
        prevEl: '.swiper-custom-button-prev',
      },
    });

})
</script>
