<div class="lvs-detail swiper-slide">
<a href="/course_detail?course_id=<%= course_id %>&subject_id=<%= subject[:id] %>">
  <div class='subject-image-overlay'>
    <input type="hidden" value="<%= course_id %>" name="course_id">
    <input type="hidden" value="<%= subject[:info][:id] %>" name="subject_id">
    <% if subject[:active] %>
      <span class="lvd-img overlay-image">
        <% if subject[:thumbnail].present? %>
          <%= image_tag subject[:thumbnail] %>
        <% else %>
          <%= image_tag('global/images/Bitmap3.png', :alt => '') %>
        <% end %>
      </span>
      <div class='overlay-content'>
        <div class="content">
          <div class='col-md-6 subject-count'>
            <span><%= subject[:info][:count_lesson] %></span>
            <p>Bài học</p>
          </div>
          <div class='col-md-6 subject-percentage'>
            <% display_percentage = subject[:info][:complete_percentage].round(2) * 100 %>
            <span><%= display_percentage %>%</span>
            <p>Hoàn thành</p>
          </div>
        </div>
      </div>
      <div class='layer'>
      </div>
    <% else %>
      <span class="lvd-img lock-image">
        <% if subject[:thumbnail].present? %>
          <%= image_tag subject[:thumbnail] %></span>
        <% else %>
          <%= image_tag('global/images/Bitmap3.png', :alt => '') %>
        <% end %>
      <div class='lock-layer'></div>
      <%= image_tag 'global/images/active/Shape.png', class: 'lock-item' %>
    <% end %>
  </div>
</a>
  <p><%= subject[:info][:name] %></p>
  <div class="lvd-footer">
    <div class="lvf-left">
      <% if subject[:active] %>
      <a class="view-course-detail" href="/course_detail?course_id=<%= course_id %>&subject_id=<%= subject[:info][:id] %>">Xem chi tiết</a>
      <% else %>
      <a class="view-course-detail" disabled>Xem chi tiết</a>
      <% end %>
      <ul>
        <li><span class="bg-5DC2A7"></span></li>
        <li><span class="bg-FCF055"></span></li>
        <li><span class="bg-EB9138"></span></li>
      </ul>
    </div>
    <div class="lvf-right">
      <% display_percentage = subject[:info][:complete_percentage].round(2) * 100 %>
      <span class="chart-line"><span class="chart-line-child" style="width: <%= display_percentage %>%"></span></span>
      <b><%= display_percentage %>%</b>
    </div>
  </div>
</div>
