<!-- html code -->
<% content_for :javascript_includes do %>
  <%= javascript_include_tag ('swiper.min.js') %>
<% end %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag ('swiper.min.css') %>
<% end %>
<%= stylesheet_link_tag "learning/learning" %>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h2 class="color-fff text-transform"><%= t('adm.course.name')%></h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <%
      class_css = ''
      @courses.each_with_index  do |course, index| %>
        <% if index == 0
            class_css = 'p-t-0'
            end
        %>
        <%= render :partial => "course_item", :locals => {course: course, class_css: class_css} %>
      <% end %>
    </div>
  </div>
</div>

<style>
a.view-course-detail {
  color: #0654BA;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}
</style>
