<h1>Redeem Redeem Product Sizes</h1>
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>ID</th>
        <th>Size</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @adm_redeem_redeem_product_sizes.each do |adm_redeem_redeem_product_size| %>
        <tr>
          <th><%= adm_redeem_redeem_product_size.id %></th>
          <td><%= adm_redeem_redeem_product_size.name %></td>
          <td><%= link_to 'Edit', edit_adm_redeem_redeem_product_size_path(adm_redeem_redeem_product_size), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', adm_redeem_redeem_product_size_path(adm_redeem_redeem_product_size), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'New Redeem Redeem Product Size', new_adm_redeem_redeem_product_size_path, class: "btn btn-primary" %>
