<% score_ratio = Contest::Constant::ScoreRatio::SCORE_RATIO %>
<% judges_ratio = Contest::Constant::ScoreRatio::JUDGES_RATIO %>
<div id="contest_project_index">
  <div class="card">
    <div class="card-header">
      <div class="card-tools">
        <input type='hidden' value='' name="active-contest" >
        <input type='hidden' value='' name="active-topic" >
        <% if topic.present? && (Time.now > topic.end_time) %>
          <a class="btn btn-info float-right" id="calculate_week_prize">Trao giải tuần</a>
        <% end %>
        <% if can_award_month_prize? contest %>
          <a class="btn btn-info float-right" data-toggle='modal' id="award_month_prize" data-target="#modal_award_month_prize" data-backdrop="true">Trao giải tháng</a>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <div class='table-responsive'>
        <table class='table table-striped'>
          <thead>
            <tr>
              <th>#</th>
              <th><%= t('Contest.Products.Project name') %></th>
              <th><%= t('dashboard.leaders.name') %></th>
              <th><%= t('sidebar.courses') %></th>
              <th><%= t('config.center') %></th>
              <th><%= t('Contest.Products.Submit time') %></th>
              <th><%= t('Contest.Products.Reaction Point') %></th>
              <th><%= t('Contest.Products.Valid') %></th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% projects.each do |project| %>
              <tr>
                <td><%= project.id %></td>
                <td><%= project.name %></td>
                <td><%= project.student_name %></td>
                <td><%= project.course_name %></td>
                <td><%= project.company_name %></td>
                <td><%= c_projects[project.id][:created_at].to_time.strftime('%H:%M %d/%m/%Y') %>
                <td><%= c_projects[project.id][:score] * score_ratio + c_projects[project.id][:judges_score] * judges_ratio %></td>
                <td style="text-align: center">
                  <input type="checkbox" class="form-check-input" id="contest_project_state" <%= c_projects[project.id][:is_valid] ? 'checked' : '' %>>
                </td>
                <td>
                  <a data-toggle='modal' data-project="<%= c_projects[project.id][:id] %>" data-target="#studentProjectDetail" class="btn btn-primary contest_project_show"><i class="fas fa-pencil-alt"></i> </a>
                  </span>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="studentProjectDetail" style='z-index: 99999'>
</div>

<div class="modal fade" id="modal_award_month_prize">
  <div class="modal-dialog" style='min-width: 80%'>
    <div class="modal-content">
      <div class='modal-header'>
        <div class="modal-title">
          <h4>Trao giai thang</h4>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="award_month_prize_content">
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="award_month_prize_project" class="btn btn-primary" data-dismiss="modal" data-project="" id=""><%= t('Contest.Products.Marking') %></button>
      </div>
    </div>
  </div>
</div>
<script>
  $('#award_month_prize').click(function(){
    contest_id = $('input[name="active-contest"]').val()

    $.ajax({
      method: 'GET',
      url: '/contest/contests/award_month_prize_info',
      data: { contest_id: contest_id },
      dataType: 'script'
    })
  })

$('#award_month_prize_project').click(function(){
  project_id = $('input[name="month_project_awarded"]:checked').val();
  contest_id = $('input[name="active-contest"]').val()
  checked_project = $('input[name="month_project_awarded"]:checked').closest('tr');
  project_name = checked_project.find('.project_name').html();
  student_name = checked_project.find('.student_name').html();

  if (confirm(`Bạn chắc chắn sản phẩm ${ project_name } của học sinh ${ student_name } đạt giải tháng?`)){
    $.ajax({
      method: 'POST',
      url: '/contest/contests/award_month_prize',
      data: { project_id: project_id, contest_id: contest_id },
      success: function(res){
        display_response_noti(res)
      }
    })
  }
})
</script>
