<div class="fco-ques">
  <div class="fcoq-tit">
    <label for="">NỘI DUNG BÀI TẬP SỐ <%= index.to_i + 1 %>:</label>
    <p><%= question.question %></p>
    <input type="hidden" id='question_id' value="<%= question.id %>">
    <input type="hidden" id='user_question_id' value="<%= user_question.id %>">
  </div>
</div>
<div class="fco-answ">
  <div class="fcoa-tit">
    <label for="">Trả lời</label>
  </div>
  <div class="fcoa-con">
  	<% question.question_choices.each_with_index do |choice, i| %>
    	<label class="check-multi"><%= choice.choice_content %>
        <input type="radio" name="student_choise_answer" value="<%= choice.id %>" >
        <% choice_key = ('A'.ord + i) %>
        <span class="checkmark"><%= choice_key.chr %></span>
      </label>
    <% end %>
  </div>
</div>