<div class="fco-ques">
  <div class="fcoq-tit">
    <label for="">NỘI DUNG BÀI TẬP SỐ <%= index.to_i + 1 %> (Text question):</label>
    <p><%= question.question.html_safe %></p>
    <input type="hidden" id='question_id' value="<%= question.id %>">
    <input type="hidden" id='user_question_id' value="<%= user_question.id %>">
  </div>
</div>
<div class="fco-answ">
  <div class="fcoa-tit">
    <label for="">Trả lời</label>
  </div>
  <% user_answer = user_question.user_answers.order( created_at: :DESC ).first %>
  <% if user_answer.present? %>
    <% if user_answer.state == 'waiting' %>
      <div class="fcoa-con">
        <textarea rows="4" placeholder="Nhập nội dung câu trả lời" id='text_answer'><%= user_answer.answer_content %></textarea>
        <span class="line-textarea line-textarea1"></span>
        <span class="line-textarea line-textarea2"></span>
        <span class="line-textarea line-textarea3"></span>
        <span class="line-textarea line-textarea4"></span>
      </div>
    <% end %>
    <% if user_answer.answer_marks.present? %>
      <label>Giáo viên đánh giá</label>
      <div class="fcoa-con">
        <textarea readonly rows="4" placeholder="" id='text_answer'><%= user_answer.answer_marks.last.mark_content %></textarea>
        <span class="line-textarea line-textarea1"></span>
        <span class="line-textarea line-textarea2"></span>
        <span class="line-textarea line-textarea3"></span>
        <span class="line-textarea line-textarea4"></span>
      </div>
    <% end %>
  <% else %>
      <div class="fcoa-con">
        <textarea rows="4" placeholder="Nhập nội dung câu trả lời" id='text_answer'></textarea>
        <span class="line-textarea line-textarea1"></span>
        <span class="line-textarea line-textarea2"></span>
        <span class="line-textarea line-textarea3"></span>
        <span class="line-textarea line-textarea4"></span>
      </div>
  <% end %>
</div>
