<div class="box-mt-detail">
  <div class="bmd-title">
    <h3>Báo cáo học sinh<br><span style="font-size: 11px"><%= evaluation_content[:name] %></span> </h3>
  </div>
  <div class="bmd-repost bmd-content" style="min-height: 80px">
    <% if evaluation_content.present? and evaluation_content[:evaluated_criterias].present? %>
    <div class="bmr-detail">
      <div class="bmr-detail">
        <div class="bmrd-title">
          <span>
            <%= image_tag('global/images/icon-programmer.png') %>
          </span>
          <h3>Nhận xét chung</h3>
        </div>
      <ul class="bmrd-content">
        <% evaluation_content[:evaluated_criterias]&.each do |line| %>
          <li>
            <p><%= line[:name] %></p>
            <label>Giảng viên nhận xét</label>
            <p><%= line[:answer] %> </p>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="bmr-detail">
      <div class="bmrd-title">
        <span>
          <%= image_tag('global/images/files-and-folders-2.png') %>
        </span>
        <h3>Nhận xét khác</h3>
      </div>
      <ul class="bmrd-content">
        <li>
          <label>Giảng viên nhận xét</label>
          <p><%= evaluation_content[:note] %></p>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
</div>
