<% content_for :javascript_includes do %>
  <%= javascript_include_tag "user/open_educat/op_teachers/teacher_class_detail" %>
  <%= javascript_include_tag 'social_community/dashboards/shared/posts/reactions.js' %>
  <%= javascript_include_tag 'social_community/dashboards/shared/posts/comments.js' %>
<% end %>
<%= stylesheet_link_tag 'user/open_educat/op_teachers/teacher_class_detail.css' %>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js" defer></script>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h4 class="color-fff text-transform"><%= link_to image_tag('global/images/quaylai.svg') + ' Quay lại danh sách lớp học', user_teacher_class_path, { :style=>'color:#0654BA !important' } %></h4>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class="active"><a href="#tab2_1" data-toggle="tab"><span style="text-transform: uppercase; font-weight: 700;"><%= t('my_class.detail.class_info') %></span></a></li>
        <li><a href="#tab2_2" data-toggle="tab"><span style="text-transform: uppercase; font-weight: 700;"><%= t('my_class.detail.student_projects') %></span></a></li>
        <li><a id='student_homework_menu' href="#tab2_3" data-toggle="tab"  onclick="return false;"><span style="text-transform: uppercase; font-weight: 700;"><%= t('my_class.detail.student_homeworks') %></span></a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in" id="tab2_1">
          <div class="bo-table">
            <%= render 'user/open_educat/shared/batch_info', {:batch => @batch, :course => @course, company_name: @company_name, :classroom_name => @classroom_name, faculty: @faculty, subjects: @subjects, active_subject: @active_subject} %>
          </div>
          <div class="bo-table" id="no_session_class_detail" style=" margin-top: 30px; display: none">
            <h3>Không có lớp học nào của bạn</h3>
          </div>
          <div class="bo-table" id="teacher_class_detail_content" style="margin-top: 30px">
            <div id="subject_timeline">
              <%= render 'user/open_educat/op_teachers/partials/teacher_class_details/session_subject_timeline', {subject: @active_subject, sessions: @sessions, active_session: @active_session} %>
            </div>
            <div class="m-t-20">
              <div class="redem-tab class-tab">
                <div class="tab-content">
                  <div class="tab-pane active in">
                    <div class="table-responsive" id="lesson_infomation">
                      <%= render 'user/open_educat/op_teachers/partials/teacher_class_details/lesson_detail', {active_session: @active_session, active_lesson: @active_lesson, thumbnail: @thumbnail} %>
                    </div>
                    <div class="table-responsive" id="session_control">
                      <%= render 'user/open_educat/op_teachers/partials/teacher_class_details/session_control', { active_lesson: @active_lesson, active_session: @active_session, active_subject: @active_subject} %>
                    </div>
                    <input type='hidden' name='active_session' value="<%= @active_session.id %>">
                    <input type='hidden' name='active_batch' value="<%= @batch.id %>" >
                    <div class="table-responsive" id="session_student_info">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="tab2_2">
          <div id="student_projects">
            <%= render 'partials/loading' %>
          </div>
        </div>
        <div class="tab-pane fade" id="tab2_3">
          <div id="student_homeworks">
            <%= render :partial => 'user/open_educat/op_teachers/partials/teacher_class_details/student_homework_filter', :locals => {:batch => @batch, :subjects => @subjects, :active_subject => @active_subject}%>
            <div id='student_homework_report_data'>
              <%= render 'partials/loading' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'learning/modal_materials' %>
  <%= render 'user/open_educat/op_teachers/modals/teacher_attendance' %>
  <div class="modal fade" id="reward_student_modal" role="dialog">
  </div>
</div>
<style>
.box-product {
  margin-top: 0px;
}
</style>

<script>
  $(document).ready(function(){
    getStudentProjects(<%= @batch.id %>)

    $('#student_homework_menu').on('click', function(e) {
      get_student_homework_report(<%= @batch.id %>, <%= @active_subject.id %>, <%= current_user.faculty_id %>) 
    })
  })

</script>
