<div class="card table-responsive">
  <div class='card-header'>
    <h3 class="card-title text-info"><%= t('Contest.Prize.List') %>(<small><i><%= t('Contest.Prize.Use for weekly topics') %></i></small>)</h3>
    <% if add_new %>
      <div class="card-tools">
        <a data-toggle='modal' data-target="#modal_create_contest_prize" class="btn btn-info btn-sm bg-olive float-right"><i class="fas fa-plus"></i></a>
      </div>
    <% end %>
  </div>
  <div class="card-body">
    <table id="contest_prize_list" class="table table-bordered table-head-fixed table-hover table-sm table-responsive-sm">
      <thead>
        <tr>
            <th rowspan="2">ID</th>
            <th rowspan="2" style="width: 15%;"><%= t('Contest.Prize.Name') %></th>                  
            <th rowspan="2" class="text-center"><%= t('Contest.Prize.Type prize') %></th>
            <th rowspan="2" class="text-center"><%= t('Contest.Prize.Type') %></th>
            <th rowspan="2" class="text-center"><%= t('Contest.Prize.Number awards') %></th>
            <th colspan="3" class="text-center"><%= t('Contest.Prize.Bonus') %></th>
            <th rowspan="2"><%= t('Contest.Prize.Description') %></th>
            <th rowspan="2">Action</th>
          </tr>
          <tr>
            <th><%= t('Contest.Prize.Student price') %></th>
            <th><%= t('Contest.Prize.Teacher price') %></th>
            <th>Total</th>
          </tr>

      </thead>
      <tbody id="table-prize-body">
        <% if prizes.blank? %>
          <tr class="no_items">
            <td colspan="9">
              <p>Chua co giai thuong </p>
            </td>
          </tr>
        <% else %>
          <% prizes.each do |prize| %>
            <tr>
              <td><%= prize.id %></td>
              <td><%= prize.name %></td>
              <td class="text-center"><%= prize.prize %></td>
              <td class="text-center"><%= t("adm.contest.contest_prizes.#{ prize.prize_type }") %></td>
              <td class="text-center"><%= prize.number_awards %></td>
              <td class="text-center"><%= prize.student_price %></td>
              <td class="text-center"><%= prize.teacher_price %></td>
              <td class="text-center"><%= prize.student_price + prize.teacher_price %></td>
              <td><%= prize.description&.html_safe %></td>
              <td>
                <button
                  class="btn btn-default btn-xs text-primary btn-edit-topic contest-prize-detail"
                  data-toggle="modal"
                  data-prize="<%= prize.id %>"
                  data-target="#modal_contest_prize_detail"><i class="far fa-edit font-weight-normal"></i></button>
                <a title="Remove" class="btn btn-default btn-xs delete_contest_prize text-danger" data-prize="<%= prize.id %>"><i class="far fa-trash-alt font-weight-normal"></i></a>
              </td>
            </tr>
          <% end%>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="modal fade" id="modal_contest_prize_detail" role="dialog" aria-labelledby="modal_create_contest_topicLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="card-title text-info"><label>Thông tin giải thưởng</h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
         </button>
      </div>
      <div class="modal-body" id="modal_update_prize"></div>
      <div class="modal-footer">
        <div class="btn-group">
          <button type='button' data-dismiss="modal" id="update-contest-prize-confirm" class="btn btn-default btn-sm bg-olive" data-topic=""><i class="fas fa-save"></i>&nbsp;<%= t('button.Save')%></button>&nbsp&nbsp
          <button type="button" class="btn btn-default btn-sm btn-close" data-dismiss="modal"><i class="fas fa-ban"></i> <%= t('button.Close')%>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

  <script>
    $(document).ready(function(){
      //$('.contest-prize-detail').on('click', function(){
      //  id = $(this).data('prize')
      //  contest_id = $('input[name="contest_id"]').val();
      //  $.ajax({
      //    method: 'get',
      //    url: '/adm/contest/contest_prizes/contest_prize_detail',
      //    data: { id: id, contest_id: contest_id },
      //    dataType: 'script'
      //  })
      //})
    })
  </script>
