  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Sản phẩm: <%= product.name %></h4>
      </div>
      <div class="modal-body learning_device_content">
        <div class='student_info'>
          <p><strong>Học sinh: </strong><%= student %></p>
          <p><strong>Khoá học: </strong><%= course %></p>
          <p><strong>Lớp: </strong><%= batch %></p>
          <p><strong>Cơ sở: </strong><%= company %></p>
          <hr>
          <h4>Mô tả sản phẩm</h4>
          <p><%= product.description %></p>
          <%= product.video.html_safe if product.video.present? %>
        </div>
      </div>
    </div>

  </div>
