<table class='table table-condensed table-hover'>
  <thead>
    <tr>
      <th>#</th>
      <th>Topic</th>
      <th>Thumbnail</th>
      <th>Description</th>
      <th>Rule</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Region</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody class='table-contest-topic'>
    <% contest_topics.each do |topic| %>
      <tr>
        <th><%= topic.id %></th>
        <th><%= topic.name %></th>
        <th><%= image_tag topic.thumbnail, style: 'width: 50px; height: 50px'  if topic.thumbnail.present?%></th>
        <th><%= topic.description&.html_safe %></th>
        <th><%= topic.rule&.html_safe %></th>
        <th><%= topic.start_time.strftime("%d/%m/%Y") %></th>
        <th><%= topic.end_time.strftime("%d/%m/%Y") %></th>
        <th><%= topic.region %></th>
        <td style="min-width: 100px">
            <a href="/adm/contest/contests_topics/<%= topic[:id] %>" target="_blank"><i class="far fa-eye"></i></a>
          <span>
            <a href="/adm/contest/contests_topics/<%= topic[:id] %>/edit"><i class="fas fa-user-edit"></i></a>
          </span>
          <span>
            <a href="/adm/contest/contests_topics/<%= topic[:id] %>" target="_blank"><i class="fas fa-user-check"></i></a>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>#</th>
      <th>Topic</th>
      <th>Thumbnail</th>
      <th>Description</th>
      <th>Rule</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Region</th>
      <th>Action</th>
    </tr>
  </tfoot>
</table>
