<table class='table table-condensed table-hover'>
  <thead>
    <tr>
      <th>#</th>
      <th>Topic</th>
      <th>Thumbnail</th>
      <th>Description</th>
      <th>Rule</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Region</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody class='table-contest-topic'>
    <% contest_topics.each do |topic| %>
      <tr>
        <th><%= topic.id %></th>
        <th><%= topic.name %></th>
        <th><%= image_tag topic.thumbnail, style: 'width: 50px; height: 50px'  if topic.thumbnail.present?%></th>
        <th><%= topic.description&.html_safe %></th>
        <th><%= topic.rule&.html_safe %></th>
        <th><%= topic.start_time.strftime("%d/%m/%Y") %></th>
        <th><%= topic.end_time.strftime("%d/%m/%Y") %></th>
        <th><%= topic.region %></th>
        <td style="min-width: 100px">
            <a href="/adm/contest/contest_topics/<%= topic[:id] %>" target="_blank"><i class="far fa-eye"></i></a>
          <span>
            <a class="delete_contest_topic" data-topic="<%= topic.id %>"><i class="fas fa-trash"></i></a>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <th>#</th>
      <th>Topic</th>
      <th>Thumbnail</th>
      <th>Description</th>
      <th>Rule</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Region</th>
      <th>Action</th>
    </tr>
  </tfoot>
</table>

  <script>
    $(document).ready(function(){
      $('.table-contest-topic').on('click', '.delete_contest_topic', function(){
        button = $(this)
        id = $(this).data('topic');
        if (confirm("Ban chac chan muon xoa chu de?")){
          $.ajax({
            method: 'POST',
            url: '/adm/contest/contest_topics/delete_topic',
            data: { topic_id: id },
            success: function(res){
              display_response_noti(res);
              if (res.type == 'success'){
              button.closest('tr').hide();
              }
            }
          })
        }
      })
    })
  </script>
