<table class='table table-bordered table-head-fixed table-hover table-sm table-responsive-sm'>
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th><%= t('Contest.Topic.Name') %></th>
      <th><%= t('Contest.Topic.Image description') %></th>
      <th><%= t('Contest.Topic.Description') %></th>
      <th class="text-center"><%= t('Contest.Topic.Date time') %></th>
      <th class="text-center"><%= t('Contest.Topic.Region') %></th>
      <th class="text-center"><%= t('Contest.Content.Action') %></th>
    </tr>
  </thead>
  <tbody class='table-contest-topic'id="table-contest-topic">
    <%= render "adm/contest/contest_topics/partials/list_topics", { contest_topics: contest_topics} %>
  </tbody>
  <thead>
    <tr>
      <th class="text-center">ID</th>
      <th><%= t('Contest.Topic.Name') %></th>
      <th><%= t('Contest.Topic.Thumbnail') %></th>
      <th><%= t('Contest.Topic.Description') %></th>
      <th class="text-center"><%= t('Contest.Topic.Date time') %></th>
      <th class="text-center"><%= t('Contest.Topic.Region') %></th>
      <th class="text-center"><%= t('Contest.Content.Action') %></th>
    </tr>
  </thead>
</table>

<script>
$(document).ready(function() {
    $('.table-contest-topic').on('click', '.delete_contest_topic', function() {
      button = $(this)
      id = $(this).data('topic');
      if (confirm("<%= t("Contest.Topic.Are you sure want to delete this topic?")%>")) {
        $.ajax({
          method: 'POST',
          url: '/adm/contest/contest_topics/delete_topic',
          data: { topic_id: id },
          success: function(res){
            display_response_noti(res);
            if (res.type == 'success') {
              button.closest('tr').hide();
            }
          }
        });
      }
    });
});
</script>