  <div class="tab-content p-0 tab-all-content">
    <div class="tab-pane fade active in">
      <div class="fc-header" id="video_detail">
        <%= render 'user/open_educat/op_students/partials/video_detail', { course: course, subject: subject, lesson: lesson } %>
        </div>
      <input type='hidden' value='<%= session.id %>' name='active_session'>
      <input type='hidden' value='<%= subject.id %>' name='active_subject'>
      <input type='hidden' value='<%= batch.id %>' name='active_batch'>
      <div class="row">
        <div class="col-md-9">
          <div class="fc-video">
            <div class="fcv-big" style='height: 100%'>
              <div id='play_video_box' >
              </div>
              <div class="title-video">
                <p>Nội dung Video: <span id="video_description"><%= lesson.present? ? lesson.note : "" %></span></p>
              </div>
            </div>
            <div class="owl-carousel video_carousel" style='display: block'>
              <% sessions.where(state: Learning::Constant::Batch::Session::STATE_DONE).where.not(lession_id: nil).each do |s| %>
                <div class="item video_item">
                  <input type='hidden' value='<%= s.id %>'>
                  <% if s.id == session %>
                    <div class='thumbnail_layer' style='cursor: pointer; position: absolute; width: 100%; height: 100%; background-color: rgba(44, 42, 41, 0)'>
                      <input name='change_video' type='hidden' value='<%= s.id %>'>
                    </div>
                  <% else %>
                    <div class='thumbnail_layer' style='cursor: pointer; position: absolute; width: 100%; height: 100%; background-color: rgba(44, 42, 41, 0.52)'>
                      <input name='change_video' type='hidden' value='<%= s.id %>'>
                    </div>
                  <% end %>
                  <img src = "<%= get_video_thumbnail(s) %>">
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://player.vimeo.com/api/player.js"></script>
