<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'social_community/question_answer/session_qa_area.js' %>
<% end %>

<%= stylesheet_link_tag ('swiper.min.css') %>
<%= javascript_include_tag ('swiper.min.js') %>

<div class="tab-content p-0 tab-all-content">
  <div class="tab-pane fade active in">
    <div class="fc-header" id="video_detail">
      <%= render 'user/open_educat/op_students/partials/video_detail', { course: course, subject: subject, lesson: lesson } %>
    </div>
    <input type='hidden' value='<%= session.id %>' name='active_session'>
    <input type='hidden' value='<%= subject.id %>' name='active_subject'>
    <input type='hidden' value='<%= batch.id %>' name='active_batch'>
    <div class="row">
      <div class="col-md-9">
        <div class="fc-video">
          <div class="fcv-big" style='height: 100%'>
            <div id='no_play_video' style='position: relative;display: none'>
              <%= image_tag 'no-video-placeholder.jpg' %>
            </div>
            <div id='play_video_box' >
            </div>
              <div class="fc-header video-detail" id="video_detail">
                <%= render 'user/open_educat/op_students/partials/video_detail', { course: course, subject: subject, lesson: lesson } %>
              </div>
              <div class="title-video">
                <p>Nội dung Video: <span id="video_description"><%= lesson.present? ? lesson.name : "" %></span></p>
              </div>
          </div>
        </div>
        <div>
          <div class="" style='display: block'>
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <% (sessions.select{|s| s.state == Learning::Constant::Batch::Session::STATE_DONE && s.lession_id != nil}).each do |s| %>
                  <% if s.id == session.id %>
                    <div class='swiper-slide' style='background: #ffffff'>
                      <%= render 'user/open_educat/op_students/partials/video_item', { session: session, current_session: s } %>
                    </div>
                  <% else %>
                    <div class='swiper-slide'>
                      <%= render 'user/open_educat/op_students/partials/video_item', { session: session, current_session: s } %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if lesson.present? %>
        <div class="col-md-3" id="video_homework_chat">
        </div>
      <% end %>
    </div>
  </div>
</div>
<style>
.no_video_thumbnail {
  width: 100%;
  opacity: 0.5
}
.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
}
.swiper-slide {
  cursor: pointer; 
  text-align: center;
  font-size: 18px;
  background: #dcdcdc;
  border: 1px solid #D7DFE9 !important; 
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.video-detail {
  padding-left: 10px;
}
</style>
<script>
  $(window).on('load', function(){
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 5,
      spaceBetween: 5,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    }).swiper;
  })
</script>
