<colgroup>
  <col>
  <col width="200">
  <col width="110">
  <col width="200px">
</colgroup>
<tbody>
  <% sessions.each do |session| %>
    <tr>
      <% has_homework = has_homework? current_user, session %>
      <% lesson_name = session.op_lession ? session.op_lession.name : session.op_subject.name %>
      <% evaluate = get_student_evaluate current_user, session %>
      <% if has_homework %>
        <td>
          <a href="/learning/view_question?session_id=<%= session.id %>" class='student_homework_view'><%= lesson_name %></a>
          <input name='session_homework_name' value="<%= session.id %>" type="hidden">
        </td>
        <% homework_state = done_homework? current_user, session %> 
        <% if homework_state[:state] == 'done'%>
          <td align='right' style="font-size: 10px; color: black;"><%= homework_state[:last_done].strftime("%H:%M %d/%m/%Y") %></td>
          <td align="right">
            <a style='width: 100%' href='/learning/view_question?session_id=<%= session.id %>' class="do_homework_state" >
              <span class="label-edit label label-success" style="padding:6px; font-size: 11px; text-transform: initial; line-height: 7px; font-weight: 500;"><%= t('homework.done') %> <%= homework_state[:progress] %></span>
            </a>
          </td>
        <% elsif homework_state == 'undone' %>
          <td></td>
          <td align="right">
            <a style='width: 100%' href='/learning/view_question?session_id=<%= session.id %>' class="do_homework_state" ><span class="label-edit label label-danger" style="padding:6px; font-size: 11px; text-transform: initial; line-height: 7px; font-weight: 500;"><%= t('homework.undone') %><%= homework_state[:progress] %></span>
            </a>
          </td>
        <% else %>
          <td align='right' style="font-size: 10px; color: #000;" class="font-medium"><%= homework_state[:last_done].strftime("%H:%M %d/%m/%Y") if homework_state[:last_done].present? %></td>
          <td align="right">
            <a style='width: 100%' href='/learning/view_question?session_id=<%= session.id %>' class="do_homework_state"><span class="label-edit label label-primary" style="padding:6px; font-size: 11px; text-transform: initial; line-height: 7px; font-weight: 500;"><%= t('homework.doing') %> <%= homework_state[:progress] %></span>
            </a>
          </td>
        <% end %>
      <% else %>
        <td>
          <a style='color: #D7DFE9'><%= lesson_name %></a>
          <input name='session_homework_name' value="<%= session.id %>" type="hidden">
        </td>
        <td></td>
        <td align="right"><span class="label-edit label label-stop do_homework_state" style="font-size: 11px; text-transform: initial; line-height: 7px; font-weight: 500; padding: 6px" ><%= t('homework.no_homework') %></span></td>
      <% end %>
      <td align="right" style='padding-right: 0'>
        <% if has_homework %>
          <% if session.start_datetime >= Time.now %>
            <span title="<%= t('adm.learning.session.Temporary session The lesson has not taken place yet')%>" data-toggle="tooltip">
              <a style='opacity: 0.2' >
                <span>
                  <%= image_tag('global/images/icon-BTVN.png', style: 'width: 32px;margin-right: 10px') %>
                </span>
              </a>
            </span>
          <% else %>
            <span data-session='<%= session.id %>' class='student_homework_view'>
              <a title="<%= t('my_class.detail.tooltip.homework') %>" data-toggle="tooltip" style='cursor: pointer;'>
                <span>
                  <%= image_tag('global/images/icon-BTVN.png', style: 'width: 32px;margin-right: 10px') %>
                </span>
              </a>
            </span>
          <% end %>
        <% else %>
          <span title="<%= t('my_class.detail.tooltip.homework') %>" data-toggle="tooltip">
            <a style='opacity: 0.2'>
              <span>
                <%= image_tag('global/images/icon-BTVN.png', style: 'width: 32px;margin-right: 10px') %>
              </span>
            </a>
          </span>
        <% end %>
        <% if evaluate.present? %>
          <span data-toggle="modal" data-target="#session_evaluation_view">
            <span data-toggle="tooltip" title="<%= t('my_class.detail.tooltip.evaluation') %>">
              <a class='student_evaluate_view' href="/user/open_educat/op_students/session_evaluation?session_id=<%= session.id %>" data-remote='true' >
                <span>
                  <%= image_tag('global/images/icon-Comment.png', style: 'width: 32px;margin-right: 10px') %>
                </span>
              </a>
            </span>
          </span>
        <% else %>
          <span  title="<%= t('my_class.detail.tooltip.evaluation') %>" data-toggle="tooltip">
            <a class='student_evaluate_view' style='opacity: 0.2' >
              <span>
                <%= image_tag('global/images/icon-Comment.png', style: 'width: 32px;margin-right: 10px') %>
              </span>
            </a>
          </span>
        <% end %>
        <% if session.lession_id.present? %>
          <span data-toggle="tooltip" title="<%= t('my_class.detail.tooltip.video') %>" >
            <a class='student_homework_watch_videos'data-session="<%= session.id %>" style='cursor: pointer;'>
              <span>
                <%= image_tag('global/images/32x32-icon-play-button.png', style: 'width: 32px;') %>
              </span>
            </a>
          <span>
        <% else %>
          <span data-toggle="tooltip" title="<%= t('my_class.detail.tooltip.video') %>">
            <a style='opacity: 0.2'>
              <span>
                <%= image_tag('global/images/32x32-icon-play-button.png', style: 'width: 32px;') %>
              </span>
            <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
<%= render :partial => 'user/open_educat/op_students/modal/session_evaluation' %>

<style>
.student_homework_view {
  text-transform: uppercase;
  font-weight: 600;
}
</style>
