<%= render :partial => 'user/open_educat/op_students/modal/session_evaluation' %>
<tbody>
  <% sessions.each do |session| %>
    <tr>
      <% has_homework = has_homework? current_user, session %>
      <% lesson_name = session.op_lession ? session.op_lession.name : session.op_subject.name %>
      <% evaluate = get_student_evaluate current_user, session %>
      <% if has_homework %>
        <td width="70%">
          <a href="/learning/view_question?session_id=<%= session.id %>" class='student_homework_view'><%= lesson_name %></a>
          <input name='session_homework_name' value="<%= session.id %>" type="hidden">
        </td>
        <% homework_state = done_homework? current_user, session %> 
        <% if homework_state[:state] == 'done'%>
          <td align="right">
            <a style='width: 100%' href='/learning/view_question?session_id=<%= session.id %>' ><span class="label-edit label label-success" style="width: 100%; padding:6px">Đã làm <%= homework_state[:progress] %></span>
            </a>
          </td>
        <% elsif homework_state == 'undone' %>
          <td align="right"><span class="label-edit label label-danger" style="width: 100%; padding:6px">Chưa làm <%= homework_state[:progress] %></span></td>
        <% else %>
          <td align="right">
            <a style='width: 100%' href='/learning/view_question?session_id=<%= session.id %>' ><span class="label-edit label label-primary" style="width: 100%; padding:6px">Đang làm <%= homework_state[:progress] %></span>
            </a>
          </td>
        <% end %>
      <% else %>
        <td width="70%">
          <a style='opacity: 0.5'><%= lesson_name %></a>
          <input name='session_homework_name' value="<%= session.id %>" type="hidden">
        </td>
        <td align="right"><span class="label-edit label label-stop">Chưa có bài tập</span></td>
      <% end %>
      <td align="right">
        <% if has_homework %>
          <% if session.start_datetime >= Time.now %>
            <span>
              <a style='opacity: 0.5' title='Tạm khoá: Buổi học chưa diễn ra' data-toggle="tooltip">
                <span>
                  <%= image_tag('global/images/icon-BTVN.png', style: 'width: 20px;margin-right: 10px') %>
                </span>
              </a>
            </span>
          <% else %>
              <a data-session='<%= session.id %>' title='Làm bài tập về nhà' class='student_homework_view' data-toggle="tooltip" style='cursor: pointer;'>
                <span>
                  <%= image_tag('global/images/icon-BTVN.png', style: 'width: 20px;margin-right: 10px') %>
                </span>
              </a>
          <% end %>
        <% else %>
          <a style='opacity: 0.5' title='Làm bài tập về nhà' data-toggle="tooltip">
            <span>
              <%= image_tag('global/images/icon-BTVN.png', style: 'width: 20px;margin-right: 10px') %>
            </span>
          </a>
        <% end %>
        <% if evaluate.present? %>
          <span data-toggle="modal" data-target="#session_evaluation_view">
          <a class='student_evaluate_view' href="/user/open_educat/op_students/session_evaluation?session_id=<%= session.id %>" data-remote='true' data-toggle="tooltip" title='Nhận xét của giảng viên'>
            <span>
              <%= image_tag('global/images/icon-Comment.png', style: 'width: 20px;margin-right: 10px') %>
            </span>
          </a>
          </span>
        <% else %>
          <a class='student_evaluate_view' style='opacity: 0.5'  title='Nhận xét của giảng viên' data-toggle="tooltip">
            <span>
              <%= image_tag('global/images/icon-Comment.png', style: 'width: 20px;margin-right: 10px') %>
            </span>
          </a>
        <% end %>
        <% if session.lession_id.present? %>
          <a class='student_homework_watch_videos' data-toggle="tooltip" title='Ôn bài qua video' data-session="<%= session.id %>" style='cursor: pointer;'>
          <span>
            <%= image_tag('global/images/youtube-button.png', style: 'width: 20px;margin-right: 10px') %>
          </span>
        </a>
        <% else %>
        <a class='' data-toggle="tooltip" title='Ôn bài qua video' style='opacity: 0.5'>
          <span>
            <%= image_tag('global/images/youtube-button.png', style: 'width: 20px;margin-right: 10px') %>
          </span>
        </a>
        <% end %>
      </td>
    </tr>
  <% end %>
</tbody>
