<%= javascript_include_tag 'social_community/sc_student_projects/sc_student_project.js' %>
<% no_project = true %>
<% subject_student_projects.each{|k, v| no_project = false if v.present? } %>
<% if no_project && current_user.is_student? %>
  <div class='panel'>
    <div class='panel-content'>
      <div>
        <p style='text-align: center'> <span style='color: black'>Chưa có sản phẩm cuối khoá!</span></p>
      </div>
    </div>
  </div>
<% else %>
  <% subjects.each do |id, level| %>
    <div class="box-product" >
      <% projects = subject_student_projects[id] %>
      <% if projects.blank? %>
        <% if current_user.is_teacher? %>
          <div class="fc-header" style='margin: 0 0 15px 0'>
            <h3><span class="color-F16357">Level <%= level  %></h3>
          </div>
          <div class='row'>
            <div class='col-md-4'>
            <%= render 'user/open_educat/shared/student_projects/upload_item', { id: id } %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="fc-header" style='margin: 0 0 15px 0'>
          <h3><span class="color-F16357">Level <%= level  %></h3>
        </div>
        <div class="project_container">
          <% projects.each do |project| %>
          <div style="margin: 10px">
            <%= render 'user/open_educat/shared/student_projects/student_project_item', { project: project } %>
          </div>
          <% end %>
          <div style="margin: 10px;">
            <%= render 'user/open_educat/shared/student_projects/upload_item', { id: id } %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
<div id="studentProjectDetail" class="modal fade" role="dialog">
</div>
<div id="editStudentProjectDetail" class="modal fade" role="dialog">
</div>
<div id="upload_student_project_modal" class="modal fade" role="dialog">
</div>
<style>
  #video_infomation input{
    width: 100%;
    margin-bottom: 15px;
  }
  #video_infomation textarea{
    width: 100%;
  }
  #video_infomation select{
    padding: 5px;
    margin-bottom: 15px;
    -webkit-appearance: auto;
  }
  .projects_row {
    display: flex;
    flex-wrap: wrap
  }
  .project_container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 1fr;
  }
</style>
