<% student = project.op_student %>
<% student_name, company_name  = '', '' %>
<% progress = get_project_progress project %>
<% if student.present? %>
  <% student_name = student.full_name %>
  <% company_name = student.res_company ? student.res_company.name : '' %>
<% end %> 
<div class='item'>
  <div class="">
    <div class="prod-detail">
      <div class="prod-img">
        <% if project.thumbnail.present? %>
          <span><img src="<%= project.thumbnail %>" alt="" class="project_image"></span>
        <% else %>
          <span><%= image_tag('global/images/Bitmap6.png', class:"project_image") %>
        <% end %>
        <div class=''>
          <div class='project_control'>
            <% if current_user.is_teacher? %>
              <%# if progress != 100 || project.state != 'publish' || project.permission != 'public'%>
              <% if progress != 100 %>
                <div class="col-md-6 control_button">
                  <button class="edit_project" style="width: 100%; padding: 10px 0 10px 0" data-project="<%= project.id %>" data-toggle="modal" data-target="#editStudentProjectDetail">Hoàn thiện</button>
                </div>
              <% else %>
                <div class="col-md-6 control_button">
                  <button class="public_project" style="width: 100%" data-project="<%= project.id %>" >Chia sẻ</button>
                </div>
              <% end %>
              <div class="col-md-6 control_button">
                <button class="show_project student_project_show" style="width: 100%" data-project="<%= project.id %>" data-toggle="modal" data-target="#studentProjectDetail">Xem</button>
              </div>
            <% else %>
              <div class="project_control">
                <button class="show_project student_project_show" data-project="<%= project.id %>" data-toggle="modal" data-target="#studentProjectDetail">Xem</button>
              </div>
            <% end %>
          </div>
        </div>
        <ul class="pri-box">
          <li class="pri-box-comment">
            <b><%= count_post_comments project.sc_post %></b>
            <%= image_tag('global/images/comment-box.png')%>
          </li>
          <li class="pri-box-heart">
            <b><%= count_post_reactions project.sc_post %></b>
            <%= image_tag('global/images/heart-box.png')%>
          </li>
        </ul>
      </div>
      <div class='project_progress'>
      <% if current_user.id == project.user_id %>
        <div class='' style='width: 80%; margin: auto;'>
          <div class="progress" style='margin: 0'>
            <div class="progress-bar <%= if progress == 100;  'progress-bar-success'; else 'progress-bar-warning'; end %>  progress-bar-striped " role="progressbar" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= progress %>%">
            </div>
          </div>
        </div>
      <% end %>
      </div>
      <div class="prod-text" style="height: 190px; overflow: hidden">
        <label>SẢN PHẨM CUỐI KHÓA BỘ MÔN <%= project.op_course.name %></label>
        <div>
          <label>Học sinh: </label><span> <%= student_name %></span><br>
          <label>Học viện: </label><span> <%= company_name%></span><br>
        </div>
        <input type='hidden' value='<%= project.id %>' name='student_project_id'>
        <input type='hidden' value='<%= project.batch_id %>' name='project_batch_id' >
        <div style="position: absolute; right: 25px; bottom: 20px; ">
          <a class='student_project_show' href="" class="font-bold" data-project="<%= project.id %>" data-toggle="modal" data-target="#studentProjectDetail">Xem sản phẩm</a>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
.project_progress {
  height: 20px;
    margin-top: 20px;
}
.student_project_show {
  font-weight: 600;
  font-size: 15px;
}
.project_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project_control {
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.prod-img:hover .project_image {
  opacity: 0.3;
}

.prod-img:hover .project_control {
  opacity: 1;
}

.project_control button{
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
}
.edit_project {
  background: #fcf055;
}
button.edit_project  {
      padding: 10px !important;
    }
.public_project {
  background: #9966ff;
}
button.public_project  {
      padding: 10px !important;
    }
.show_project {
  background: #5cd2a7;
}
</style>
