<div class="modal-news">
  <div class='panel-content'>
    <ul class='project_infomation'>
      <li>Họ tên: <span><%= student.full_name %></span></li>
      <li>Khóa học: <span><%= course.name %></span></li>
      <li>Lớp học: <span><%= batch.name %></span></li>
      <li>Cơ sở: <span><%= company_name %></span></li>
    </ul>
  </div>
  <div class="panel-content">
    <div class="box-product">
      <div class="fc-header" style='margin: 15px 0 15px 0'>
        <h3 style="margin: 0 !important">Mô tả sản phẩm</h3>
      </div>
      <div class="project_description">
        <p><%= project.description.html_safe if project.description.present?%></p>
      </div>
    </div>
  </div>
  <% if project.introduction_video.present? %>
  <div class="panel-content">
    <div class="box-product">
      <div class="fc-header" style='margin: 15px 0 15px 0'>
        <h3 style="margin: 0 !important">Giới thiệu sản phẩm</h3>
      </div>
      <div class="project_intro">
        <%= SocialCommunity::StudentProject::StudentProjectDecorator.new(project).youtube_embed_link.html_safe %>
      </div>
    </div>
  </div>
  <% end %>
  <% if project.presentation.present? %>
  <div class="panel-content">
    <div class="box-product">
      <div class="fc-header" style='margin: 15px 0 15px 0'>
        <h3 style="margin: 0 !important">Slide sản phẩm</h3>
      </div>
      <div class="project_intro">
        <%= link_to image_tag('/global/images/downloadinvoice.png') + t('attachment.download'), rails_blob_path(project.presentation, disposition: "attachment") %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if project.project_show_video.present? %>
<div class="panel-content">
  <div class="box-product">
    <div class="fc-header" style='margin: 15px 0 15px 0'>
      <h3 style="margin: 0 !important">Chi tiết sản phẩm</h3>
    </div>
    <div class="project_intro">
      <%= project.project_show_video.html_safe %>
    </div>
  </div>
</div>
<% end %>
<!--</div>-->
<div class="box-product">
  <div id="student_project_feed">
  </div>
</div>
<style>
  .student_infomation li span {
    font-weight: 600;
  }

  .fc-header h3 {
    padding-bottom: 0 !important
  }
</style>
<script>
  $(document).ready(function() {
    function getReactionsAndComments(post_id) {
      $.ajax({
        method: 'GET',
        url: '/social_community/feed/get_reactions_and_comments?post_id=' + post_id,
        dataType: 'script'
      })
    }

    post_id = <%= project.sc_post.id %>
      getReactionsAndComments(post_id);
    addReaction('#student_project_feed');
    addComment('#student_project_feed');
  })
</script>
