<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'social_community/question_answer/session_qa_area.js' %>
<% end %>

<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform"><%= t('sidebar.homework') %></h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <a href="/user/open_educat/op_students/student_homework?homework=true&session=<%= @session.id %>" class="PC-back"><img src="/global/images/quaylai.svg" alt=""><%= t('button.back') %></a>
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class="active"><a href="#do_question_container" data-toggle='tab'><%= t('homework.name') %></a></li>
        <!-- <li class=""><a href="#homework_tab2" data-toggle='tab'>Ôn bài</a></li> -->
        <li class="homework_video_link" data-session="<%= @session.id %>"><a data-toggle='tooltip' title='<%= t('my_class.detail.tooltip.video') %>'><%= t('homework.review') %></a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in" id="do_question_container">
          <div class="">
            <div class="form-content">
              <div class="fc-header">
                <h3><%= @lesson.op_subject.name %></h3>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="fc-other">
                    <div class="fco-title">
                      <label for=""><%= @lesson.name %></label>
                      <p><%= @lesson.note %></p>
                      <span id='question_id_span'></span>
                    </div>
                    <div id='homework_question_content'>
                    </div>
                  </div>

                  <div class="fc-footer" style="display: flex; justify-content: center; align-items: center">
                    <div class="paging">
                      <ul id="user_question_list">
                        <input type="hidden" name="questions_count" value="<%= @user_questions.count %>">
                        <% @user_questions.each_with_index do |user_quest, index| %>

                          <% user_answer = user_quest.user_answers.order(created_at: :DESC).first %>
                          <% if user_answer.present? && (user_answer.state == 'right' || user_answer.state == 'waiting') %>
                            <li>
                              <a href="/learning/question_content?user_question_id=<%= user_quest.id %>&index=<%= index %>" class="btn btn-embossed done_question question_select" data-remote='true'><%= index + 1 %></a>
                              <input type="hidden" value="<%= user_quest.id %>" name="student_question_id">
                            </li>
                          <% else %>
                            <li>
                              <a href="/learning/question_content?user_question_id=<%= user_quest.id %>&index=<%= index %>" class="btn btn-embossed undone_question question_select" data-remote='true'><%= index + 1 %></a>
                              <input type="hidden" value="<%= user_quest.id %>" name="student_question_id">
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                    <div class="btn-submit" style="margin-left: auto; order: 2">
                      <a type="submit" data-toggle="modal" data-target="#modal-basic" class="btn btn-primary btn-embossed bg-5DC2A7" id='answer_the_question' data-remote='true'><img style='margin-right: 5px' src="/global/images/submit.png" alt=""><%= t('homework.submit') %></a>
                    </div>
                    <div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="fc-chat" id='qa_area' data-session-id='<%= @session.id %>' data-lesson-id='<%= @lesson.id %>'>
                    <div class="fcc-btn">
                      <!-- <button type="submit" class="btn btn-primary btn-embossed bg-5DC2A7 width-100 text-transform font-bold" >Ôn lại bài đã học</button> -->
                    </div>
                    <!-- add_new_question -->
                    <%= render :partial => "social_community/question_answer/shared/add_new_question", :locals => {:session => @session, :lesson => @lesson} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <%= render 'user/op_students/partials/student_homework_videos' %>
      </div>
    </div>
  </div>
</div>

<style>
.question_select {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5 !important;
}

  #answer_the_question {
    text-transform: uppercase;
    min-width: 150px;
    font-weight: 600;
  }

  .fco-ques span {
    font-family: 'Quicksand' !important;
  }

  .fco-ques p {
    font-family: 'Quicksand' !important;
  }

  .fco-ques h1 h2 h3 {
    font-family: 'Quicksand' !important;
  }
</style>
<script>
  $('.homework_video_link').on('click', function() {
    session_id = $(this).data('session')
    window.location.href = '/user/open_educat/op_students/student_homework?show_video=true&session=' + session_id
  })
$('#qa_area').ready(function() {
  data = {
    'session_id': $('#qa_area').data('session-id'),
    'lesson_id': $('#qa_area').data('lesson-id'),
  };
  get_qa_threads(data);
})
</script>
