<div class="page-content page-thin">

  <!-- InstanceBeginEditable name="EditRegion1" -->
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <!-- <div class="ph-img">
          <span><img src="/global/images/avatar.svg" alt=""></span>
      </div> -->
      <div class="ph-text">
        <h2 class="color-fff text-transform">Bài tập & ôn bài</h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <a href="Student_BT-OB_BTVN-LIST.html" class="PC-back"><img src="/global/images/quaylai.svg" alt="">Quay lại</a>
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class="active"><a href="Student_BT-OB_BTVN-LIST.html">Bài tập về nhà</a></li>
        <li class=""><a href="Student_BT-OB_OB2.html">Ôn bài</a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in">
          <div class="bo-table">
            <div class="form-content">
              <div class="fc-header">
                <h3><%= @lesson.op_subject.name %></h3>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="fc-other">
                    <div class="fco-title">
                      <label for=""><%= @lesson.name %></label>
                      <p><%= @lesson.note %></p>
                      <span id='question_id_span'></span>
                    </div>
                    <div id='homework_question_content'>
                    </div>
                  </div>

                  <div class="fc-footer">
                    <div class="paging">
                      <ul>
                        <input type="hidden" name="questions_count" value="<%= @user_questions.count %>">
                        <% @user_questions.each_with_index do |user_quest, index| %>

                          <% user_answer = user_quest.user_answers.order(created_at: :DESC).first %>
                          <% if user_answer && (user_answer.state == 'right' || user_answer.state == 'waiting') %>
                            <li>
                              <a href="/learning/question_content?user_question_id=<%= user_quest.id %>&index=<%= index %>" class="btn btn-embossed done_question question_select" data-remote='true'><%= index + 1 %></a>
                              <input type="hidden" value="<%= user_quest.id %>" name="student_question_id">
                            </li>
                          <% else %>
                            <li>
                              <a href="/learning/question_content?user_question_id=<%= user_quest.id %>&index=<%= index %>" class="btn btn-embossed undone_question question_select" data-remote='true'><%= index + 1 %></a>
                              <input type="hidden" value="<%= user_quest.id %>" name="student_question_id">
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                    <div class="btn-submit">
                      <a type="submit" data-toggle="modal" data-target="#modal-basic" class="btn btn-primary btn-embossed bg-5DC2A7" id='answer_the_question' data-remote='true'><img src="/global/images/submit.png" alt="">Nộp bài tập</a>
                    </div>
                  </div>
                </div>
                <!-- <div class="col-md-3">
                  <div class="fc-chat">
                    <div class="fcc-btn">
                      <button type="submit" class="btn btn-primary btn-embossed bg-5DC2A7 width-100 text-transform font-bold" >Ôn lại bài đã học</button>
                    </div>
                    <div class="fcc-que">
                      <form action="" class="form-group">
                        <input type="text" class="form-control form-white" placeholder="Bạn muốn hỏi gì ?">
                        <button type="button" class="btn btn-primary btn-embossed bg-5DC2A7">Hỏi</button>
                      </form>
                    </div>
                    <div class="fcc-anw">
                      <div class="fcca-head">
                        <label>Hỏi:</label>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                      </div>
                      <div class="fcca-main">
                        <ul>
                          <li><span><img src="/global/images/avatar.svg" alt=""></span></li>
                          <li><input type="text"></li>
                        </ul>
                        <div class="fcm-anw">
                          <div class="fcma-tit">
                            <img src="/global/images/Bitmaps.png" alt="">
                            <label for="">Kiều Chí Công<br/><span>Giảng viên</span></label>
                          </div>
                          <div class="fcma-cmt">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <span>2 ngày trước</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true">
    </div>
  </div>
  <!-- InstanceEndEditable -->

  <div class="footer">
    <div class="copyright">
      <p class="pull-left sm-pull-reset">
        <span>Copyright <span class="copyright">©</span> 2020 </span>
        <span>THEMES BACKEND TEKY. </span>
        <span>All rights reserved. </span>
      </p>
      <p class="pull-right sm-pull-reset">
        <span><a href="#" class="m-r-10">Support</a> | <a href="#" class="m-l-10 m-r-10">Terms of use</a> | <a href="#" class="m-l-10">Privacy Policy</a></span>
      </p>
    </div>
  </div>
</div>