<div class="page-content page-thin">

  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h2 class="color-fff text-transform">Bài tập & ôn bài</h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <a href="/user/student_homework?session=<%= @session.id %>" class="PC-back"><img src="/global/images/quaylai.svg" alt="">Quay lại</a>
      <ul class="nav nav-tabs nav-primary tab-menu">
        <li class="active"><a href="#do_question_container" data-toggle='tab'>Bài tập về nhà</a></li>
        <li class=""><a href="#homework_tab2" data-toggle='tab'>Ôn bài</a></li>
      </ul>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in" id="do_question_container">
          <div class="bo-table">
            <div class="form-content">
              <div class="fc-header">
                <h3><%= @lesson.op_subject.name %></h3>
              </div>
              <div class="row">
                <div class="col-md-9">
                  <div class="fc-other">
                    <div class="fco-title">
                      <label for=""><%= @lesson.name %></label>
                      <p><%= @lesson.note %></p>
                      <span id='question_id_span'></span>
                    </div>
                    <div id='homework_question_content'>
                    </div>
                  </div>

                  <div class="fc-footer">
                    <div class="paging">
                      <ul>
                        <input type="hidden" name="questions_count" value="<%= @user_questions.count %>">
                        <% @user_questions.each_with_index do |user_quest, index| %>

                          <% user_answer = user_quest.user_answers.order(created_at: :DESC).first %>
                          <% if user_answer && (user_answer.state == 'right' || user_answer.state == 'waiting') %>
                            <li>
                              <a href="/learning/question_content?user_question_id=<%= user_quest.id %>&index=<%= index %>" class="btn btn-embossed done_question question_select" data-remote='true'><%= index + 1 %></a>
                              <input type="hidden" value="<%= user_quest.id %>" name="student_question_id">
                            </li>
                          <% else %>
                            <li>
                              <a href="/learning/question_content?user_question_id=<%= user_quest.id %>&index=<%= index %>" class="btn btn-embossed undone_question question_select" data-remote='true'><%= index + 1 %></a>
                              <input type="hidden" value="<%= user_quest.id %>" name="student_question_id">
                            </li>
                          <% end %>
                        <% end %>
                      </ul>
                    </div>
                    <div class="btn-submit">
                      <a type="submit" data-toggle="modal" data-target="#modal-basic" class="btn btn-primary btn-embossed bg-5DC2A7" id='answer_the_question' data-remote='true'><img src="/global/images/submit.png" alt="">Nộp bài tập</a>
                    </div>
                    <div class="modal fade" id="modal-basic" tabindex="-1" role="dialog" aria-hidden="true"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <%= render 'user/op_students/partials/student_homework_videos' %>
      </div>
    </div>
  </div>
</div>
