<%= render 'contest/partials/header', { contest: @contest, transparent: '' } %>
<!--end l-nav-->
<!--Content page part-->
<div class="c-space"></div>
<div class="c-block bg-gradient">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Chủ đề</span>Hàng tuần</div>
        <div class="c-box__title__shadow">Theme</div>
      </div>
      <div class="c-box__content">
        <div class="c-template-slider is-margin-minus is-button-circle">
          <div class="owl-carousel js-slider-2">
            <% @topics.each do |topic| %>
              <div class="c-week-item">
                <div class="c-week-item__thumb">
                  <a href="#">
                    <%= image_tag topic.thumbnail, style: 'object-fit: contain' %>
                    <span class="c-week-item__title">Tuần <%= topic.week_number %>, Tháng <%= topic.created_at.strftime('%m/%Y') %></span>
                    <span class="c-week-item__more">
                      <img src="/contest/images/week-all.png" alt="all">
                    </span>
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-block">
  <div class="container">
    <div class="c-product-filter">
      <div class="c-filter is-calendar">
        <button class="c-filter-btn" type="button">Tháng này</button>
        <div class="c-filter-control is-2">
          <ul>
            <li>
              <label>Theo thời gian</label>
              <select class="form-control">
                <option>Tất cả sản phẩm</option>
                <option>Tuần 1, tháng 10/2020</option>
                <option>Tuần 2, tháng 10/2020</option>
                <option>Tuần 3, tháng 10/2020</option>
                <option>Tuần 4, tháng 10/2020</option>
              </select>
            </li>
            <li>
              <label>Học viện Teky</label>
              <select class="form-control">
                <option>Toàn bộ học viện</option>
                <option>Teky Hà Đông</option>
                <option>Teky Nguyễn Thị Thập</option>
                <option>Teky Mỹ Đình</option>
                <option>Teky Hoàn Kiếm</option>
                <option>Teky Long Biên</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-box is-middle contest-projects-content">
    </div>
  </div>
</div>
  <!--Footer part-->
  <%= render "contest/partials/footer", contest: @contest %>
  <script>
    $(document).ready(function(){
      topic_id = 'all'
      company_id = 'all'
      $.ajax({
        method: "GET",
        url: '/contest/contest_projects/projects_content?contest_id=<%= @contest.id %>',
        data: { topic_id: topic_id, company_id: company_id },
        dataType: 'script'
      })
    })
  </script>
