<%= render 'contest/partials/header', { contest: @c_project.contest, transparent: '', active: 'projects' } %>
<div class="c-space"></div>
<div class="container">
  <div class="l-content">
    <div class="c-product-head">
      <div class="c-product-head__back">
        <a href="/contest/<%= @contest.alias_name %>/contest_projects"><i class="icon-long-arrow-left-blue"></i><%= t('Contest.Products.back') %></a>
      </div>
      <div class="row">
        <div class='col-md-9'>
          <h1 class="c-product-head__title"><%= @project&.name %></h1>
        </div>
      </div>
    </div>
    <div class="clearfix">
      <div class="l-main">
        <div class="c-widget is-padding-0">
          <div class="c-widget__content">
            <div class="c-media-view">
              <div class="bnd-img" id="c_project_show" style="text-align: center">
                <% if @project.project_show_video.present? %>
                  <div class='show_project project-preview'>
                    <%= @project.project_show_video.html_safe %>
                  </div>
                <% elsif @project.introduction_video.present? %>
                  <div class='intro_project project-preview'>
                    <%= SocialCommunity::StudentProject::StudentProjectDecorator.new(@project).youtube_embed_link.html_safe %>
                  </div>
                <% elsif @project.presentation.present? %>
                  <div class='presentation_project project-preview'>
                    <iframe src="<%= rails_blob_path(@project.presentation, disposition: :inline) %>" ></iframe>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="c-product-bar">
              <ul>
                <li>
                  <div class="c-author-info b-grid">
                    <div class="b-grid__img">
                      <% user = @c_project.user %>
                      <figure>
                        <% if user.avatar&.thumbnail&.attached? %>
                          <%= image_tag user.avatar.thumbnail %>
                        <% else %>
                          <img src="/contest/images/face-default.png" alt="image">
                        <% end %>
                      </figure>
                    </div>
                    <div class="b-grid__content">
                      <div class="b-grid__row"><span class="b-grid__label"><%= t('Contest.Products.project_of') %></span><span class="b-grid__title"><%= @student.full_name %></span><a class="b-grid__more" href="/user/open_educat/op_students/public_profile/<%= @student.id %>" target="_blank"><%= t('Contest.Products.show_profile') %></a></div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="c-social-action">
                    <ul>
                      <li style="padding-left: 20px"><a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" target='_blank'><i class="icon48-share"></i><span class="c-social-action__text"><span class="big">Chia sẻ</span><span>
                              Có
                              <b><%= @share %></b>
                              lượt chia sẻ</span></span></a></li>
                      <li style="padding-left: 20px">
                        <div class="fb-like" data-href="<%= request.base_url %>/contest/contest_projects/show/<%= @c_project.id %>" data-width="100px" data-layout="standard" data-action="like" data-size="large" data-share="false" data-show-faces='true'></div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <%= Contest::ContestDecorator.new(@project).display_link_project.html_safe %>
        <div class="c-widget">
          <div class="c-widget__title">
            <div class="c-widget__title__name"><%= t('Contest.Products.introduction') %></div>
          </div>
          <div class="c-widget__content">
            <div class="c-product-content">
              <div class="b-maincontent">
                <%= @project.description&.html_safe %>
              </div>
              <div class="c-product-content__btn">
                <button class="btn btn-gray btn-sm is-button-circle" type="button"><i class="icon-expand icon-left"></i><%= t('Contest.Products.show_all') %></button>
              </div>
            </div>
          </div>
        </div>
        <div class="c-widget">
          <div class="c-widget__content">
            <div class="fb-comments" data-href="<%= request.original_url %>#configurator" data-numposts="5" data-width="100%"></div>
          </div>
        </div>
      </div>
      <!--end l-main-->
      <div class="l-sidebar">
        <% if @prize.present? %>
          <div class="c-widget is-padding-small">
            <div class="c-widget__content">
              <div class="c-grid-link">
                <a href="/contest/contest_award/<%= @c_project.id %>">
                  <i class="icon44-medal"> </i>
                  <span class="c-grid-link__content">
                    <span class="c-grid-link__title"><%= t('Contest.Certification.show') %></span>
                    <span class="c-grid-link__desc">
                      <% if @prize.prize_type == 'm' %>
                        <%= t('Contest.Prize.won_month_prize') %>
                      <% else %>
                        <%= t('Contest.Prize.won_prize_prize') %>
                      <% end %>
                      &nbsp; <%= @c_project.created_at.strftime('%m/%Y') %>
                  </span>
                  </span>
                  <i class="icon-medium-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        <% end %>
        <div class="c-widget">
          <div class="c-widget__content">
            <div class="c-product-info">
              <div class="b-grid">
                <div class="b-grid__img">
                  <figure><i class="icon32-lecture"></i></figure>
                </div>
                <div class="b-grid__content">
                  <div class="b-grid__row">
                    <div class="b-grid__label"><%= t('role.faculty') %></div>
                    <% teacher = User::OpenEducat::OpFaculty.where(id: @c_project.teacher_id).first %>
                    <div class="b-grid__title"><%= teacher&.full_name %></div>
                  </div>
                </div>
              </div>
              <div class="b-grid">
                <div class="b-grid__img">
                  <figure><i class="icon32-coding"></i></figure>
                </div>
                <div class="b-grid__content">
                  <div class="b-grid__row">
                    <div class="b-grid__label"><%= t('sidebar.courses') %></div>
                    <div class="b-grid__title"><%= @project.op_course&.name %></div>
                  </div>
                </div>
              </div>
              <div class="b-grid">
                <div class="b-grid__img">
                  <figure><i class="icon32-teky"></i></figure>
                </div>
                <div class="b-grid__content">
                  <div class="b-grid__row">
                    <div class="b-grid__label"><%= t('config.center') %></div>
                    <div class="b-grid__title"><%= @student.res_company&.name %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-widget">
          <div class="c-widget__title">
            <div class="c-widget__title__name"><%= t('Contest.Products.other_project') %></div>
            <div class="c-widget__title__author"><%= @student.full_name %></div>
          </div>
          <div class="c-widget__content">
            <div class="c-product-other">
              <!-- <div class="b-grid"><i class="icon32-meday"></i> -->
              <% @relate_projects.each do |project| %>
                  <%= render '/contest/contest_projects/partials/contest_project_item', { project: project } %>
              <% end %>
              </div>
            </div>
          </div>
          <div class="c-widget">
            <div class="c-widget__title">
              <div class="c-widget__title__name"><%= t('Contest.Products.friend_project') %></div>
            </div>
            <div class="c-widget__content">
              <div class="c-product-other">
                <% @other_projects.each do |project| %>
                  <%= render 'contest/contest_projects/partials/contest_project_item', { project: project } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <!--end l-sidebar-->
      </div>
    </div>
    <!--end l-content-->
  </div>

<div class="modal fade" id="modal_edit_contest_project" role="dialog" aria-labelledby="modal_edit_contest_projectLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="card-title text-info"><label><%= t('Contest.Topic.Add a new topic for contest') %></label>: <span class="text-primary"><%= @contest&.name %></span></h4>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
         </button>
      </div>
      <div class="modal-body" id='edit_contest_project_content'>
      </div>
      <div class="modal-footer">
        <div class="btn-group">
        <input type='submit' data-remote='true' style="margin-left: auto; text-transform: uppercase; font-weight: 600" form='edit_student_project_form' class='btn btn-primary btn-embossed bg-5DC2A7 edit_student_project_form_submit' value='Cập nhật dự án dự thi'>&nbsp;&nbsp;
          <button type="button" style="margin-left: auto; text-transform: uppercase; font-weight: 600" class="btn btn-embossed btn-secondary btn-close" data-dismiss="modal"><i class="fas fa-ban"></i> <%= t('button.Close')%>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--end container-->
  <!--Footer part-->
  <!--l-footer-->
  <%= render "contest/partials/footer", contest: @c_project.contest %>
  <style>
#c_project_show iframe{
  width: 100% !important;
  min-height: 400px !important;
}
  </style>
  <script>
    $('#project-show-introduction-video').click(function(){
      $('#c_project_show').html('<%= SocialCommunity::StudentProject::StudentProjectDecorator.new(@project).youtube_embed_link.html_safe %>');   
    })

  <% if @project.presentation.present? && @project.presentation&.attached? %>
    $('#project-show-presentation').click(function(){
      $('#c_project_show').html('<iframe src="<%= rails_blob_path(@project.presentation, disposition: :inline) %>" ></iframe>')
    })
<% end %>

    $('#edit_contest_project_button').unbind().click(function(){
      c_project_id = $(this).data('project');
      $.ajax({
        method: 'GET',
        url: '/contest/contests/new',
        data: { type: 'edit', c_project_id: c_project_id },
        dataType: 'script'
      })
    })
  </script>
