<div class="l-nav">
  <div class="container is-full">                                                      
    <div class="c-header-inner">                                                       
      <button class="c-menu-expand js-menu-expand" type="button"><span></span></button>
      <div class="c-logo"><a href="index.html"><img src="images/logo.svg" alt="logo"></a></div>   
      <div class="c-menu">                                                             
        <ul>
          <li><a href="index.html">Trang chủ</a></li>                                  
          <li><a href="#">Thể lệ</a></li>
          <li><a href="award.html">Bảng vàng</a></li>                                  
          <li><a href="product.html">Sản phẩm dự thi</a></li>                          
        </ul>
      </div>
      <div class="c-hotline">                                                          
        <div class="c-hotline__current"><i class="icon16-calling"></i><span class="c-hotline__text">Hotline</span></div>
        <div class="c-dropdown-menu is-center">
          <ul>
            <li><a href="tel:+842471096668">Miền Bắc<b class="float-right">+8424-7109-6668</b></a></li>
            <li><a href="tel:+842471096668">Miền Nam<b class="float-right">+8428-710-99948</b></a></li>
            <li><a href="tel:+842471096668">Email<b class="float-right">contact@teky.edu.vn</b></a></li>
          </ul>                                                                        
        </div>
      </div><a class="btn-push" href="#"><i class="icon16-upload"></i><span class="btn-push__text">Nộp bài dự thi</span></a>
    </div>  
  </div>
  <!--end container-->                                                                 
</div>  
<div class="c-space"></div>
<div class="container">
  <div class="l-content">
    <div class="c-product-head">
      <div class="c-product-head__back"><a href="#"><i class="icon-long-arrow-left-blue"></i>Quay lại</a></div>
      <h1 class="c-product-head__title"><%= @project.name %></h1>
    </div>
    <div class="clearfix">
      <div class="l-main">
        <div class="c-widget is-padding-0">
          <div class="c-widget__content">
            <div class="c-media-view">
              <%= render 'social_community/dashboards/shared/student_projects', { project: @project } %>
              <!-- <div class="c-media-box" style="background-image:url('upload/video-detail_1.png');"><a href="#"><i class="icon128-play"></i></a></div> -->
            </div>
            <div class="c-product-bar">
              <ul>
                <li>
                  <div class="c-author-info b-grid">
                    <div class="b-grid__img">
                      <figure><img src="upload/face_1.jpg" alt="image"></figure>
                    </div>
                    <div class="b-grid__content">
                      <div class="b-grid__row"><span class="b-grid__label">Sản phẩm của</span><span class="b-grid__title"><%= @student.full_name %></span><a class="b-grid__more" href="/user/open_educat/op_students/public_profile/<%= @c_project.user_id %>">Xem hồ sơ</a></div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="c-social-action">
                    <ul>
                      <li><a href="#"><i class="icon48-like"></i><span class="c-social-action__text"><span class="big">Bạn chưa thích</span><span>
                              Có
                              <b><%= @like %></b>
                              người thích</span></span></a></li>
                      <li><a href="#"><i class="icon48-share"></i><span class="c-social-action__text"><span class="big">Chia sẻ</span><span>
                              Có
                              <b><%= @share %></b>
                              lượt chia sẻ</span></span></a></li>
                    </ul>
                  </div>
                </li>
                <li>
                  <div class="c-button-action">
                    <ul>
                      <li><a href="#"><i class="icon24-refresh"></i><span>Chạy lại</span></a></li>
                      <li><a href="#"><i class="icon24-maximize"></i><span>Phóng to</span></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-widget">
          <div class="c-widget__content">
            <div class="c-link-grid">
              <ul>
                <li>
                  <div class="c-link-item"><a href="#"><i class="icon48-youtube"></i><span class="c-link-item__text"><span class="c-link-item__title">Video</span><span class="c-link-item__desc">Giới thiệu sản phẩm</span></span><i class="icon-medium-arrow-right"></i></a></div>
                </li>
                <li>
                  <div class="c-link-item"><a href="#"><i class="icon48-file"></i><span class="c-link-item__text"><span class="c-link-item__title">Tài liệu</span><span class="c-link-item__desc">Trình bày sản phẩm</span></span><i class="icon-medium-arrow-right"></i></a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="c-widget">
          <div class="c-widget__title">
            <div class="c-widget__title__name">Giới thiệu sản phẩm</div>
          </div>
          <div class="c-widget__content">
            <div class="c-product-content">
              <div class="b-maincontent">
                <%= @project.description.html_safe %>
              </div>
              <div class="c-product-content__btn">
                <button class="btn btn-gray btn-sm is-button-circle" type="button"><i class="icon-expand icon-left"></i>Xem toàn bộ</button>
              </div>
            </div>
          </div>
        </div>
        <div class="c-widget">
          <div class="c-widget__content">
            <div class="c-comment-box"><img src="upload/comment.png" alt="comment"></div>
          </div>
        </div>
      </div>
      <!--end l-main-->
      <div class="l-sidebar">
        <% if @prize.present? %>
          <div class="c-widget is-padding-small">
            <div class="c-widget__content">
              <div class="c-grid-link"><a href="#"><i class="icon44-medal"></i><span class="c-grid-link__content"><span class="c-grid-link__title">Xem chứng chỉ</span><span class="c-grid-link__desc">Sản phẩm này đạt giải nhất <%= @prize.prize_type == 'm' ? 'tháng' : 'tuần' %> 8/2020</span></span><i class="icon-medium-arrow-right"></i></a></div>
            </div>
          </div>
        <% end %>
        <div class="c-widget">
          <div class="c-widget__content">
            <div class="c-product-info">
              <div class="b-grid">
                <div class="b-grid__img">
                  <figure><i class="icon32-lecture"></i></figure>
                </div>
                <div class="b-grid__content">
                  <div class="b-grid__row">
                    <div class="b-grid__label">Giáo viên</div>
                    <div class="b-grid__title"></div>
                  </div>
                </div>
              </div>
              <div class="b-grid">
                <div class="b-grid__img">
                  <figure><i class="icon32-coding"></i></figure>
                </div>
                <div class="b-grid__content">
                  <div class="b-grid__row">
                    <div class="b-grid__label">Khoá học</div>
                    <div class="b-grid__title"><%= @project.op_course&.name %></div>
                  </div>
                </div>
              </div>
              <div class="b-grid">
                <div class="b-grid__img">
                  <figure><i class="icon32-teky"></i></figure>
                </div>
                <div class="b-grid__content">
                  <div class="b-grid__row">
                    <div class="b-grid__label">Học viện</div>
                    <div class="b-grid__title"><%= @student.res_company&.name %></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-widget">
          <div class="c-widget__title">
            <div class="c-widget__title__name">Sản phẩm khác của</div>
            <div class="c-widget__title__author"><%= @student.full_name %></div>
          </div>
          <div class="c-widget__content">
            <div class="c-product-other">
              <!-- <div class="b-grid"><i class="icon32-meday"></i> -->
              <% @relate_projects.each do |project| %>
                <div class="b-grid">
                  <div class="b-grid__img"><a href="#"><img src="upload/product-small_5.jpg" alt="product"></a></div>
                  <div class="b-grid__content">
                    <div class="b-grid__row"><a class="b-grid__title" href="#"><%=project[:project_name] %></a></div>
                    <div class="b-grid__row">
                      <div class="b-grid__count">
                        <ul>
                          <%= Contest::ContestDecorator.new(project[:project]).display_like_share.html_safe %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="c-widget">
          <div class="c-widget__title">
            <div class="c-widget__title__name">Sản phẩm của bạn khác</div>
          </div>
          <div class="c-widget__content">
            <div class="c-product-other">
              <% @other_projects.each do |project| %>
                <div class="b-grid">
                  <div class="b-grid__img"><a href="#"><img src="upload/product-small_5.jpg" alt="product"></a></div>
                  <div class="b-grid__content">
                    <div class="b-grid__row"><a class="b-grid__title" href="#"><%=project[:project_name] %></a></div>
                    <div class="b-grid__row">
                      <div class="b-grid__count">
                        <ul>
                          <%= Contest::ContestDecorator.new(project[:project]).display_like_share.html_safe %>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!--end l-sidebar-->
    </div>
  </div>
  <!--end l-content-->
</div>
<!--end container-->
<!--Footer part-->
<!--l-footer-->
<div class="l-footer">
  <div class="container">
    <div class="c-footer-main">
      <div class="c-footer-top">
        <div class="c-footer-logo"><a href="index.html"><img src="images/logo.svg" alt="logo"></a></div>
        <div class="c-footer-social"><a href="#"><i class="icon24-facebook"></i></a><a href="#"><i class="icon24-youtube"></i></a></div>
      </div>
      <div class="c-footer-center">
        <div class="row">
          <div class="col-md-4">
            <div class="c-footer-label">Học viện Teky</div>
            <div class="c-footer-content">
              <div class="b-maincontent">
                <p>Toà nhà Mac Plaza, Số 10 Trần Phú</p>
                <p>Mộ Lao, Hà Đông, Hà Nội</p><br>
                <p>Miền Bắc: 024 7109 6668</p>
                <p>Miền Nam: 028 710 99948</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Thông tin chung</div>
            <div class="c-footer-content">
              <div class="c-footer-list">
                <ul>
                  <li><a href="#">Teky.edu.vn</a></li>
                  <li><a href="#">Trang chủ</a></li>
                  <li><a href="#">Về chúng tôi</a></li>
                  <li><a href="#">Thể lệ</a></li>
                  <li><a href="#">Sản phẩm dự thi</a></li>
                  <li><a href="#">Liên hệ</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Đăng ký nhận tin</div>
            <div class="c-footer-content">
              <div class="c-footer-text">Subsbribe us to get news and updates directy to your inbox.</div>
              <div class="c-footer-email">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Email của bạn">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button"><i class="icon-long-arrow-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-copyright">© 2020 All Rights Reserved By TEKY Academy.</div>
  </div>
  <!--end container-->
</div>

