<% student_batch_status = get_student_batch_status(op_student_id, batch.id)%>
<% student_status = student_batch_status['status'] %>
<div class="student_batch_list" style='padding-top: 15px; padding-bottom: 15px; margin: 10px;'>
  <div class="scl-detail" style='height: 100%'>
    <div class="scl-img">
      <span class="spanimg">
        <% op_course = batch.op_course %>
        <% if op_course.thumbnail.attached? %>
          <%= image_tag url_for(op_course.thumbnail) %>
          <% if student_status == Learning::Constant::STUDENT_BATCH_STATUS_ON %>
            <span class="scl-success"><%= student_batch_status['status_html'].html_safe %></span>
          <% else %>
            <span class="scl-danger"><%= student_batch_status['status_html'].html_safe %></span>
          <% end %>
        <% else %>
          <%= image_tag('global/images/default-course-thumbnail.png') %>
          <% if student_status == Learning::Constant::STUDENT_BATCH_STATUS_ON %>
            <span class="scl-success"><%= student_batch_status['status_html'].html_safe %></span>
          <% else %>
            <span class="scl-danger"><%= student_batch_status['status_html'].html_safe %></span>
          <% end %>
        <% end %>
      </span>
    </div>
    <div class="scl-text">
      <div class="scl-left col-md-8">
        <label for=""><%= batch.op_course.name %></label>
        <p><%= t('learning.batch.code') %>: <span><%= batch.code %></span></p>
        <% time_line = batch_timeline batch %> 
        <p>
        <% if time_line.blank? %>
          Hàng tuần Tại
        <% else %>
          <% time_line.each_with_index do |time, i| %>
            <% if time_line.length - i != 1 %>
              <%= time.strftime("%H:%M") + " " + (get_week_day time.strftime("%A")) + "; "%>
            <% else %>
              <%= time.strftime("%H:%M") + " " + (get_week_day time.strftime("%A")) + " "%>
            <% end %>
          <% end %>
          hàng tuần Tại
        <% end %>
        <span><%= batch.res_company ? batch.res_company.name : "" %></span>
        </p>
      </div>
      <div class="custom_scl-right col-md-4"> 
        <% if student_status == Learning::Constant::STUDENT_BATCH_STATUS_ON %>
          <a href="<%= user_open_educat_op_students_batch_detail_path(batch.id) %>" class="btn btn-edit-class btn-studying-batch">
            <div>
              <%= image_tag ('global/images/come-in.png') %>
            <%= t('my_class.come_in') %>
            </div>
          </a>
        <% else %>
          <a href="<%= user_open_educat_op_students_batch_detail_path(batch.id) %>" class="btn btn-edit-view btn-stop-batch">
            <div>
              <%= image_tag ('global/images/come-in.png') %>
            <%= t('my_class.information') %>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
