<% student_batch_status = get_student_batch_status(op_student_id, batch.id)%>
<% student_status = student_batch_status['status'] %>
<div class="col-md-4 col-xs-12 student_batch_list">
  <div class="scl-detail" style='height: 100%'>
    <div class="scl-img">
      <span class="spanimg">
        <% op_course = batch.op_course %>
        <% if op_course.thumbnail.attached? %>
          <%= image_tag url_for(op_course.thumbnail) %>
        <% else %>
          <%= image_tag('global/images/default-course-thumbnail.png') %>
        <% end %>
        <% if student_status == Learning::Constant::STUDENT_BATCH_STATUS_ON %>
          <span class="scl-success"><%= student_batch_status['status_html'].html_safe %></span>
        <% elsif student_status == Learning::Constant::STUDENT_BATCH_STATUS_SAVE %>
          <span class="scl-save"><%= student_batch_status['status_html'].html_safe %></span>
        <% else %>
          <span class="scl-danger"><%= student_batch_status['status_html'].html_safe %></span>
        <% end %>
      </span>
    </div>
    <div class="scl-text">
      <div class="scl-left col-md-8">
        <label style="text-transform: uppercase;"><%= batch.op_course.name %></label>
        <p><%= t('learning.batch.code') %>: <span><%= batch.code %></span></p>
        <p>
        <%= Learning::Batch::OpBatchDecorator.new(batch).display_weekly_timing %>
        <span><%= batch.res_company ? batch.res_company.name : "" %></span>
        </p>
      </div>
      <div class="custom_scl-right col-md-4">
        <% if student_status == Learning::Constant::STUDENT_BATCH_STATUS_ON %>
          <a href="<%= user_open_educat_op_students_batch_detail_path(batch.id) %>" class="btn btn-edit-class btn-studying-batch">
            <div>
              <%= image_tag ('global/images/come-in.png') %>
              <%= t('my_class.come_in') %>
            </div>
          </a>
        <% elsif student_status == Learning::Constant::STUDENT_BATCH_STATUS_SAVE %>
          <a href="<%= user_open_educat_op_students_batch_detail_path(batch.id) %>" class="btn btn-edit-view btn-save-batch">
            <div>
              <%= image_tag ('global/images/come-in.png') %>
              <%= t('my_class.information') %>
            </div>
          </a>
        <% else %>
          <a href="<%= user_open_educat_op_students_batch_detail_path(batch.id) %>" class="btn btn-edit-view btn-stop-batch">
            <div>
              <%= image_tag ('global/images/come-in.png') %>
              <%= t('my_class.information') %>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
