<% student_batch_status = get_student_batch_status(op_student_id, batch.id)%>
<div class="col-md-4" style='padding-top: 15px; padding-bottom: 15px'>
  <div class="scl-detail">
    <div class="scl-img">
      <span class="spanimg">
        <% op_course = batch.op_course %>
        <% if op_course.thumbnail.attached? %>
          <%= image_tag url_for(op_course.thumbnail) %>
        <% else %>
          <%= image_tag('global/images/default-course-thumbnail.png') %>
        <% end %>
      </span>
      <div class="scl-right"> 
        <% student_status = student_batch_status['status'] %>
        <% if student_status == Learning::Constant::STUDENT_BATCH_STATUS_ON %>
          <a href="<%= user_open_educat_op_students_batch_detail_path(batch.id) %>" class="btn-edit-class">Vào lớp</a>
          <span class="scl-success"><%= student_batch_status['status_html'].html_safe %></span>
        <% else %>
          <a href="<%= user_open_educat_op_students_batch_detail_path(batch.id) %>" class="btn-edit-view">Xem thông tin</a>
          <span class="scl-danger"><%= student_batch_status['status_html'].html_safe %></span>
        <% end %>
      </div>
    </div>
    <div class="scl-text">
      <div class="scl-left">
        <label for=""><%= batch.op_course.name %></label>
        <p>Mã lớp: <span><%= batch.code %></span></p>
        <% time_line = batch_timeline batch %> 
        <p>
        <% if time_line.blank? %>
          Hàng tuần Tại
        <% else %>
          <% time_line.each do |time| %>
            <%= time.strftime("%H:%M") + " " + (get_week_day time.strftime("%A")) %>
          <% end %>
          hàng tuần Tại
        <% end %>
        <span><%= batch.res_company ? batch.res_company.name : "" %></span>
        </p>
      </div>
    </div>
  </div>
</div>
