<div class="page-content page-thin">
  <div class="panel-content">
  <div class="account-form">
    <!--    #TODO : update styling for this form-->
    <h2>Thay đổi mật khẩu</h2>
    <%= form_for :user, url: user_change_password_path, html: {method: :post, class: "form-reset-password"} do |f| %>
    <!-- <%= render 'partials/messages' %> -->
      <div class='password-title'>
        <p class='password-line'><%= f.label 'Current password' %></p>
        <p class='password-line'><%= f.label 'New password' %></p>
        <p class='password-line'><%= f.label 'password_confirmation' %></p>
      </div>
      <div class='password-title'>
        <p class='password-line'><%= f.password_field :password, class: 'password_field' %></p>
        <p class='password-line'><%= f.password_field :new_password, class: 'password_field' %></p>
        <p class='password-line'><%= f.password_field :password_confirmation, class: 'password_field' %></p>
      </div>
      <div class="submit-form">
        <%= f.submit 'Update', class: 'btn btn-primary btn-embossed bg-5DC2A7' %>
        <% if current_user.is_student? %>
          <%= link_to 'Cancel', user_student_info_path, class: "btn btn-danger btn-embossed bg-F16357" %>
        <% elsif current_user.is_teacher? %>
          <%= link_to 'Cancel', user_teacher_info_path, class: "btn btn-danger btn-embossed bg-F16357" %>
        <% else %>
          <%= link_to 'Cancel', root_path, class: "btn btn-danger btn-embossed bg-F16357" %>
        <% end %>
      </div>
    <% end %>
  </div>
  </div>
</div>