<div class="page-content page-thin">
  <div class="account-form">
    <!--    #TODO : update styling for this form-->
    <%= form_for :user, url: user_change_password_path, html: {method: :post, class: "form-signin"} do |f| %>
      <div class="row">
        <%= f.label 'Current password' %>
        <%= f.password_field :password %>
      </div>
      <div class="row">
        <%= f.label :new_password %>
        <%= f.password_field :new_password %>
      </div>
      <div class="row">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <div class="row">
        <%= f.submit 'Update' %>
        <% if current_user.is_student? %>
          <%= link_to 'Cancel', user_student_info_path %>
        <% elsif current_user.is_teacher? %>
          <%= link_to 'Cancel', user_teacher_info_path %>
        <% else %>
          <%= link_to 'Cancel', root_path %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>