<div class="panel-content">
  <div class="bnd-title">
    <label class="filter-title" style="text-transform:uppercase;"><%= t('notification.dashboard') %></label>
    <% new_noti = count_notification_student(current_user)%>
    <p><span class="color-FF0D38"><%= new_noti %></span> <%= t('notification.new_noti') %></p>
  </div>
  <div class="bnd-noti">
    <% notices.each do |noti| %>
    <a href="/notification/broadcast/broadcast_notices"  class="bnn-detail">
      <div class="bnn-img">
        <span><%= image_tag('global/images/teacher-img-default.png') %></span>
      </div>
      <div class="bnn-text">
        <label for=""><%= t('notification.title') %></label>
        <p><%= noti.title %></p>
      </div>
      <div class="bnn-time">
        <p><%= noti.created_at.strftime('%d-%m-%Y') %></p>
      </div>
    </a>
    <% end %>
    <a href="/notification/broadcast/broadcast_notices" class="pull-right link-all"><%= t('button.see_all') %></a>
  </div>
</div>

<style>
.bnd-noti a.link-all {
  font-family: 'Montserrat-Regular' !important;
  font-weight: bold;
  text-transform: uppercase;
}
</style>
