<% photos_size = photos.size %>
<div class="box-photos">
  <%  if photos_size <= 2 %>
    <% photos.each do |photo| %>
      <a>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border-white show_dashboard_photo" data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>"><%= image_tag(photos[0],:class => 'image-fit border-image') %></span>
      </a>
    <% end %>
  <% elsif photos_size == 3 %>
    <div class="row">
      <a>
        <span class="col-xs-12 col-md-12 col-lg-12 border-white show_dashboard_photo" data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>"><%= image_tag(photos[0], :class => 'image-fit border-image') %></span>
      </a>
      <a class="col-xs-6 col-md-6 border-white" style="padding-right:0px;">
        <span class='show_dashboard_photo' data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>">
          <%= image_tag(photos[1],:class => 'image-fit border-image photo-height-200') %>
        </span>
      </a>
      <a class="col-xs-6 col-md-6 border-white" style="padding-left:0px;">
        <span class='show_dashboard_photo' data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>">
          <%= image_tag(photos[2],:class => 'image-fit border-image photo-height-200') %>
        </span>
      </a>
    </div>
  <% elsif photos_size == 4 %>
    <div class="row">
      <a>
        <span class="show_dashboard_photo col-xs-12 col-sm-12 col-md-12 col-lg-12 border-white" data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>"><%= image_tag(photos[0],:class => 'image-fit border-image') %></span>
      </a>
    </div>
    <a class="col-xs-4 col-sm-4 col-md-4 col-lg-4  px-0 border-white">
      <span class='show_dashboard_photo' data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>">
        <%= image_tag(photos[1],:class => 'image-fit border-image photo-height-162') %>
      </span>
    </a>
    <a class="col-xs-4 col-sm-4 col-md-4 col-lg-4  px-0 border-white">
      <span class='show_dashboard_photo' data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>">
        <%= image_tag(photos[2],:class => 'image-fit border-image photo-height-162') %>
      </span>
    </a>
    <a class="col-xs-4 col-sm-4 col-md-4 col-lg-4  px-0 border-white">
      <span class='show_dashboard_photo' data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>">
        <%= image_tag(photos[3],:class => 'image-fit border-image photo-height-162') %>
      </span>
    </a>
  <% else %>
    <div class="row">
      <a>
        <span class="col-xs-12 col-sm-12 col-md-12 col-lg-12 border-white show_dashboard_photo" data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>"><%= image_tag(photos[0],:class => 'image-fit border-image') %></span>
      </a>
    </div>
    <a class="col-xs-4 col-sm-4 col-md-4 col-lg-4 px-0 border-white">
      <span class='show_dashboard_photo' data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>">
        <%= image_tag(photos[1], :class => 'image-fit border-image photo-height-162') %>
      </span>
    </a>
    <a class="col-xs-4 col-sm-4 col-md-4 col-lg-4 px-0 border-white">
      <span class='show_dashboard_photo' data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>">
        <%= image_tag(photos[2], :class => 'image-fit border-image photo-height-162') %>
      </span>
    </a>
    <a class="col-xs-4 col-sm-4 col-md-4 col-lg-4 px-0 border-white">
      <span class='show_dashboard_photo' data-toggle='modal' data-target="#showPhotoModalInDashboard" data-post="<%= post.id %>">
        <%= image_tag(photos[3], :class => 'image-fit photo-height-162') %>
        <span class="detail-plus box-photo-over border-image"><span class="more-number-photo">+<%= photos_size %></span></span>
      </span>
    </a>
  <% end%>
