<%= tinymce_assets %>
<input type="hidden" name='session_id' value='<%= session_id %>'>
<input type="hidden" name='student_id' value='<%= student_id %>'>
<% User::Constant::Evaluate::CATEGORY_EVALUATE.each do |e| %>
  <div class='evaluate_element'>
      <label><%= e[1]['label'] %>:</label>
      <br>
      <select name="<%= e[0] %>">
        <option value=''></option>
      <% e[1]['content'].each do  |content| %>
          <% if attendance.present? && attendance.send(e[0]) == content[0]%>
            <option value="<%= content[0] %>" selected><%= content[1]%></option>
          <% else %>
            <option value="<%= content[0] %>"><%= content[1] %></option>
          <% end %>
        <% end %>
      </select>
  </div>
<% end %>
<div style='margin: 0 20px 20px'>
  <label class='label-note'>Nhận xét khác:</label>
  <br>
  <textarea class='tinymce' id="teacher_note" name="teacher_note" rows="6"><%= (attendance.present? && attendance.note_2.present?) ? attendance.note_2.html_safe : '' %></textarea>
</div>
<% if attendance.operation_comment.present? %>
  <div class='reject_reason' style='margin: 0 20px 20px'>
    <label class='label-note'>Lý do nhận xét không đạt(Phụ huynh sẽ không thấy):</label>
    <br>
    <textarea id='operation_note_content' rows='5' disabled style="width:100%" value="<%= attendance.operation_comment %>"><%= attendance.operation_comment %></textarea>
  </div>
<% end %>
<%= tinymce :simple %>
