<div class="c-award-item__thumb contest-certificate-download-div" data-project="<%= project['id'] %>" id="contest-certificate-<%= project['id'] %>">
  <img src="/contest/upload/award-blank.png" alt="image">
  <div class="c-award-item__avatar">
    <figure>
      <% if project['user_avatar']&.attached? %>
        <%= image_tag project['user_avatar'] %>
      <% else %>
        <img src="/contest/images/face-default.png" alt="image">
      <% end %>
    </figure>
  </div>
  <div class="c-award-item__name"><%= project['student_name'] %></div>
  <div class="c-award-item__address"><%= project['company_name'] %></div>
  <div class="c-award-item__program">For outstanding performance and winning the competition of <b><%= contest&.name %></b></div>
  <div class="c-award-item__date"><%= project['created_at'].strftime('%d/%B/%Y') %></div>
</div>
<div class="c-award-item__bar">
  <ul>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= request.base_url %>/contest/contest_projects/show/<%= project['id'] %>" target='_blank'><i class="icon24-share"></i><span><%= t('Contest.Award.share') %></span></a></li>
    <li><a data-project='<%= project['id'] %>' class="download-certificate" ><i class="icon24-pdf"></i><span>Tải xuống</span></a></li>
    <li><a href="/contest/contest_projects/show/<%= project['id'] %>"><i class="icon24-view"></i><span>Xem sản phẩm</span></a></li>
  </ul>
</div>
<style>
.c-award-item__bar a {
  cursor: pointer;
}
</style>
