<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h2 class="color-fff text-transform">Danh sách lớp học</h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">

    <div class="panel-content">
      <div class="table-responsive bo-table">
        <div class="filter-box FlowupLabels b-b-1-869fb229" id='formBody'>
          <div class="row">
            <div class="col-md-4">
              <label class="filter-title">Toàn bộ <span class="color-16BD56">Lớp học</span></label>
            </div>
            <div class="col-md-3">
              <div class='fl_wrap m-t-0'>
                <label class='fl_label' for='rf_name'>Lọc theo:</label>
                <select class='fl_input' id='filter_type'>
                  <option value='all' selected> Tất cả</option>
                  <option value="true">Đang diễn ra</option>
                  <option value="false">Đã hoàn thành</option>

                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class='fl_wrap m-t-0' id='date_range_pick_form'>
                <label class='fl_label' for='rf_name'>Thời gian:</label>
                <input type="text" id='daterange_pick' name="daterange_pick" class='fl_input form-control' placeholder="" data-orientation="top" value=''>
              </div>
            </div>
            <div class="col-md-2">
              <div class='fl_wrap m-t-0'>
                <label class='fl_label' for='rf_name'>Cơ sở:</label>
                <select class='fl_input' id='filter_company'>
                  <option value='all' selected>Tất cả</option>
                  <% @company.each do |ct| %>
                    <option value="<%= ct.id %>"><%= ct.name %></option>
                  <% end %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
          <tr>
            <th>Mã lớp</th>
            <th>Khóa học</th>
            <th>Học sinh</th>
            <th>Thời gian</th>
            <th>Buổi học</th>
            <th></th>
          </tr>
          </thead>
          <tbody id="batch_list">
          <% @batches.each do |batch| %>
            <tr class='batch_info'>
              <td><%= batch.code %></td>
              <td><%= batch.name %></td>
              <td>4</td>
              <td><%= batch.start_date.to_s + ' - ' + batch.end_date.to_s %></td>
              <td>4/12 - Học phần 1</td>
              <td align="right">
                <% if !batch.active %>
                  <span class="label-edit label label-stop">Đã hoàn thành</span>
                <% else %>
                  <span class="label-edit label label-primary">Đang diễn ra</span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>