<% teacher = current_user.op_faculty %>
<% res_partner = teacher.res_partner if teacher.present? %>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform">hồ sơ giảng viên</h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <div class="box-profile">
        <div class="bp-photo">
          <span>
            <%#= image_tag(get_avatar) %>
            <%= User::Account::UserDecorator.new(current_user).display_avatar.html_safe %>
          </span>
          <p>Giảng viên Fultime</p>
          <label><%= teacher.full_name if teacher.present? %></label>
        </div>
        <div class="bp-tab">
          <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Thông tin chung</a></li>
          </ul>
          <div class="tab-content ">
            <%= render :partial => "info", :locals => {:teacher => teacher, :res_partner => res_partner} %>
            <%= render "evaluation" %>
            <%= render "movements" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
