<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'social_community/dashboards/student/dashboard.js' %>
  <%= javascript_include_tag 'social_community/dashboards/shared/pagination.js' %>
  <%= javascript_include_tag 'social_community/dashboards/shared/posts/reactions.js' %>
  <%= javascript_include_tag 'social_community/dashboards/shared/posts/comments.js' %>
<% end %>
<div class="page-content page-thin">  
  <div class="row">
    <div class="col-md-7">
      <ul class="nav nav-tabs nav-justified nav-primary tab-menu">
        <li class="active" id='li_newFeeds'><a href="#tab_newFeeds" data-toggle="tab"><%= t('social_community.new_feeds') %></a></li>
        <li class="" id='li_homeFeeds'><a href="#tab_homeFeeds" data-toggle="tab"><%= t('social_community.home_feeds') %></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade active in" id="tab_newFeeds">
          <div id='newFeeds'>
          </div>
          <div id='infinitive-scrolling-new-feeds' style='display:none'>
          </div>
          <div id='loading-new-feeds' style='display: none;'>
            <%= render :partial => 'partials/feed_loading' %>
          </div>
        </div>
        <div class="tab-pane fade" id="tab_homeFeeds">
          <div id='homeFeeds'>
          </div>
          <div id='loading-home-feeds' style='display: none;'>
            <%= render :partial => 'partials/feed_loading' %>
          </div>
          <div id='infinitive-scrolling' style='display:none' date-time-offset='0'>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel" id='coming_soon_session'>
      </div>
      <div class="panel" id='dashboard_noti'>
      </div>
      <div class='panel' id ='attendance_report'>
      </div>
      <div class="panel" id='dashboard_leader'>
      </div>
    </div>
  </div>
</div>
