<div class="bpc-achievements">
  <div class="row">
    <div class="col-sm-3">
      <div class="bpa-img">
        <%= image_tag('global/images/screenshot.png') %>
        <a href="#">
          <%= image_tag('global/images/heart-border.png') %>
          <span>07</span>
        </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="bpa-img">
        <%= image_tag('global/images/screenshot.png') %>
        <a href="#">
          <%= image_tag('global/images/heart-border.png') %>
          <span>07</span>
        </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="bpa-img">
        <%= image_tag('global/images/screenshot.png') %>
        <a href="#">
          <%= image_tag('global/images/heart-border.png') %>
          <span>07</span>
        </a>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="bpa-img">
        <%= image_tag('global/images/screenshot.png') %>
        <a href="#">
          <%= image_tag('global/images/heart-border.png') %>
          <span>07</span>
        </a>
      </div>
    </div>
  </div>
</div>
