<div class="table-responsive bo-table m-b-20">
  <div class="fc-header">
    <h3>Buổi học <span class="color-F16357">Sắp diễn ra</span></h3>
  </div>
  <table class="table m-b-0">
    <tbody>
      <tr>
        <td>
          <% if !coming_soon_session.nil? and !coming_soon_session.blank? %>
            <p><%= coming_soon_session.op_subject.name %></p>
            <% start = coming_soon_session.start_datetime %>
          <% else %>
            <div>Không có buổi học nào sắp diễn ra</div>
            <% start = 0 %>
          <% end %>
        </td>

        <td align="right">

          <% if !coming_soon_session.nil? and !coming_soon_session.blank? %>
            <p class="text-right"><%= start.strftime('%H:%M') %>
          - <%= coming_soon_session.end_datetime.strftime('%H:%M') %> | <%= start.strftime('%A') + ', ' + start.day.to_s + '/' + start.month.to_s + '/' + start.year.to_s %>
            </p>
          <% end %> 
        </td>
        <td width="210px">
          <div id="clockdiv">
            <div>
              <span class="days"></span>
            </div>
            <div>
              <span class="hours"></span>
            </div>
            <div>
              <span class="minutes"></span>
            </div>
            <div>
              <span class="seconds"></span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<%= javascript_tag "initializeClock('clockdiv', #{start.to_json.html_safe} );", "data-turbolinks-track" => true%>
