<div class="c-box__title">
  <div class="c-box__title__name"><span>Toàn bộ</span>Sản phẩm dự thi</div>
  <div class="c-box__title__shadow">Products</div>
</div>
<div class="c-box__desc">
  Có tổng cộng
  <b class='project-count'><%= @projects.total_count %></b>
  sản phẩm tham gia dự thi
</div>
<div class="c-box__content">
  <div class="c-product-grid">
    <ul class="clearfix ul-contest-projects">
      <% @project_details.each do |project| %>
        <% next if project.blank? %>
        <li class='c-project-detail' data-company="<%= project['company_id'] %>">
          <div class="c-product-item">
            <div class="c-product-item__thumb">
              <% s_project = SocialCommunity::ScStudentProject.where(id: project['project_id']).first %>
              <a href="/contest/contest_projects/show/<%= project['id'] %>">
                <%= Contest::ContestDecorator.new(s_project).display_project_thumbnail.html_safe %>
              </a>
            </div>
            <div class="c-product-item__content">
              <div class="b-grid">
                <div class="b-grid__img">
                  <figure>
                    <% if project['user_avatar']&.attached? %>
                      <%= image_tag project['user_avatar'] %>
                    <% else %>
                      <img src="/contest/images/face-default.png" alt="face">
                    <% end %>
                  </figure>
                </div>
                <div class="b-grid__content">
                  <div class="b-grid__row"><a class="b-grid__title" href="/contest/contest_projects/show/<%= project['id'] %>"><%= project['project_name'] %></a></div>
                  <div class="b-grid__row"><span class="b-grid__author"><%= project['student_name'] %></span></div>
                </div>
              </div>
              <div class="c-product-item__count">
                <ul>
                  <li><i class="icon16-like"></i><span><%= project['like'] %></span></li>
                  <li><i class="icon16-share"></i><span><%= project['share'] %></span></li>
                  <li><i class="icon16-eye"></i><span><%= project['views'] %></span></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="c-paging">
    <div class="c-paging__inner">
      <a class="is-primary is-first prev-page-projects" data-remote='true'>
        <i class="icon16-angle-left-white"></i>
      </a>
      <span class="c-paging__text">Trang</span>
      <a class="active"><%= @projects.current_page %></a>
      <span class="c-paging__text">/<%= @projects.total_pages %></span>
      <a class="is-primary is-last next-page-projects" data-remote='true'>
        <i class="icon16-angle-right-white"></i>
      </a>
    </div>
  </div>
  <div id='paginator' style="display: none">
    <%= paginate @projects, remote: true %>
  </div>
</div>
<style>
.is-primary {
  cursor: pointer;
}
</style>

  <script>
    $('.prev-page-projects').click(function(){
      $('a.page-link[rel="prev"]')[0].click()
      $('.contest-projects-content').html(`<div class="c-loading"> <div class="c-loading__icon"><i class="icon32-sand-clock"></i></div> <div class="c-loading__text">Đợi xíu nha...</div> </div>`)

    })
    $('.next-page-projects').click(function(){
      $('a.page-link[rel="next"]')[0].click()
      $('.contest-projects-content').html(`<div class="c-loading"> <div class="c-loading__icon"><i class="icon32-sand-clock"></i></div> <div class="c-loading__text">Đợi xíu nha...</div> </div>`)
    })
  </script>
