<div class="c-box__title">
  <div class="c-box__title__name"><span>Toàn bộ</span>Sản phẩm dự thi</div>
  <div class="c-box__title__shadow">Products</div>
</div>
<div class="c-box__desc">
  Có tổng cộng
  <b>1.034</b>
  sản phẩm tham gia dự thi
</div>
<div class="c-box__content">
  <div class="c-product-grid">
    <ul class="clearfix ul-contest-projects">
      <% @project_details.each do |project| %>
        <% next if project.blank? %>
        <li>
          <div class="c-product-item">
            <div class="c-product-item__thumb">
              <a href="product-detail.html">
                <% if project['project_img']&.attached? %>
                  <%= image_tag project['project_img'] %>
                <% else %>
                  <img src="/contest/upload/product_1.jpg" alt="image">
                <% end %>
              </a>
            </div>
            <div class="c-product-item__content">
              <div class="b-grid">
                <div class="b-grid__img">
                  <figure>
                    <% if project['user_avatar']&.attached? %>
                      <%= image_tag project['user_avatar'] %>
                    <% else %>
                      <img src="/contest/upload/face_1.jpg" alt="face">
                    <% end %>
                  </figure>
                </div>
                <div class="b-grid__content">
                  <div class="b-grid__row"><a class="b-grid__title" href="product-detail.html"><%= project['project_name'] %></a></div>
                  <div class="b-grid__row"><span class="b-grid__author"><%= project['student_name'] %></span></div>
                </div>
              </div>
              <div class="c-product-item__count">
                <ul>
                  <li><i class="icon16-like"></i><span><%= project['like'] %></span></li>
                  <li><i class="icon16-share"></i><span><%= project['share'] %></span></li>
                  <li><i class="icon16-eye"></i><span><%= project['views'] %></span></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="c-paging">
    <div class="c-paging__inner">
      <a class="is-primary is-first prev-page-projects">
        <i class="icon16-angle-left-white"></i>
      </a>
      <span class="c-paging__text">Trang</span>
      <a class="active"><%= @projects.current_page %></a>
      <span class="c-paging__text">/<%= @projects.total_pages %></span>
      <a class="is-primary is-last next-page-projects" data-remote='true'>
        <i class="icon16-angle-right-white"></i>
      </a>
    </div>
  </div>
  <div id='paginator' style="display: none">
    <%= paginate @projects, remote: true %>
  </div>
</div>

  <script>
    $('.prev-page-projects').click(function(){
      $('a.page-link[rel="prev"]')[0].click()
    })
    $('.next-page-projects').click(function(){
      $('a.page-link[rel="next"]')[0].click()
    })
  </script>
