<% start_time = active_session.start_datetime %>
<% end_time = active_session.end_datetime %>
<div class="fc-header clearfix" style="border-bottom: none">
  <div class="pull-left lesson_info">
    <h3><%= t('teacher_class.subject') %> <%= active_subject.level %> - <%= t('teacher_class.session') %>: <%= active_session.count %></h3>
    <p><%= start_time.strftime('%H:%M') %> - <%= end_time.strftime('%H:%M') %> | <%= start_time.strftime('%d/%m/%y') %></p>
  </div>
  <div class="fc-list-btn pull-right session_control_button">
    <ul>
      <li>
        <button type="button" class="btn btn-default btn-embossed" id="learning_device" data-toggle="modal" data-target="#modal_learning_device"><span><%= image_tag('hotel-2.png') %></span><%= t('teacher_class.session_control.learning_device') %>
        </button>
      </li>
      <li>
        <%= Learning::Batch::OpSessionDecorator.new(active_session).display_checkin_button.html_safe %>
      </li>
      <% if ['confirm', 'done'].include? active_session.state %>
        <li>
          <button type="button" class="btn btn-default btn-embossed" id="teacher_attendance_new" data-toggle="modal" data-target="#modal_attendance" ><span><%= image_tag('wishlist.png') %></span><%= t('teacher_class.session_control.attendance') %>
          </button>
        </li>
        <li id="btn_view_materials">
          <%= link_to image_tag('file-4.png') +  "#{ t('teacher_class.session_control.learning_material') }", learning_list_slides_of_subject_path(active_session.subject_id), {:class => 'btn btn-default btn-embossed',:style =>  'font-weight: 600', 'data-toggle' => 'modal', 'data-target' => '#modal_materials', :remote => true} %>
          <%#= link_to 'Học liệu', learning_show_google_doc_materials_path(active_session.id), {:class => 'btn btn-default btn-embossed', 'data-toggle' => 'modal', 'data-target' => '#modal_materials', :remote => true} %>
        </li>
        <li>
          <button type="button" id='upload_session_photo' class="btn btn-default btn-embossed" data-toggle="modal" data-target="#upload_photo"><span><%= image_tag('photo-camera.png') %></span><%= t('teacher_class.session_control.take_photo') %>
          </button>
        </li>
    <% else %>
      <li>
        <button type="button" class="btn btn-default btn-embossed" id="teacher_attendance_new" disabled data-toggle="modal" data-target="#modal_attendance" ><span><%= image_tag('wishlist.png') %></span><%= t('teacher_class.session_control.attendance') %>
        </button>
      </li>
      <li id="btn_view_materials">
        <%= link_to image_tag('file-4.png') +  "#{ t('teacher_class.session_control.learning_material') }", learning_list_slides_of_subject_path(active_session.subject_id), {:class => 'btn btn-default btn-embossed', 'data-toggle' => 'modal', 'data-target' => '#modal_materials', :remote => true} %>
        <%#= link_to 'Học liệu', learning_show_google_doc_materials_path(active_session.id), {:class => 'btn btn-default btn-embossed', 'data-toggle' => 'modal', 'data-target' => '#modal_materials', :remote => true} %>
      </li>
      <li>
        <button type="button" id='upload_session_photo' class="btn btn-default btn-embossed" disabled data-toggle="modal" data-target="#upload_photo" disabled><span><%= image_tag('photo-camera.png') %></span><%= t('teacher_class.session_control.take_photo') %>
        </button>
      </li>
    <% end %>
    <% if active_session.state == 'done' %>
      <li>
        <button type="button" id='reward_student' class="btn btn-default btn-embossed" data-toggle="modal" data-target="#reward_student_modal"><span><%= image_tag('championship.png') %></span><%= t('teacher_class.session_control.reward') %>
        </button>
      </li>
    <% else %>
      <li>
        <button type="button" id='reward_student' disabled class="btn btn-default btn-embossed"><span><%= image_tag('championship.png') %></span><%= t('teacher_class.session_control.reward') %>
        </button>
      </li>
    <% end %>
    <% if ['done', 'confirm'].include? active_session.state %>
      <li>
        <button type="button" id='give_homework' data-toggle="modal" data-target="#give_homework_modal" class="btn btn-default btn-embossed"><span><%= image_tag('hotel-2.png') %></span><%= t('teacher_class.session_control.assign_homework') %>
        </button>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<%= render 'user/open_educat/op_teachers/modals/teacher_checkin', { session: active_session, active_subject: active_subject, lesson: active_lesson } %>
<%= render 'user/open_educat/op_teachers/modals/upload_photo' %>
<%= render 'user/open_educat/op_teachers/modals/learning_device', { lesson: active_lesson } %>
  <div class="modal fade" id="reward_student_modal" role="dialog">
</div>
<div class="modal fade" id="give_homework_modal" role="dialog">
</div>

<style>
  .btn-success {
    background-color: #2CCA73 !important;
  }
  .btn-warning {
    background-color: #fcef55 !important;
  }
  .btn-danger {
    background-color: #ff7f96 !important;
  }
</style>
  <script>
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    })
  </script>
