<div class='contest_content' id="contest_form">
  <div class='col-md-12'>
    <div class="col-md-3">
      <label>Tên cuộc thi</label>
    </div>
    <div class="contest_name col-md-9">
      <input name="contest_name" value="<%= contest&.id %>">
    </div>
  </div>
  <div class='col-md-12'>
    <div class="contest_state">
      <label for="contest_state">
        <input type="checkbox" id="contest_state" value="<%= contest&.is_publish %>">
        Active
      </label>
    </div>
  </div>
  <div class='col-md-12'>
    <div class="col-md-3">
      <label>Mô tả cuộc thi:</label>
    </div>
    <div class="contest_name col-md-9">
      <div class="mb-3">
        <textarea class="contest-description-textarea" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" value='<%= contest&.description %>'><%= contest&.description %></textarea>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" data-contest="<%= contest&.id %>" id="update-contest-button"><%= contest&.id.present? ? "Cập nhật" : "Thêm mới" %></button>
</div>

