<div class='contest_content' id="contest_form">
  <form id="idForm">
    <div class="row">
      <div class='col-md-12'>
        <div class="col-md-3">
          <label><%= t('Contest.Content.Name') %>:</label>
        </div>
        <div class="contest_name">
          <input name="contest_name" required maxlength="150" class="form-control" value="<%= contest&.name %>">
          <input name="contest_id" class="form-control" value="<%= contest&.id %>" type="hidden">
        </div>
      </div>
      <div class='col-md-12'>
        <div class="col-md-3">
          <label><%= t('Contest.Content.Description') %>:</label>
        </div>
        <div class="contest_name">
          <div class="mb-3">
            <textarea rows='5' required class="contest-description-textarea" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" value='<%= contest&.description %>'><%= contest&.description %></textarea>
          </div>
        </div>
      </div>
      <div class='col-md-12'>
        <div class="contest_state custom-control custom-checkbox">
          <% if contest&.is_publish %>
            <input class="custom-control-input" checked type="checkbox" id="contest_state">
          <% else %>
            <input class="custom-control-input" type="checkbox" id="contest_state">
          <% end %>
            <label for="contest_state" class="custom-control-label"><%= t('Contest.Content.State') %></label>
        </div>
      </div>
    </div>
    </form>
</div>

<style>
.contest_name {
  margin-bottom: 20px;
}
.contest_state{
  margin-left: 10px;
  margin-bottom: 20px;
}
</style>
