<%= javascript_include_tag 'adm/redeem/redeem_products' %>
<%= stylesheet_link_tag 'adm/redeem/redeem_products' %>
<%= tinymce_assets %>
<%= javascript_include_tag 'tinymce/langs/vi_VN.js' %>
<div class="card">
  <%= form_with(url: adm_redeem_redeem_product_path(adm_redeem_redeem_product), method: :patch, local: true) do |form| %>
    <div class="card-body">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label"><%= t('adm.redeem.redeem_product_name') %></label>
        <div class="col-sm-10">
          <%= form.text_field :name, required: true, class: "form-control", value: adm_redeem_redeem_product.name %>
        </div>
      </div>
      <div class="form-group row">
        <label for="code" class="col-sm-2 col-form-label"><%= t('adm.redeem.redeem_product_code') %></label>
        <div class="col-sm-10">
          <%= form.text_field :code,required: true, class: "form-control", value: adm_redeem_redeem_product.code %>
        </div>
      </div>
      <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label"><%= t('adm.redeem.redeem_product_price') %></label>
        <div class="col-sm-10">
          <%= form.number_field :price, required: true, class: "form-control", value: adm_redeem_redeem_product.price %>
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label"><%= t('adm.redeem.redeem_product_description') %></label>
        <div class="col-sm-10">
          <%= form.text_area :description, required: true, class: 'tinymce', value: adm_redeem_redeem_product.description %>
        </div>
      </div>
      <div class="form-group row">
        <label for="category" class="col-sm-2 col-form-label"><%= t('adm.redeem.redeem_product_category') %></label>
        <div class="col-sm-10">
          <%= form.collection_select(:category_id, Redeem::RedeemProductCategory.order(:created_at => :ASC).all, :id, :name, {:selected => adm_redeem_redeem_product.category_id}) %>
        </div>
      </div>
      <div class="form-group row">
        <label for="brand" class="col-sm-2 col-form-label"><%= t('adm.redeem.redeem_product_brand') %></label>
        <div class="col-sm-10">
          <%= form.collection_select(:brand_id, Redeem::RedeemProductBrand.order(:created_at => :ASC).all, :id, :name, {:selected => adm_redeem_redeem_product.brand_id}) %>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><%= t('adm.redeem.redeem_product_images') %></h4>
        </div>
        <div class="card-body">
          <!-- current images -->
          <div class="row">
            <% if adm_redeem_redeem_product.images.attached? %>
              <% adm_redeem_redeem_product.images.each do |image| %>
                <%= render :partial => "product_thumbnail", :locals => {image: image} %>
              <% end %>
            <% else %>
              <p><%= t('adm.redeem.no_product_images') %></p>
            <% end %>
          </div>
          <div class="row">
            <a class="btn btn-sm btn-success" onclick="document.getElementById('images').click()"><i class="far fa-plus-square"></i>&nbsp;<%= t('adm.redeem.actions_add_product_images') %></a>
            <%= form.file_field :images, title: 'Add images', multiple: true, style: "display:none", accept: 'image/png,image/gif,image/jpeg' %>
          </div>
          <div class="row" id="images-preview">
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= form.button "<i class='fas fa-save'></i>&nbsp;Save".html_safe, class: "btn btn-sm btn-primary" %>
      <%= link_to "<i class='fas fa-ban'></i>&nbsp;Cancel".html_safe, adm_redeem_redeem_product_path(@adm_redeem_redeem_product), class: 'btn btn-sm btn-danger' %>
      <%= link_to "<i class='fas fa-angle-double-left'></i>&nbsp; Back".html_safe, adm_redeem_redeem_products_path, class: 'btn btn-sm btn-secondary' %>
    </div>
  <% end %>
</div>
<%= tinymce :simple %>
<script>
  $(document).ready(() => {
    $(".remove-image").click((event) => {
      event.preventDefault();

      const blob_id = $(event.currentTarget).data('blob-id')
      $.ajax({
        url: '/adm/image_attachment/' + blob_id,
        type: 'DELETE',
        dataType: 'json',
        success: (response) => {
          console.log(response)
          if (response.success) {
            const deleted_image_div_id = "#product-image-" + response.blob_id
            $(deleted_image_div_id).remove()
            toastr.success("Image deleted!")
          } else {  
            toastr.error("Error!")
          }
        },
        failure: (response) => {
          console.log(response)
          toastr.error("Error!")
        }
      })
    })
  })
</script>
