<%= stylesheet_link_tag 'adm/redeem/redeem_products' %>

<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= t('adm.redeem.products') %></h3>
    <div class="card-tools">
      <%= link_to "<i class='far fa-plus-square'></i>&nbsp;#{t('adm.redeem.actions_add_product')}".html_safe, new_adm_redeem_redeem_product_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table table-responsive table-hover">
      <table class="table table-condensed">
        <thead>
          <th>#</th>
          <th><%= t('adm.redeem.redeem_product_name') %></th>
          <th><%= t('adm.redeem.redeem_product_code') %></th>
          <th><%= t('adm.redeem.redeem_product_images') %></th>
          <th><%= t('adm.redeem.redeem_product_price') %></th>
          <th><%= t('adm.redeem.redeem_product_description') %></th>
          <th colspan='1'></th>
        </thead>
        <tbody>
          <% @adm_redeem_redeem_products.each do |product| %>
            <tr>
              <th><%= product.id %></th>
              <td><%= product.name %></td>
              <td><%= product.code %></td>
              <td>
                <% if product.images.attached? %>
                  <%= image_tag(product.images.first.variant(resize_to_limit: [142, 106])) %>
                <% end %>
              </td>
              <td><%= product.price %></td>
              <td><%= sanitize(product.description) %></td>
              <td>
                <div class="fl-right">
                  <%= link_to "<i class='far fa-eye'></i>&nbsp;Show".html_safe, adm_redeem_redeem_product_path(product), class: 'btn btn-sm btn-primary' %>
                  <%= link_to "<i class='far fa-edit'></i>&nbsp;Edit".html_safe, edit_adm_redeem_redeem_product_path(product), class: "btn btn-sm btn-warning" %>
                  <%= link_to "<i class='far fa-trash-alt'></i>&nbsp;Remove".html_safe, adm_redeem_redeem_product_path(product), class: "btn btn-sm btn-danger", method: :delete, data: {confirm: 'Are you sure?'} %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "<i class='far fa-plus-square'></i>&nbsp;#{t('adm.redeem.actions_add_product')}".html_safe, new_adm_redeem_redeem_product_path, class: "btn btn-sm btn-primary fl-right"%>
  </div>
</div>
