<div class="card">
  <div class="card-header">
    <h3 class="card-title"><%= @adm_redeem_redeem_product.name %></h3>
  </div>
  <div class="card-body p-10">
    <%= render :partial => 'product_state_report', :locals => {states: @states} %>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.redeem_product_name') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= @adm_redeem_redeem_product.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.redeem_product_price') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= number_with_precision(@adm_redeem_redeem_product.price, :delimiter => '.', :precision => 0) %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.redeem_product_code') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= @adm_redeem_redeem_product.code %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.redeem_product_description') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= @adm_redeem_redeem_product&.description.html_safe %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.redeem_product_brand') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= @adm_redeem_redeem_product&.redeem_product_brand.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <label><%= t('adm.redeem.redeem_product_category') %></label> 
      </div>
      <div class="col-md-9 col-sm-12">
        <p><%= @adm_redeem_redeem_product&.redeem_product_category.name %></p>
      </div>
    </div>
    <label><%= t('adm.redeem.redeem_product_images') %></label>
    <div class="row">
      <% if @adm_redeem_redeem_product.images.attached? %>
        <% @adm_redeem_redeem_product.images.each do |image| %>
          <div class="col-sm-4">
            <a href="<%= url_for(image) %>" data-toggle="lightbox" data-title="<%= @adm_redeem_redeem_product.name %>" data-gallery="gallery">
              <%= image_tag(image.variant(resize_to_limit: [284, 212]), class: "img-fluid mb-2", alt: @adm_redeem_redeem_product.name) %>
            </a>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <%= link_to "<i class='fas fa-pencil-alt'></i>&nbsp; Edit".html_safe, edit_adm_redeem_redeem_product_path(@adm_redeem_redeem_product), class: "btn btn-sm btn-warning" %>
    <%= link_to "<i class='fas fa-angle-double-left'></i>&nbsp; Back".html_safe, adm_redeem_redeem_products_path, class: "btn btn-sm btn-secondary" %>
  </div>
</div>
