<div class='table-responsive'>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>#</th>
        <th><%= t('redeem.product_image') %></th>
        <th><%= t('redeem.product_name') %></th>
        <th><%= t('redeem.product_amount') %></th>
        <th><%= t('redeem.product_color') %></th>
        <th><%= t('redeem.product_size') %></th>
        <th><%= t('redeem.status') %></th>
        <th><%= t('redeem.note') %></th>
      </tr>
    </thead>
    <tbody>
      <% @redeems.each_with_index do |redeem, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td class='product_img'><%= image_tag @images[redeem.product_id] %></td>
          <td><%= redeem.product_name %></td>
          <td><%= redeem.amount.to_i %></td>
          <td>
            <div style='width: 20px; height: 20px; background-color: <%= redeem.color %>'></div>
          </td>
          <td><%= redeem.size %></td>
          <td>
            <% if redeem.status == REDEEM_TRANSACTION_STATE_NEW %>
              <%= t('redeem.state.new') %>
            <% elsif redeem.status == REDEEM_TRANSACTION_STATE_READY %>
              <%= t('redeem.state.ready') %>
            <% elsif redeem.status == REDEEM_TRANSACTION_STATE_CANCEL %>
              <%= t('redeem.state.reject') %>
            <% elsif redeem.status == REDEEM_TRANSACTION_STATE_DONE %>
              <%= t('redeem.state.success') %>
            <% end %>
          </td>
          <td><%= redeem.admin_note %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
