
<div id="session_student_feedback" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header p-l-20 p-r-20">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t('notification.student_feedback.create')%></h4>
      </div>
      <div class="modal-body">
        <input type="hidden" value='' name='active_feedback_session'>
        <div class="text-center m-b-20">
          <h3 class="text-uppercase"><%= t('notification.student_feedback.How do you feel about the class?')%></h3>
          <!-- <p style="text-align: center">Đánh giá xong con sẽ được thưởng <span style="color: red; text-transform: uppercase">150 teky đồng</span></p> -->
        </div>
        <div class="ths-list">
          <div style="display: grid; grid-template-columns: 25% 25% 25% 25%; grid-auto-rows: 1fr;">
            <% Common::FeelingType.order(created_at: :ASC).all.each_with_index do |type, index| %>
              <div class="feeling-item-<%= (index+1)%>">
                <a class="ths-detail feeling_type <%= 'active_feeling_type' if index == 0 %>">
                  <%= image_tag(type.icon, class: 'feeling_type_icon') if type.icon.attached? %>
                  <input type='hidden' name='active_feeling_type' value='<%= type.id %>'>
                  <label style="text-align: center"><%= type.name %></label>
                </a>
              </div>
            <% end %>
          </div>
          <div class="m-t-30 m-l-5 m-r-5">
            <textarea id="student_feedback_content" class="textarea-content" rows="5" placeholder="<%= t('learning.your_other_feelings')%>"></textarea>
          </div>
        </div>        
      </div>
      <div class="modal-footer bg-D7DFE9">
        <button type="button" style="height: 50px;" class="btn btn-primary btn-box-shadow-41A6A2 bg-5DC2A7 m-r-0" id="student_confirm_feedback" data-dismiss="modal"><%= t('button.Send review')%></button>
      </div>
    </div>

  </div>
</div>
<script>
  $(document).ready(function(){
    $('.student_feedback_modal').on('click', function(){
      $('input[name="active_feedback_session"]').val($(this).data('session'))
    }) 

    $('.feeling_type').on('click', function(){
      $('.feeling_type').removeClass('active_feeling_type');
      $(this).addClass('active_feeling_type')
    })

    $('#student_confirm_feedback').click(function() {
      session_id = $('input[name="active_feedback_session"]').val();
      content = $('#student_feedback_content').val();
      type = $('.active_feeling_type').find($('input[name="active_feeling_type"]')).val();
      
      $.ajax({
        method: 'POST',
        url: '/learning/student_feeback',
        data: { content: content, session_id: session_id, type: type},
        success: function(res){
          display_noti(res)
        }
      })
    })
  })
</script>
