<% content_for :javascript_includes do %>
  <%= javascript_include_tag "admin/material.js" %>
<% end %>
<div class="page-content page-thin">

  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h2 class="color-fff text-transform">Học liệu Bài <%= @lesson.lession_number %> - Level <%= @subject.level %> - <%= @course.name %>
        <%= link_to 'Preview', learning_preview_lesson_path(@lesson.id), class: 'btn btn-primary' %>
        </h2>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in">
          <div class="bo-table">
            <div class="form-content">
              <div class="box-progress">
                <div class="row">
                  <ul>
                    <li>
                      <p><span class="span-text"><strong>Course</strong>: <%= @course.name %></span></p>
                    </li>
                    <li>
                      <p><span class="span-text"><strong>Subject</strong>: <%= @subject.name %> </span></p>
                    </li>
                    <li>
                      <p><span class="span-text"><strong>Lesson Name</strong>: <%= @lesson.name %> </span></p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="text-transform" style="margin-top: 50px; border-bottom: 2px solid gray; padding: 5px">Học liệu</h2>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in">
          <div class="bo-table">
            <div class="form-content">
              <% teaching_materials = get_teaching_materials(@lesson.id) %>
              <% review_videos = get_review_videos(@lesson.id) %>
              <div class="box-progress">
                <h4>Bài giảng</h4>
                <br>
                <div id='listMaterial'>
                  <% unless teaching_materials.empty? %>
                    <% teaching_materials.each do |material| %>
                      <% unless material.google_drive_link.nil? %>
                        <div><%= material.google_drive_link.html_safe %></div>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <div class="box-progress">
                <h4>Video ôn tập</h4>
                <br>
                <div id='listVideo'>
                  <% unless review_videos.empty? %>
                    <% review_videos.each do |video| %>
                      <% unless video.ziggeo_file_id.nil? %>
                        <div>
                          <%= form_with(url: '/learning/update_vimeo', method: 'put', multipart: true) do %>
                            <%= hidden_field_tag(:lesson_id, @lesson.id) %>
                            <%= hidden_field_tag(:video_id, video.id) %>
                            <br>
                            <%= label_tag(:file_id, "File ID") %>
                            <%= text_field_tag(:file_id, video.ziggeo_file_id) %>
                            <br>
                            <%= label_tag(:thumbnail, "Thumbnail Image") %>
                            <%= file_field_tag(:thumbnail) %>
                            <br>
                            <%= submit_tag("Update") %>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                  <% else %>
                    <div id='addVideo'>
                      <%= form_with(url: '/learning/add_vimeo', method: 'post', multipart: true) do %>
                        <%= hidden_field_tag(:lesson_id, @lesson.id) %>
                        <br>
                        <%= label_tag(:file_id, "File ID") %>
                        <%= text_field_tag(:file_id) %>
                        <br>
                        <%= label_tag(:thumbnail, "Thumbnail Image") %>
                        <%= file_field_tag(:thumbnail) %>
                        <br>
                        <%= submit_tag("Add video") %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2 class="text-transform" style="margin-top: 50px; border-bottom: 2px solid gray; padding: 5px">Câu hỏi</h2>
      <div class="tab-content p-0 tab-all-content m-t-20">
        <div class="tab-pane fade active in">
          <div class="bo-table">
            <div class="form-content">
              <div class="box-progress">
                <% if @questions.present? %>
                  <% @questions.each_with_index do |question, index| %>
                    <% if question.question_type == 'text'%>
                      <div class="question_content" style="margin: 10px; padding-bottom: 30px;border-bottom: 2px solid gray">
                        <div class="fco-ques">
                          <div class="fcoq-tit">
                            <label for="">Câu <%= index.to_i + 1 %> (Text response):</label>
                            <p><%= question.question ? question.question.html_safe : '' %></p>
                          </div>
                        </div>
                      </div>
                    <% elsif question.question_type == 'single' %>
                      <div class="question_content" style="margin: 10px; padding-bottom: 30px; border-bottom: 2px solid gray">
                        <div class="fco-ques">
                          <div class="fcoq-tit">
                            <label for="">Bài <%= index.to_i + 1 %> (Single choice):</label>
                            <p><%= question.question ? question.question.html_safe : '' %></p>
                          </div>
                        </div>
                        <div class="fco-answ">
                          <div class="fcoa-tit">
                            <label for="">Trả lời</label>
                          </div>
                          <div class="fcoa-con">
                            <% question.question_choices.order(created_at: :ASC).each_with_index do |choice, i| %>
                              <% if choice.is_right_choice %>
                                <label class="check-multi" style="background: #aad3aa"><%= choice.choice_content %>
                                <input type="radio" name="student_choise_answer" value="<%= choice.id %>" >
                                <% choice_key = ('A'.ord + i) %>
                                <span class="checkmark"></span>
                                </label>
                              <% else %>
                                <label class="check-multi"><%= choice.choice_content %>
                                <input type="radio" >
                                <% choice_key = ('A'.ord + i) %>
                                <span class="checkmark"></span>
                                </label>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% else %>
                      <div class="question_content" style="margin: 10px; padding-bottom: 30px; border-bottom: 2px solid gray">
                        <div class="fco-ques">
                          <div class="fcoq-tit">
                            <label for="">Bài <%= index.to_i + 1%> (Multiple choice):</label>
                            <p><%= question.question ? question.question.html_safe : '' %></p>
                          </div>
                        </div>
                        <div class="fco-answ">
                          <div class="fcoa-tit">
                            <label for="">Trả lời</label>
                          </div>
                          <div class="fcoa-con">
                            <% question.question_choices.order(created_at: :ASC).each_with_index do |choice, i| %>
                              <% if choice.is_right_choice %>
                                <label class="check-multi" style="background: #aad3aa"><%= choice.choice_content %>
                                <input type="checkbox">
                                <% choice_key = ('A'.ord + i) %>
                                <span class="checkmark"></span>
                                </label>
                              <% else %>
                                <label class="check-multi"><%= choice.choice_content %>
                                <input type="checkbox">
                                <% choice_key = ('A'.ord + i) %>
                                <span class="checkmark"></span>
                                </label>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
