<tr>
  <td><%= refer.code %></td>
  <td><%= refer.parent_name %></td>
  <td><%= refer.mobile %></td>
  <td><%= refer.student_name %></td>
  <td><%= refer.created_at.strftime('%d.%m.%Y') %></td>
  <%= render "social_community/refer_friends/partials/refer_state", {refer: refer} %>
  <td><span class='delete_refer_request fa fa-trash' data-refer="<%= refer.refer_key %>"></span></td>
</tr>
