<div class="bp-header" id='publicProfileHeaderInfo'>
  <ul class="row bh-step">
    <li class="col-md-3 col-xs-12">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/star.png') %>
        </span>
        <p class='t-uppercase'>
        <b><%= number_with_delimiter(public_user.star.to_i, :delimiter => '.') %></b> <%= t('public_profile.teky_star') %><br/>
        <b><%= number_with_delimiter(public_user.coin.to_i, :delimiter => '.') %></b> <%= t('public_profile.teky_coin') %>
        </p>
      </div>
    </li>
    <li class="col-md-3 col-xs-12">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/icon-BTVN.png') %>
        </span>
        <p class="t-uppercase">
        <b><%= count_homework %></b> <%= t('public_profile.homework') %><br/>
        <b><%= count_sc_project %></b> <%= t('public_profile.publish_projects') %>
        </p>
      </div>
    </li>
    <li class="col-md-3 col-xs-12">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/laurel-wreath.png') %>
        </span>
        <p class="t-uppercase">
        <b><%= count_achievement %></b> <%= t('public_profile.achievements') %><br/>
        <b><%= count_badge %></b> <%= t('public_profile.badges') %>
        </p>
      </div>
    </li>
    <li class="col-md-3 col-xs-12">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/prize.png') %>
        </span>
        <p>
        <b><%= count_redeem %></b> QUÀ TẶNG<br/>
        <br/>
        </p>
      </div>
    </li>
  </ul>
</div>
<style>
  #publicProfileHeaderInfo ul {
    display: flex;
  }
  #publicProfileHeaderInfo ul li{
    display: flex;
    display: flex;
    flex-direction: column;
  }
  .bhs-detail {
    height: 100%;
  }
</style>
