<div class="bp-header" id='publicProfileHeaderInfo'>
  <ul class="row bh-step">
    <li class="col-md-3">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/star.png') %>
        </span>
        <p>
        <b><%= number_with_delimiter(public_user.star, :delimiter => '.') %></b> ĐIỂM<br/>
        <b><%= number_with_delimiter(public_user.coin, :delimiter => '.') %></b> TEKY ĐỒNG
        </p>
      </div>
    </li>
    <li class="col-md-3">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/icon-BTVN.png') %>
        </span>
        <p>

        <% user = User::Account::User.where(student_id: @op_student.id).first %>
        <b><%= count_homework user %></b> BÀI TẬP VỀ NHÀ<br/>
        <b><%= count_sc_project %></b> DỰ ÁN ĐÃ PHÁT TRIỂN
        </p>
      </div>
    </li>
    <li class="col-md-3">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/laurel-wreath.png') %>
        </span>
        <p>
        <b><%= count_achievement %></b> GIẢI THƯỞNG<br/>
        <b><%= count_badge %></b> HUY HIỆU
        </p>
      </div>
    </li>
    <li class="col-md-3">
      <div class="bhs-detail">
        <span>
          <%= image_tag('global/images/prize.png') %>
        </span>
        <p>
        <b><%= count_redeem %></b> QUÀ TẶNG<br/>
        <br/>
        </p>
      </div>
    </li>
  </ul>
</div>
