<div class="bpc-achievements">
  <% if featured_photos.empty? %>
    <p class="pb-detail-no-items"><%= t('public_profile.no_featured_photos') %></p>
  <% else %>
    <div class="row">
      <% photos_size = featured_photos.size %>
      <% if photos_size <= 4 %>
        <% featured_photos.each do |photo| %>
          <a href="#showPhotosModal" class="bndi-detail"  data-toggle="modal">
            <span><%= image_tag(photo.image, :class => 'image-fit') %></span>
          </a>
        <% end %>
      <% else %>
        <% for index in 0..2 %>
          <a href="#showPhotosModal" class="bndi-detail"  data-toggle="modal">
            <span><%= image_tag(featured_photos[index].image, :class => 'image-fit') %></span>
          </a>
        <% end %> 
        <a href="#showPhotosModal" class="bndi-detail"  data-toggle="modal">
          <span>
            <%= image_tag(featured_photos[3].image, :class => 'image-fit') %>
            <span class="detail-plus"><%= photos_size %> +</span>
          </span>
        </a>
      <% end %>
    </div>
  <% end %> 
</div>

<div class="modal fade" id="showPhotosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <ul class="owl-carousel list-lightbox" id="lightbox">
          <% featured_photos.each do |photo| %>
            <li>
              <span>
                <% if photo.image.attached? %>
                  <%= image_tag(photo.image) %>
                <% end %>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<script>
  //  $('#lightbox').owlCarousel({
  //    items:1,
  //    loop:true,
  //    margin:10,
  //    nav:true,
  //    autoplayHoverPause:true,
  //    autoplay:true,
  //    autoplayTimeout:10000,
  //  });
</script>
<style>
.image-fit {
  flex: 0 0 auto;
  position: center;
  width:100%; 
  height:100%; 
  object-fit:cover;
}
</style>
