<div class="row">
  <div class="col-md-6 col-lg-6">
    <h3>Khóa học <span class="color-F16357"><%= course.name %></span></h3>
    <p>Lớp <%= batch.name %></p>
    <p>Học phần <%= subject.level %> - <%= subject.name %></p>
    <p id='homework_video_session_name'></p>
  </div>
  <div class="col-md-6 col-lg-6">
    <div class="row">
      <div class="col-md-4" style='float: right'>
        <%= link_to '<b>Làm bài tập</b>'.html_safe, learning_view_question_path(session_id: @session.id), class: "btn btn-primary btn-embossed bg-5DC2A7 text-transform" %>
      </div>
    </div>
  </div>
</div>
