<% op_batch %>
<% op_faculty %>
<% op_att_line %>

<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content modal-test">
    <div class="modal-body modal-body-fix">
      <div class="box-mt">
        <div class="bmt-img">
          <span>
            <%= image_tag('global/images/Bitmaps.png') %>
          </span>
        </div>
        <div class="bmt-text">
          <p>Giáo viên<br/><strong><%= op_faculty.nil? ? '' : op_faculty.full_name %></strong></p>
          <p><a href=""><%= op_batch.nil? ? '' : op_batch.code %></a>     |     <span>
            <% unless op_session.nil? %>
              <%= op_session.start_datetime.strftime('%d/%m/%Y') %>; <%= op_session.start_datetime.strftime('%H:%M') %> đến <%= op_session.end_datetime.strftime('%H:%M') %>
            <% end %>
          </span></p>
        </div>
      </div>

      <div class="box-mt-detail">
        <div class="bmd-title">
          <span>
            <%= image_tag('global/images/icon-student.png') %>
          </span>
          <h3>Điểm danh học sinh</h3>
        </div>
        <div class="bmd-content">
          <% if op_att_line.present %>
            <span class="bmdc-title">
              <%= image_tag('global/images/icon-date.png') %>
              <h3>Tôi có đi học</h3>
            </span>
          <% else %>
            <span class="bmdc-title" style="background: red;">
              <%= image_tag('global/images/icon-date.png') %>
              <h3>Tôi không đi học</h3>
            </span>
          <% end %>
        </div>
      </div>

      <%= render :partial => "user/shared/attendance_line", :locals => {op_att_line: op_att_line} %>
    </div>
  </div>
</div>
