<div class="panel-content">
  <div class="table-responsive bo-table">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t('learning.course') %></th>
          <th><%= t('learning.batch.name') %></th>
          <th><%= t('learning.subject') %></th>
          <th><%= t('learning.batch.type') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @batches.each do |batch| %>
          <% op_student_course = get_op_student_course(current_user, batch) %>
          <% levels = list_subject_level_of_student(op_student_course) %> 
          <tr>
            <td><%= batch.op_course.name %></td>
            <td><%= link_to batch.code, user_open_educat_op_students_batch_detail_path(batch_id: batch.id) %></td>
            <td>
              <% levels.each do |level| %>
                <span class="label-course label label-default"><%= level[1] %></span>
              <% end %>
            </td>
            <td>
              <%= get_batch_type(batch) %>
            </td>
            <% if op_student_course.state == 'on' %>
              <td align="right"><span class="label-edit label label-primary"><%= t('learning.batch.status.studying') %></span></td>
            <% elsif op_student_course.state == 'off' %>
              <td align="right"><span class="label-edit label label-danger"><%= t('learning.batch.status.stop') %></span></td>
            <% else %>
              <td align="right"><span class="label-edit label label-stop"><%= t('learning.batch.status.reversation') %></span></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
