<%= render :partial => 'user/op_students/modals/session_evaluation' %>
<tbody>
  <% sessions.each do |session| %>
    <tr>
      <% has_homework = has_homework? current_user, session %>
      <% lesson_name = session.op_lession ? session.op_lession.name : session.op_subject.name %>
      <% evaluate = get_student_evaluate current_user, session %>
      <% if has_homework %>
        <td width="70%">
          <a href="/learning/view_question?session_id=<%= session.id %>" class='student_homework_view'><%= lesson_name %></a>
          <input name='session_homework_name' value="<%= session.id %>" type="hidden">
        </td>
        <%# <td align="right"><%= session.start_datetime.strftime('%H:%M') %1> - <%= session.start_datetime.strftime('%d/%m/%y') %1></td> %>
        <% homework_state = done_homework? current_user, session %> 
        <% if homework_state[:state] == 'done'%>
          <td align="right"><span class="label-edit label label-success" style="width: 100%; padding:6px">Đã làm <%= homework_state[:progress] %></span></td>
        <% elsif homework_state == 'undone' %>
          <td align="right"><span class="label-edit label label-danger" style="width: 100%; padding:6px">Chưa làm <%= homework_state[:progress] %></span></td>
        <% else %>
          <td align="right"><span class="label-edit label label-primary" style="width: 100%; padding:6px">Đang làm <%= homework_state[:progress] %></span></td>
        <% end %>
      <% else %>
        <td width="70%">
          <a style='opacity: 0.5'><%= lesson_name %></a>
          <input name='session_homework_name' value="<%= session.id %>" type="hidden">
        </td>
        <td align="right"><span class="label-edit label label-stop">Không có bài tập</span></td>
      <% end %>
      <td align="right">
        <% if has_homework %>
          <!--          <a class='student_evaluate_view student_homework_watch_videos' href="/learning/show_video/<%#= session.id %>?target=watch_video_box" data-remote="true" data-session="<%= session.id %>" title='Làm bài tập về nhà'> -->
          <% if session.start_datetime >= Time.now %>
          <a style='opacity: 0.5' title='Tạm khoá: Buổi học chưa diễn ra' data-toggle="tooltip">
            <span>
              <%= image_tag('global/images/icon-BTVN.png', style: 'width: 20px;margin-right: 10px') %>
            </span>
          </a>
          <% else %>
          <a href="/learning/view_question?session_id=<%= session.id %>"  title='Làm bài tập về nhà' class='student_homework_view' data-toggle="tooltip">
            <span>
              <%= image_tag('global/images/icon-BTVN.png', style: 'width: 20px;margin-right: 10px') %>
            </span>
          </a>
        <% end %>
        <% else %>
          <a style='opacity: 0.5' title='Làm bài tập về nhà' data-toggle="tooltip">
            <span>
              <%= image_tag('global/images/icon-BTVN.png', style: 'width: 20px;margin-right: 10px') %>
            </span>
          </a>
        <% end %>
        <% if evaluate.present? %>
          <span data-toggle="modal" data-target="#session_evaluation_view">
          <a class='student_evaluate_view' href="/user/session_evaluation_content?session_id=<%= session.id %>" data-remote='true' data-toggle="tooltip" title='Nhận xét của giảng viên'>
            <span>
              <%= image_tag('global/images/icon-Comment.png', style: 'width: 20px;margin-right: 10px') %>
            </span>
          </a>
          </span>
        <% else %>
          <a class='student_evaluate_view' style='opacity: 0.5'  title='Nhận xét của giảng viên' data-toggle="tooltip">
            <span>
              <%= image_tag('global/images/icon-Comment.png', style: 'width: 20px;margin-right: 10px') %>
            </span>
          </a>
        <% end %>
        <!-- <a class='student_evaluate_view student_homework_watch_videos' href="/learning/show_video/<%#= session.id %>?target=watch_video_box" data-remote="true" data-session="<%= session.id %>" title='Ôn bài'> -->
        <a class='' data-toggle="tooltip" title='Chức năng "Ôn bài qua video" Sắp ra mắt'>
          <span>
            <%= image_tag('global/images/youtube-button.png', style: 'width: 20px;margin-right: 10px') %>
          </span>
        </a>
      </td>
    </tr>
  <% end %>
</tbody>
