<link rel="stylesheet" href="/AdminLTE-3.0.5/plugins/select2/css/select2.min.css">
<script src="/AdminLTE-3.0.5/plugins/select2/js/select2.full.min.js"></script>
<%= javascript_include_tag 'social_community/sc_student_projects/sc_student_project.js' %>
<%= javascript_include_tag 'social_community/sc_student_projects/social_student_projects.js' %>
<%= javascript_include_tag 'social_community/dashboards/shared/posts/reactions.js' %>
<%= javascript_include_tag 'social_community/dashboards/shared/posts/comments.js' %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag 'social_community/sc_student_project' %>
<% end %>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform"><%= t('social_community.social_student_project') %></h3>
      </div>
    </div>
  </div>
  <%= render "social_community/sc_student_projects/partials/student_projects", { student_projects: @student_projects} %>
  <div class="panel-content">
    <div class="box-product">
      <div class="fc-header">
        <h3><%= t('social_community.social_project_html') %></h3>
      </div>
      <div class='social_student_projects' id="social_student_projects">
        <div id="social_student_projects_filter">
          <div class='filter' style="padding-top: 20px;">
            <div class='row' style="display: flex">
              <div class='col-md-4' style="margin: auto">
                <label for="filter_course_projects">Khoá học:</label>
                <select class="form-control" id='filter_course_projects' name="course">
                  <option value="all" selected >Tất cả</option>
                  <% @courses.each do |c| %>
                    <option value="<%= c[0] %>"><%= c[1] %></option>
                  <% end %>
                </select>
              </div>
              <div class='col-md-4' style="margin: auto">
                <label for="filter_subject_projects">Level:</label>
                <select class="form-control" id='filter_subject_projects' name="subject[]" style='width: 100%'>
                  <option value="all" selected>Tất cả</option>
                </select>
              </div>
            </div>
            <div class='row' style="margin-top: 20px; margin-bottom: 20px; display: flex;">
              <div class="col-md-3" style="margin-left: auto">
                <label class="filter_label">Có slide
                  <input type="checkbox" name="filter_project_presentation">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-md-3" style="margin-left: auto">
                <label class="filter_label">Có video
                  <input type="checkbox" name="filter_project_video_show">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="col-md-3" style="margin-left: auto">
                <label class="filter_label">Có sản phẩm
                  <input type="checkbox" name="filter_project_link">
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div id="has_student_project">
          <div class='row' id="social_student_projects_content" style="padding-top: 17px; border-bottom: 1px dashed #dcdcdc; padding-bottom: 20px; position: relative">
          </div>
          <div class='row' id="paginator">
            <span class="prev_page_projects" data-page="0"><i class="fa fa-fast-backward"> Prev</i></span>
             <span class="next_page_projects" data-page="1">| Next <i class="fa fa-fast-forward"></i></span>
          </div>
        </div>
        <div id="no_student_project">
          <p class='no-projects'><%= t('social_community.course_no_project_yet') %></p>
        </div>
      </div>
      <div id="loading_div">
        <%= render 'partials/content_loading' %>
      </div>
    </div>
  </div>
</div>
</div>
<div id="studentProjectDetail" class="modal fade" role="dialog">
</div>
<div id="editStudentProjectDetail" class="modal fade" role="dialog">
</div>
<style>
#social_student_projects_filter{
  border-bottom: 3px solid #f0f2f5;
}
.select2-container {
  z-index: 0 !important;
}
.item {
  padding-top: 30px;
}
#paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  }
#paginator span{
  cursor: pointer;
  color: #5DC2A7;
}

.select2-selection.select2-selection--single {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 5px !important;
  padding-left: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translate(-50%, -50%);
}

.prod-detail .prod-text {
  padding-top: 0 !important;
}
</style>
  <script>
    $('#filter_course_projects').select2();
    $('#filter_subject_projects').select2();
    $('#no_student_project').hide();

    $('#social_student_projects_filter').on('change', '#filter_course_projects', function(){
      $('#paginator').hide()
      $('#loading_div').show();
      $('#social_student_projects_content').hide();
      data = getDataFilter(0);
      getSocialStudentProject(data);
    })  
    
    $('#social_student_projects_filter').on('change', '#filter_subject_projects', function(){
      $('#paginator').hide()
      $('#loading_div').show();
      $('#social_student_projects_content').hide();
      data = getDataFilter(0);
      getSocialStudentProject(data);
    })  
  </script>
