<%= javascript_include_tag 'social_community/sc_student_projects/sc_student_project.js' %>
<%= javascript_include_tag 'social_community/dashboards/shared/posts/reactions.js' %>
<%= javascript_include_tag 'social_community/dashboards/shared/posts/comments.js' %>

<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform">Sản phẩm cộng đồng</h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <div class="box-product" >
        <div class="fc-header">
          <h3><span class="color-000">Sản phẩm <span style="color:#16BD56;text-transform: uppercase;font-weight: normal;">của tôi</span></h3>
        </div>
        <div class='row' style="padding-top: 17px;">
          <% unless (check_projects @student_projects) %>
            <p class='no-projects'>Bạn chưa có sản phẩm nào</p>
          <% else %>
            <% @student_projects.each do |course, projects| %>
              <% projects.each do |project| %>
                <div class='col-md-4 col-lg-3' style='margin-bottom: 30px'>
                  <%= render 'user/open_educat/shared/student_projects/student_project_item', { project: project } %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>    
    </div>

    <div class="panel-content">
      <div class="box-product" >
        <div class="fc-header">
          <h3><span class="color-000">Sản phẩm <span style="color:#16BD56;text-transform: uppercase;font-weight: normal;">cộng đồng</span></h3>
        </div>
        <div class=''>
          <% if @course_projects.blank? %>
            <p class='no-projects'>Bạn chưa có sản phẩm nào</p>
          <% else %>
            <% @course_projects.each do |course_project| %>
              <% course_project.each do |course, projects| %>
                <div class="fc-header">
                  <div class='row' style="padding-top: 15px; padding-bottom: 15px;">
                    <div class='col-md-9'>
                      <h4><span class="color-000"><%= course.name %></h4>
                    </div>
                    <div class='col-md-3'>
                      <a class='show_course_projects' href="/social_community/sc_student_projects/course_student_projects/<%= course.id %>"><%= t('button.see_more')%></a>
                    </div>
                  </div>
                </div>
                <div class='row' style="padding-top: 17px;">
                  <% projects.each do |project| %>
                    <div class='col-md-4 col-lg-3' style="margin-bottom: 30px;">
                    <%= render 'user/open_educat/shared/student_projects/student_project_community_item', { project: project } %>
                    </div>
                  <% end %>
                </div>
                <% end %>
            <% end %>
          <% end %>
        </div>
      </div>    
    </div>
  </div>
</div>
<div id="studentProjectDetail" class="modal fade" role="dialog">
</div>
<div id="editStudentProjectDetail" class="modal fade" role="dialog">
</div>
<style>
  .color-000 {color: #000 !important;}
  .show_course_projects {float: right;font-size: 16px;font-weight: 600;margin-right: 20px;}
  .no-projects {text-align: center;}
</style>

<style>
.project_progress {
  height: 20px;
    margin-top: 20px;
}
.student_project_show {
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}
.project_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  height: 175px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.project_control {
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.prod-img:hover .project_image {
  opacity: 0.3;
}

.prod-img:hover .project_control {
  opacity: 1;
}

.project_control button{
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
}
.edit_project {
  background: #fcf055;
}
button.edit_project  {
      padding: 10px !important;
    }
.public_project {
  background: #9966ff;
}
button.public_project  {padding: 10px !important;}

.show_project {background: #5cd2a7;}

.prod-detail .icon {width: 22px; text-align: center;display: inline-block; margin-right: 5px;}
.project-info {background-color:#D7DFE9}
.prod-text .project-name {text-align: justify;font-size: 14px; font-weight: normal;text-transform: uppercase;}
.prod-text .project-description {text-align: justify;font-size: 14px; font-weight: normal;}
</style>
