<link rel="stylesheet" href="/AdminLTE-3.0.5/plugins/select2/css/select2.min.css">
<script src="/AdminLTE-3.0.5/plugins/select2/js/select2.full.min.js"></script>
<%= javascript_include_tag 'social_community/sc_student_projects/sc_student_project.js' %>
<%= javascript_include_tag 'social_community/sc_student_projects/social_student_projects.js' %>
<%= javascript_include_tag 'social_community/dashboards/shared/posts/reactions.js' %>
<%= javascript_include_tag 'social_community/dashboards/shared/posts/comments.js' %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag 'social_community/sc_student_project' %>
<% end %>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform"><%= t('social_community.social_student_project') %></h3>
      </div>
    </div>
  </div>
  <%= render "social_community/sc_student_projects/partials/student_projects", { student_projects: @student_projects} %>
  <div class="panel-content">
    <div class="box-product">
      <div class="fc-header">
        <h3><%= t('social_community.social_project_html') %></h3>
      </div>
      <div class='social_student_projects' id="social_student_projects">
        <div id="social_student_projects_filter">
          <div class='filter' style="padding-top: 10px;">
            <div class='row' style="">
              <div class='col-md-4' style="">
                <label class="label_select" for="filter_project_type">Loại sản phẩm:</label>
                <select class="form-control-filters" id='filter_project_type' name="project_type" style="width: 100%">
                  <option value="all" selected >Tất cả</option>
                  <% @project_type.each do |c| %>
                    <option value="<%= c[1] %>"><%= c[0] %></option>
                  <% end %>
                </select>
              </div>
              <div class='col-md-4' style="">
                <label class="label_select" for="filter_course_projects">Khoá học:</label>
                <select class="form-control-filters" id='filter_course_projects' name="course">
                  <option value="all" selected >Tất cả</option>
                  <% @courses.each do |c| %>
                    <option value="<%= c[0] %>"><%= c[1] %></option>
                  <% end %>
                </select>
              </div>
              <div class='col-md-4' style="">
                <label class="label_select" for="filter_subject_projects">Level:</label>
                <select class="form-control-filters" id='filter_subject_projects' name="subject[]" style='width: 100%'>
                  <option value="all" selected>Tất cả</option>
                </select>
              </div>
            </div>
            <div class='row' style="margin-top: 10px; margin-bottom: 10px; display: flex">
              <div style="margin-left: auto">
              <div class="" style="margin-left: auto; display: inline-block; margin-right: 30px;">
                <label class="filter_label">Có slide
                  <input type="checkbox" name="filter_project_presentation">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="" style="margin-left: auto; display: inline-block; margin-right: 30px;">
                <label class="filter_label">Có video
                  <input type="checkbox" name="filter_project_video_show">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="" style="margin-left: auto; display: inline-block; margin-right: 30px; padding-right: 15px; ">
                <label class="filter_label">Có sản phẩm
                  <input type="checkbox" name="filter_project_link">
                  <span class="checkmark"></span>
                </label>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div id="has_student_project">
        </div>
        <div id="no_student_project">
          <p class='no-projects'><%= t('social_community.course_no_project_yet') %></p>
        </div>
      </div>
      <div id="loading_div">
        <%= render 'partials/content_loading' %>
      </div>
    </div>
  </div>
</div>
</div>
<div id="studentProjectDetail" class="modal fade" role="dialog">
</div>
<div id="editStudentProjectDetail" class="modal fade" role="dialog">
</div>
<style>
#social_student_projects_filter{
  border-bottom: 3px solid #f0f2f5;
}
.select2-container {
  z-index: 0 !important;
  width: 100% !important;
}
.item {
  padding-top: 40px;
}

.select2-selection.select2-selection--single {
  height: 60px;
  display: flex;
  align-items: flex-end;
  justify-content: left;
  border-radius: 5px !important;
  padding-left: 15px;
  border: 1px solid #DADAEE;
  padding-bottom: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-color: transparent;
  background-size: contain;
  border: none !important;
  height: 10px !important;
  width: 20px !important;
  margin: auto !important;
  top: auto !important;
  left: auto !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translate(-50%, -50%);
  padding-top: 8px;
}
.select2-container--open .select2-dropdown--below {
  margin-top: 0 !important;
  border: 1px solid #DADAEE;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
  border: 1px solid #DADAEE;
  border-radius: 5px;
}
.prod-detail .prod-text {
  padding-top: 0 !important;
}
</style>
  <script>
    $('#filter_course_projects').select2();
    $('#filter_subject_projects').select2();
    $('#filter_project_type').select2();
    $('#no_student_project').hide();

    $('#social_student_projects_filter').on('change', '#filter_course_projects', function(){
      $('#paginator').hide();
      $('.next_page_projects').hide();
      $('.prev_page_projects').hide();
      $('#loading_div').show();
      $('#social_student_projects_content').hide();
      data = getDataFilter(0);
      getSocialStudentProject(data);
    })  
    
    $('#social_student_projects_filter').on('change', '#filter_subject_projects', function(){
      $('#paginator').hide()
      $('.next_page_projects').hide();
      $('.prev_page_projects').hide();
      $('#loading_div').show();
      $('#social_student_projects_content').hide();
      data = getDataFilter(0);
      getSocialStudentProject(data);
    })  

    $('#social_student_projects_filter').on('change', '#filter_project_type', function(){
      $('#paginator').hide()
      $('.next_page_projects').hide();
      $('.prev_page_projects').hide();
      $('#loading_div').show();
      $('#social_student_projects_content').hide();
      data = getDataFilter(0);
      getSocialStudentProject(data);
    })
  </script>
