<%= javascript_include_tag 'social_community/sc_student_projects/sc_student_project.js' %>
<%= javascript_include_tag 'social_community/dashboards/shared/posts/reactions.js' %>
<%= javascript_include_tag 'social_community/dashboards/shared/posts/comments.js' %>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag 'social_community/sc_student_project' %>
<% end %>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform">Sản phẩm cộng đồng</h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <% if current_user.is_student? %>
    <div class="panel-content">
      <div class="box-product">
        <div class="fc-header">
          <h3><span class="color-000">Sản phẩm <span style="color:#16BD56;text-transform: uppercase;font-weight: normal;">của tôi</span></h3>
        </div>
        <div class='row' style="padding-top: 17px;">
          <% unless (check_projects @student_projects) %>
          <p class='no-projects'>Bạn chưa có sản phẩm nào</p>
          <% else %>
          <% @student_projects.each do |course, projects| %>
          <% projects.each do |project| %>
          <div class='col-md-3'>
            <%= render 'user/open_educat/shared/student_projects/student_project_item', { project: project } %>
          </div>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>

    <div class="panel-content">
      <div class="box-product">
        <div class="fc-header">
          <h3><span class="color-000">Sản phẩm <span style="color:#16BD56;text-transform: uppercase;font-weight: normal;">cộng đồng</span></h3>
        </div>
        <div class=''>
          <% if @course_projects.blank? %>
          <p class='no-projects'>Bạn chưa có sản phẩm nào</p>
          <% else %>
          <% @course_projects.each do |course_project| %>
          <% course_project.each do |course, projects| %>
          <div class="fc-header">
            <div class='row' style="padding-top: 15px;">
              <div class='col-md-9'>
                <h4><span class="color-000"><%= course.name %></h4>
              </div>
              <div class='col-md-3'>
                <a class='show_course_projects' href="/social_community/sc_student_projects/course_student_projects/<%= course.id %>"><%= t('button.see_more')%></a>
              </div>
            </div>
          </div>
          <div class='row' style="padding-top: 17px;">
            <% projects.each do |project| %>
            <div class=' col-lg-3 col-md-3 col-sm-6' style="margin-bottom: 30px;">
              <%= render 'user/open_educat/shared/student_projects/student_project_community_item', { project: project, teacher_can_edit: false } %>
            </div>
            <% end %>
          </div>
          <% end %>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="studentProjectDetail" class="modal fade" role="dialog">
</div>
<div id="editStudentProjectDetail" class="modal fade" role="dialog">
</div>
