<div class="user_info_content" style="width: 50%; margin: auto">
  <div class="card card-primary">
    <div class="card-body box-profile">
      <div class="text-center">
        <h3><%= @info[:user].is_student? ? 'Thông tin học sinh' : 'Thông tin người dùng' %></h3>
      </div>
      <div class="text-center">
        <div class="user_avatar ">
          <%= (User::Account::UserDecorator.new(@info[:user]).display_avatar 150).html_safe %>  
        </div>
      </div>

      <h3 class="profile-username text-center"><%= @info[:user].username %></h3>

      <p class="text-muted text-center"><%= @info[:user].account_role %></p>
      <% if @info[:user].is_student? %>
        <h4 class='text-center'><%= @info[:user].coin.to_s %> TEKY Sao | <%= @info[:user].star.to_s %> TEKY Đồng</h4>
      <% end %>
      <ul class="list-group list-group-unbordered mb-3">
        <li class="list-group-item">
          <div class='row'>
            <div class='col-md-4 col-md-push-1'>
              <b>Tên người dùng</b>
            </div>
            <div class='col-md-7 col-md-push-1'>
              <a class="float-left"><%= @info[:name] %></a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class='row'>
            <div class='col-md-4 col-md-push-1'>
              <b>Email</b>
            </div>
            <div class="col-md-7 col-md-push-1">
              <a class="float-left"><%= @info[:email] %></a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class='row'>
            <div class='col-md-4 col-md-push-1'>
              <b>Số điện thoại</b>
            </div>
            <div class='col-md-7 col-md-push-1'>
              <a class="float-left"><%= @info[:mobile] %></a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class='row'>
            <div class='col-md-4 col-md-push-1'>
              <b>Cơ sở</b>
            </div>
            <div class='col-md-7 col-md-push-1'>
              <a class="float-left"><%= @info[:company] %></a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class='row'>
            <div class='col-md-4 col-md-push-1'>
              <b>Ngày tạo</b>
            </div>
            <div class='col-md-7 col-md-push-1'>
              <a class="float-left"><%= @info[:user].created_at %></a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class='row'>
            <div class='col-md-4 col-md-push-1'>
              <b>Đăng nhập lần cuối</b>
            </div>
            <div class="col-md-7 col-md-push-1">
              <a class="float-left"><%= @info[:user].last_sign_in_at %></a>
            </div>
          </div>
        </li>
        <% if @info[:parent].present? %>
          <li class="list-group-item">
            <div class='row'>
              <div class='col-md-4 col-md-push-1'>
                <b>Phụ huynh</b>
              </div>
              <div class='col-md-7 col-md-push-1'>
                <a href="/adm/user/user_info/<%= @info[:parent_user].id %>" class="float-left"><%= @info[:parent_name] %></a>
              </div>
            </div>
          </li>
        <% end %>
        <% if @info[:children].present? %>
          <li class="list-group-item">
            <div class='row'>
              <div class='col-md-4 col-md-push-1'>
                <b>Học sinh</b>
                <div class='col-md-7 col-md-push-1'>
                  <% @info[:children].each do |child| %>
                    <a class=" child-link" href="/adm/user/user_info/<%= child[0] %>"><%= child[1] %>;</a>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<style>
.user_avatar img{
  width: 100px;
  height: 100px;
}
.child-link {
  margin-left : 10px;
}
.col-md-4 {
  margin: auto;
}
</style>
<script>
  $(document).ready(function(){
    $('.user_avatar img').addClass("profile-user-img img-fluid img-circle");
  })
</script>
