<% content_for :javascript_includes do %>
<% end %>
<h3><%= t("adm.learning.batch.info") %></h3>
<hr>
<div class='filter_form'>
  <div class='row'>
    <div class='col-md-3'>
      <div class="form-group">
        <label for='filter-codeh'><%= t("learning.batch.code") %></label>
        <select class='select2 select2-hidden-accessible' id='filter-code' data-placeholder="<%= t("adm.learning.session.select_batch") %>" name="code" style="width: 100%;">
          <option value=''></option>
          <% @allow_batches.each do |batch| %>
            <option value='<%= batch[1] %>'><%= batch[1] %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="form-group">
        <label for='filter-place'><%= t("adm.learning.batch.place") %></label>
        <select class='select2 select2-hidden-accessible' id='filter-place' data-placeholder="<%= t("adm.learning.batch.select_place") %>" name="place" style="width: 100%;">
          <option value=''></option>
          <% @batch_places.each do |place| %>
            <% if place == '1' %>
              <option value='1'>TEKY School</option>
            <% elsif place == '2' %>
              <option value='2'>TEKY Center</option>
            <% elsif place == '3' %>
              <option value='3'>TEKY Online</option>
            <% elsif place == '4' %>
              <option value='4'>EdTech - Tutoro</option>
            <% elsif place == '5' %>
              <option value='5'>EdTech - Toppy</option>
            <% end %>
          <% end %>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for='filter-state'><%= t("adm.learning.session.state") %></label>
        <select class="select2 select2-hidden-accessible" id='filter-state' data-placeholder="<%= t("adm.learning.session.select_state") %>" name="state" style="width: 100%;">
          <option value=''></option>
          <% @batch_states.each do |state| %>
            <option value="<%= state %>"><%= state %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class='col-md-3'>
      <div class="form-group">
        <label for="filter-session-time"><%= t("adm.learning.batch.session_time") %></label>
        <input type="text" class="form-control" id="filter-session-time">
      </div>
    </div>
    <div class='col-md-3'>
      <div class="form-group">
        <label for="filter-batch-time"><%= t("adm.learning.batch.time") %></label>
        <input type="text" class="form-control" id="filter-batch-time">
      </div>
    </div>
  </div>
</div>
<hr>
<div id="session_data_table" class='table-responsive'>
</div>
<div id="paginator">
</div>

<style>
.pagination span {
  margin: 5px;
}
  #submit_filter_sessions {
    float: right;
    margin-right: 20px;
    padding: 5px 30px;
    text-transform: uppercase;
    font-weight: 700;
  }
</style>

</div>
<style>
.filter_form {
  margin-bottom: 30px;
}

  #submit_filter_user {
    float: right;
    padding: 5px;
    margin-right: 40px;
    width: 100px;
  }
</style>
<script>
  $(document).ready(function(){
    applyDateRangePicker = (target) => {
      $(target).daterangepicker({
        timePicker: true,
        autoUpdateInput: false,
        timePickerIncrement: 30,
        locale: {
          format: 'DD/MM/YYYY hh:mm A'
        }
      })
      $('#filter-time').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
      });

      $('#filter-time').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
      });
    }

    applyDateRangePicker('#filter-session-time')
    applyDateRangePicker('#filter-batch-time')
  })
</script>
