<div class="l-footer">
  <div class="container">
    <div class="c-footer-main">
      <div class="c-footer-top">
        <div class="c-footer-logo"><a href="/"><img src="/contest/images/logo.svg" alt="logo"></a></div>
        <div class="c-footer-social"><a href="https://fb.com/tekyacademy"><i class="icon24-facebook"></i></a><a href="#"><i class="icon24-youtube"></i></a></div>
      </div>
      <div class="c-footer-center">
        <div class="row">
          <div class="col-md-4">
            <div class="c-footer-label">Học viện Teky</div>
            <div class="c-footer-content">
              <div class="b-maincontent">
                <p><%= Contest::Constant::Contact::ADDRESS %></p>
                <p><%= Contest::Constant::Contact::DISTRICT %></p><br>
                <p>Miền Bắc: <%= Contest::Constant::Contact::MB %></p>
                <p>Miền Nam: <%= Contest::Constant::Contact::MN %></p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Thông tin chung</div>
            <div class="c-footer-content">
              <div class="c-footer-list">
                <ul>
                  <li><a href="https://teky.edu.vn" target="_blank">Teky.edu.vn</a></li>
                  <li><a href="/contest/<%= contest.alias_name %>/home">Trang chủ</a></li>
                  <li><a href="https://teky.edu.vn/about-us" target="_blank">Về chúng tôi</a></li>
                  <li><a href="/contest/<%= contest.alias_name %>/home#contest_rule">Thể lệ</a></li>
                  <li><a href="/contest/<%= contest.alias_name %>/contest_projects">Sản phẩm dự thi</a></li>
                  <li><a href="https://teky.edu.vn/contact/" target="_blank">Liên hệ</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Đăng ký nhận tin</div>
            <div class="c-footer-content">
              <div class="c-footer-text">Subsbribe us to get news and updates directy to your inbox.</div>
              <div class="c-footer-email">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Email của bạn">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button"><i class="icon-long-arrow-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-copyright">© 2020 All Rights Reserved By TEKY Academy.</div>
  </div>
</div>
