<div class="c-block bg-gradient c-rules-block">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span><%= t('Contest.Menu.Rule') %></span><%= t('Contest.Award.Name') %></div>
        <div class="c-box__title__shadow">Contest Rules</div>
      </div>
      <div class="c-box__desc">
        <%= t('Contest.Products.name') %>
        <b class="h-text__underline"><%= t('Contest.Valid') %></b>
        là sản phẩm có đầy đủ những thông tin bao gồm
      </div>
      <div class="c-box__content">
        <div class="c-rules">
          <ul class="clearfix">
            <li>
              <div class="c-rules-item">
                <div class="c-rules-item__number"><img src="/contest/upload/number-1.svg" alt="1"></div>
                <div class="c-rules-item__row">
                  <div class="c-rules-item__title"><%= t('Contest.Attendance infomation') %></div>
                </div>
                <div class="c-rules-item__row"><%= @contest.rule_atendance_information&.html_safe %></div>
                <div class="c-rules-item__row"><i class="icon48-info"></i></div>
              </div>
            </li>
            <li>
              <div class="c-rules-item">
                <div class="c-rules-item__number"><img src="/contest/upload/number-2.svg" alt="1"></div>
                <div class="c-rules-item__row">
                  <div class="c-rules-item__title"><%= t('Contest.Content.Rule product description') %></div>
                </div>
                <div class="c-rules-item__row"><%= @contest.rule_product_description&.html_safe %></div>
                <div class="c-rules-item__row"><i class="icon48-desc"></i></div>
              </div>
            </li>
            <li>
              <div class="c-rules-item">
                <div class="c-rules-item__number"><img src="/contest/upload/number-3.svg" alt="1"></div>
                <div class="c-rules-item__row">
                  <div class="c-rules-item__title"><%= t('Contest.Menu.Submit_project') %></div>
                </div>
                <div class="c-rules-item__row"><%= @contest.rule_submission_entries&.html_safe %></div>
                <div class="c-rules-item__row"><i class="icon48-sent"></i></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
</div>
