<div class="c-block c-news-block">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Tin tức</span>Sự kiện nổi bật</div>
        <div class="c-box__title__shadow">News</div>
      </div>
      <div class="c-box__content">
        <div class="c-news-grid">
          <ul class="clearfix">
            <% Contest::ContestEvent.order(created_at: :DESC).limit(3).each do |event| %>
            <li>
              <div class="c-news-item">
                <div class="c-news-item__thumb">
                  <% if event.thumbnail&.attached? %>
                    <%= image_tag event.thumbnail %>
                  <% else %>
                    <img src="/contest/upload/news_1.jpg" alt="news">
                  <% end %>
                </div>
                <a class="c-news-item__caption" href="<%= event.link %>" target="_blank">
                  <span class="c-news-item__time">
                    <i class="icon16-calendar-white"></i><%= event.created_at.strftime('%H:%M') %> <%= get_week_day (event.created_at.strftime('%A')) %>, <%= event.created_at.strftime('%d/%m/%Y') %>
                  </span>
                  <span class="c-news-item__cat">Tin cuộc thi</span>
                  <span class="c-news-item__title"><%= event.name %></span>
                  <span class="c-news-item__more">Xem chi tiết</span>
                </a>
              </div>
            </li>
          <% end %>
          </ul>
        </div>
        <div class="c-more"><a class="btn btnl-lg btn-outline-dark" href="#">Xem toàn bộ<i class="icon-long-arrow-right icon-right"></i></a></div>
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
</div>
