<% slides = Contest::ContestSlider.where(is_publish: true).to_a %>
<div class="c-slider">
  <div class="owl-carousel js-slider" data-slider-id="slider-main">
    <% slides.each do |slide| %>
      <div class="c-slider-item <%= 'is-reverse' if slide.image_side == 'right' %>" style="background-image:url('<%= slide&.thumbnail&.attached? ? url_for( slide.thumbnail ) : '/contest/upload/slider-bg_1.jpg' %>');">
        <div class="c-slider-item__caption">
          <div class="container is-full">
            <div class="c-slider-item__text">
              <div class="c-slider-item__title">
                <% if slide.logo&.attached? %>
                  <%= image_tag slide.logo %>
                <% else %>
                  <img src="/contest/upload/slider-title_1.png" alt="img">
                <% end %>
              </div>
              <div class="c-slider-item__more">
                <div class="c-slider-item__btn"><a href="<%= submit_url %>">Nộp bài dự thi<i class="icon-right-white"></i></a></div><a class="c-slider-item__link" href="#contest_rule">Xem thể lệ cuộc thi</a>
              </div>
            </div>
            <div class="c-slider-item__img">
              <% if slide.image&.attached? %>
                <%= image_tag slide.image %>
              <% else %>
                <img src="/contest/upload/slider-img_1.png" alt="img">
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="c-template-dots">
    <ul class="owl-thumbs" data-slider-id="slider-main">
      <% slides.each_with_index do |slide, i| %>
        <li class="owl-thumb-item"><span><%= i + 1 %></span></li>
      <% end %>
    </ul>
  </div>
  <div class="c-slider-share"><a href="#"><i class="icon24-facebook-white"></i></a><a href="#"><i class="icon24-youtube-white"></i></a></div>
  <div class="c-slider-scroll js-scroll"><a href="#about-block-id"><i class="icon-scroll"></i>
      <div class="c-slider-scroll__text">Kéo xuống để khám phá</div></a></div>
</div>
