<%# user = c_project.user %>
<% mb = Contest::Constant::Region::MB %>
<% if c_project.present? %>
  <% user = User::Account::User.where(id: c_project.user_id).first %>
  <div class="c-board-item">
    <div class="c-board-item__inner">
      <% if mb.include? c_project.company_id %>
        <div class="c-board-item__tag is-warning-dark"><span>Miền bắc</span></div>
      <% else %>
        <div class="c-board-item__tag is-purple"><span>Miền nam</span></div>
      <% end %>
      <div class="c-board-item__thumb">
        <div class="c-board-item__avatar">
          <% if user.avatar.present? && user.avatar.thumbnail.present? %>
            <%= image_tag user.avatar.thumbnail %>
          <% else %>
            <img src='/contest/images/face-default.png'>
          <% end %>
        </div>
        <% unless is_month %>
          <div class="c-board-item__name"><%= c_project.student_name %></div>
        <% end %>
      </div>
      <% if is_month %>
        <div class="c-board-item__name"><%= c_project.student_name %></div>
        <div class="c-board-item__title">
          Giải xuất săc tháng
          <b><%= c_project.topic_start.strftime('%m/%Y') %></b>
        </div>
      <% else %>
        <div class="c-board-item__title">
          Giải nhất
          <b>tuần <%= c_project.week_number %></b>
          tháng
          <b><%= c_project.topic_start&.strftime('%m/%Y') %></b>
        </div>
      <% end %>
      <div class="c-board-item__more"><a href="/contest/contest_projects/show/<%= c_project.id %>">Xem sản phẩm</a></div>
    </div>
  </div>
<% else %>
  <div class="c-board-item">
    <div class="c-board-item__inner">
      <div class="c-board-item__tag is-warning-dark"><span>Miền bắc</span></div>
      <div class="c-board-item__thumb">
        <div class="c-board-item__avatar">
          <img src='/contest/images/face-default.png'>
        </div>
        <% unless is_month %>
          <div class="c-board-item__name">Coming soon</div>
        <% end %>
      </div>
      <% if is_month %>
        <div class="c-board-item__name">Coming soon</div>
        <div class="c-board-item__title">
          Giải xuất săc tháng
          <b><%= Time.now.strftime('%m/%Y') %></b>
        </div>
      <% else %>
        <div class="c-board-item__title">
          Giải nhất
          <b>tuần <%= week_index / 2 + 1 %></b>
          tháng
          <b><%= Time.now.strftime('%m/%Y') %></b>
        </div>
      <% end %>
    <% end %>
