<% op_att_line %>
<% unless op_att_line.nil? %>
  <div class="box-mt-detail">
    <div class="bmd-title">
      <h3>Báo cáo học sinh</h3>
    </div>
    <div class="bmd-repost bmd-content">
      <div class="bmr-detail">
        <div class="bmrd-title">
          <span>
            <%= image_tag('global/images/icon-programmer.png') %>
          </span>
          <h3>kiến thức</h3>
        </div>
        <ul class="bmrd-content">
          <li>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['KNOWLEDGE']['knowledge1']['label'] %>
            </p>

            <label>Giảng viên nhận xét</label>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['KNOWLEDGE']['knowledge1']['content'][op_att_line.knowledge1] %>
            </p>
          </li>
          <li>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['KNOWLEDGE']['knowledge2']['label'] %>
            </p>

            <label>Giảng viên nhận xét</label>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['KNOWLEDGE']['knowledge2']['content'][op_att_line.knowledge2] %>
            </p>
          </li>
          <li>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['KNOWLEDGE']['knowledge3']['label'] %>
            </p>

            <label>Giảng viên nhận xét</label>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['KNOWLEDGE']['knowledge3']['content'][op_att_line.knowledge3] %>
            </p>
          </li>
        </ul>
      </div>

      <div class="bmr-detail">
        <div class="bmrd-title">
          <span>
            <%= image_tag('global/images/icon-rating.png') %>
          </span>
          <h3>Thái độ</h3>
        </div>
        <ul class="bmrd-content">
          <li>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['ATTITUDE']['attitude1']['label'] %>
            </p>

            <label>Giảng viên nhận xét</label>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['ATTITUDE']['attitude1']['content'][op_att_line.attitude1] %>
            </p>
          </li>
          <li>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['ATTITUDE']['attitude2']['label'] %>
            </p>

            <label>Giảng viên nhận xét</label>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['ATTITUDE']['attitude2']['content'][op_att_line.attitude2] %>
            </p>
          </li>
        </ul>
      </div>

      <div class="bmr-detail">
        <div class="bmrd-title">
          <span>
            <%= image_tag('global/images/icon-ui.png') %>
          </span>
          <h3>Kỹ năng</h3>
        </div>
        <ul class="bmrd-content">
          <li>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['SKILL']['skill1']['label'] %>
            </p>

            <label>Giảng viên nhận xét</label>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['SKILL']['skill1']['content'][op_att_line.skill1] %>
            </p>
          </li>
          <li>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['SKILL']['skill2']['label'] %>
            </p>

            <label>Giảng viên nhận xét</label>
            <p>
            <%= User::Constant::SessionEvaluation::EVALUATION['SKILL']['skill2']['content'][op_att_line.skill2] %>
            </p>
          </li>
        </ul>
      </div>
      <div class="bmr-detail">
        <div class="bmrd-title">
          <span>
            <%= image_tag('global/images/files-and-folders-2.png') %>
          </span>
          <h3>nhận xét khác</h3>
        </div>
        <ul class="bmrd-content">
          <li>

            <label>Giảng viên nhận xét</label>
            <p>
            <%= op_att_line.note_1.html_safe %>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
