<div class="fc-header">
  <h3><span class="color-F16357">LỚP HỌC:</span> <%= batch.op_course.name %></h3>
</div>
<div class="box-progress">
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li>
          <%= image_tag('global/images/qr-code.png') %>
          <p><span class="span-text">Mã lớp học: </span><%= batch.code %></p></li>
        <li>
          <%= image_tag('global/images/calendar-4.png') %>
          <p><span class="span-text">Thời gian học: </span><%= batch.start_date.strftime('%d/%m/%Y') %>
        đến <%= batch.end_date.strftime('%d/%m/%Y') %></p></li>
        <li>
          <%= image_tag('global/images/clock.png') %>
          <% time_line = batch_timeline batch %> 

          <p><span class="span-text">Lịch học: </span>
          <% time_line.each do |time| %>
            <%= time.strftime("%H:%M") + " " + (get_week_day time.strftime("%A")) + "; "%>
          <% end %>
          hàng tuần
          </p>
        </li>
        <li>
          <%= image_tag('global/images/professor.png') %>
          <p><span class="span-text">Giảng viên: </span>
          <% teacher_names = teachers_name(batch.id) %>
          <a href=""><%= teacher_names %></a>
          </p>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>
          <%= image_tag('global/images/Combined-Shape.png') %>
          <p><span class="span-text">Môn học: </span><%= batch.op_course.name %></p></li>
        <li>
          <%= image_tag('global/images/steps.png') %>
          <p id="subject_id_span">
          <span class="span-text">Học phần: </span>
          <% if current_user.is_student? %>
            <% levels = list_subject_level_of_batch(batch.id) %>
            <% subject_ids = done_subject_ids(batch) %>
            <% unless levels.blank? %>
              <% levels.each do |level| %>
                <% if subject_ids.include?(level[0]) %>
                  <span class="label-course label label-default" data-toggle="tooltip" title="Học phần đã học" style="background: #5DC2A7;">
                    <%= level[1] %>
                  </span>
                <% else %>
                  <span class="label-course label label-default">
                    <%= level[1] %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          <% elsif current_user.is_teacher? %>
            <% levels = list_teacher_subject_level(batch.id) %>
            <% unless levels.blank? %>
              <% levels.each do |level| %>
                <% if level[0] == @current_subject_id %>
                  <span class="label-course label label-default subject_id active">
                    <input type='hidden' name='subject_id' value="<%= level[0] %>" >
                    <%= level[1] %>
                  </span>
                <% else %>
                  <span class="label-course label label-default subject_id">
                    <input type='hidden' name='subject_id' value="<%= level[0] %>" >
                    <%= level[1] %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          </p>
        </li>
        <li>
          <% last_done_session_count = get_done_subject_count(batch) %>
          <%= image_tag('global/images/steps.png') %>
          <span class='span-text'>Buổi học: <%= last_done_session_count %> 
          </span>
          </p>
        </li>
        <li>
          <%= image_tag('global/images/group-of-students.png') %>
          <p>
          <% batch_type = get_batch_type(batch) %>
          <span class="span-text">Loại lớp học: </span><%= batch_type %>
          </p></li>
          <li>
            <%= image_tag('global/images/hotel.png') %>
            <p>
            <span class="span-text">Trung tâm: </span><a href=""><%= batch.res_company.nil? ? '' : batch.res_company.name %></a>
            <% learning_room = learning_room(batch.id) %>
            <% unless learning_room.blank? %>
              <span class='span-text'>| (Phòng học: </span><a href=""><%= learning_room %> </a> <span class='span-text'>)</span>
            </p>
          <% end %>
          </li>
      </ul>
    </div>
  </div>
</div>
