<div class="fc-header">
  <h3><span class="color-F16357">LỚP HỌC:</span> <%= batch.op_course.name %></h3>
</div>
<div class="box-progress">
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li>
          <%= image_tag('global/images/qr-code.png') %>
          <p><span class="span-text">Mã lớp học: </span><%= batch.code %></p></li>
        <li>
          <%= image_tag('global/images/calendar-4.png') %>
          <p><span class="span-text">Thời gian học: </span><%= batch.start_date %>
            đến <%= batch.end_date %></p></li>
        <li>
          <%= image_tag('global/images/clock.png') %>
          <p><span class="span-text">Lịch học: </span>Chưa lấy thông tin này</p></li>
        <li>
          <%= image_tag('global/images/professor.png') %>
          <p><span class="span-text">Giảng viên: </span>
            <% teachers_name = teachers_name(batch.id) %>
            <% unless teachers_name.nil? %>
              <% teachers_name.each do |name| %>
                <a href=""><%= name %></a>
              <% end %>
            <% end %>
          </p></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <li>
          <%= image_tag('global/images/Combined-Shape.png') %>
          <p><span class="span-text">Môn học: </span><%= batch.op_course.name %></p></li>
        <li>
          <%= image_tag('global/images/steps.png') %>
          <p id="subject_id_span">
            <span class="span-text">Học phần: </span>
            <% levels = list_subject_level_of_batch(batch.id) %>
            <% unless levels.blank? %>
              <% levels.each do |id, level| %>
                <% if id == @current_subject_id %>
                  <span class="label-course label label-default subject_id active">
                    <input type='hidden' name='subject_id' value="<%= id %>" >
                    <%= level %>
                  </span>
                <% else %>
                  <span class="label-course label label-default subject_id">
                    <input type='hidden' name='subject_id' value="<%= id %>" >
                    <%= level %>
                  </span>
                <% end %>
              <% end %>
            <% end %>
          </p>
        </li>
        <li>
          <%= image_tag('global/images/group-of-students.png') %>
          <p>
            <span class="span-text">Loại lớp học: </span><%= batch.op_batch_type.nil? ? 'Đang cập nhật' : batch.op_batch_type.name %>
          </p></li>
        <li>
          <%= image_tag('global/images/hotel.png') %>
          <p>
            <span class="span-text">Trung tâm: </span><a href=""><%= batch.res_company.nil? ? 'Đang cập nhật' : batch.res_company.name %></a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
