<% levels = list_subject_level_of_batch(batch.id) %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr style="color: black; font-family: 'Montserrat-Boil' !important;">
        <th>Mã học sinh</th>
        <th>Học viên cùng lớp</th>
        <th>Học phần bạn đã đăng ký</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% op_student_courses = batch.op_student_courses %>
      <% op_student_courses.each do |op_student_course| %>
        <% if current_user.is_student? and current_user.op_student.id == op_student_course.student_id %>
          <tr style="color: black;">
            <% op_student = op_student_course.op_student %>
            <% unless op_student.nil? %>
              <td><%= op_student.code %></td>
              <td><%= op_student.full_name %></td>
            <% end %>
            <td>
              <% paid_levels = list_subject_level_of_student(op_student_course) %>
              <% unless levels.nil? %>
                <% levels.each do |level| %>
                  <% if paid_levels.include?(level) %>
                    <span class="label-course label label-default"><%= level[1] %></span>
                  <% else %>
                    <span class="label-course label label-default" style="background: #e0e6eb;"><%= level[1] %></span>
                  <% end %>
                <% end %>
              <% end %>
            </td>

            <% if op_student_course.state == Learning::Constant::STUDENT_BATCH_STATUS_ON %>
              <td align="right"><span class="label-edit label label-primary">Đang học</span></td>
            <% elsif op_student_course.state == Learning::Constant::STUDENT_BATCH_STATUS_OFF %>
              <td align="right"><span class="label-edit label label-danger">Nghỉ học</span></td>
            <% elsif op_student_course.state == Learning::Constant::STUDENT_BATCH_STATUS_SAVE %>
              <td align="right"><span class="label-edit label label-stop">Bảo lưu</span></td>
            <% else %>
              <td align="right"><span class="label-edit label label-stop">Đang cập nhật</span></td>
            <% end %>

          </tr>
        <% else %>
          <tr style="background-color: #F5F5F5">
            <% op_student = op_student_course.op_student %>
            <% unless op_student.nil? %>
              <td><%= op_student.code %></td>
              <td><%= op_student.full_name %></td>
            <% end %>
            <td>
            </td>

            <% if op_student_course.state == Learning::Constant::STUDENT_BATCH_STATUS_ON %>
              <td align="right"><span class="label-edit label label-primary">Đang học</span></td>
            <% elsif op_student_course.state == Learning::Constant::STUDENT_BATCH_STATUS_OFF %>
              <td align="right"><span class="label-edit label label-danger">Nghỉ học</span></td>
            <% elsif op_student_course.state == Learning::Constant::STUDENT_BATCH_STATUS_SAVE %>
              <td align="right"><span class="label-edit label label-stop">Bảo lưu</span></td>
            <% else %>
              <td align="right"><span class="label-edit label label-stop">Đang cập nhật</span></td>
            <% end %>

          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
