<div class="tab-pane fade" id="tab2_2">
  <div class="filter-box FlowupLabels" id='formBody'>
    <div class="row">
      <div class="col-md-offset-2 col-md-3">
        <div class='fl_wrap m-t-0'>
          <label class='fl_label' for='rf_name'>Khóa học: <%= batch.op_course.name %></label>
        </div>
      </div>
      <div class="col-md-3">
        <div class='fl_wrap m-t-0'>
          <label class='fl_label' for='rf_name'>Lớp học: <%= batch.code %></label>
        </div>
      </div>
      <div class="col-md-2">
        <div class='fl_wrap m-t-0'>
          <label class='fl_label' for='rf_name'>Học phần:</label>
          <% subjects = get_list_subject_pairs(batch_id: batch.id) %>
          <% unless subjects.nil? %>
            <select class='fl_input student_subject_filter' id='rf_name' onchange="showSubjectSessions()">
              <option value="all"></option>
              <% subjects.each do |k, subject| %>
                <option value="<%= k %>"><%= subject %></option>
              <% end %>
            </select>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <% coming_soon_session = get_coming_session_by_student(student_id: current_user.op_student.id, checkpoint_datetime: Time.now) %>
  <%= render 'user/shared/session/coming_session', {:coming_soon_session => coming_soon_session} %>

  <% todo_sessions = todo_session_student_batch(student_id: current_user.op_student.id, batch_id: batch.id) %>
  <%= render 'user/shared/session/todo_sessions', {:todo_sessions => todo_sessions} %>

  <% done_sessions = done_session_student_batch(student_id: current_user.op_student.id, batch_id: batch.id) %>
  <%= render 'user/shared/session/done_sessions', {:done_sessions => done_sessions} %>

  <% cancel_sessions = cancel_session_student_batch(student_id: current_user.op_student.id, batch_id: batch.id) %>
  <%= render 'user/shared/session/cancel_sessions', {:cancel_sessions => cancel_sessions} %>
</div>
