<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h3 class="color-fff text-transform"><%= t('adm.learning.Introduce classmates')%></h3>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <div class="step-all">
        <div class="row">
          <div class="col-sm-4">
            <div class="step-detail">
              <span>1</span><br/>
              <label class="text-uppercase font-bold"><%= t('adm.learning.Step')%> 1</label>
              <p><%= t("adm.learning.Click the button SEND ADVICE")%></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="step-detail">
              <span>2</span><br/>
              <label class="text-uppercase font-bold"><%= t('adm.learning.Step')%> 2</label>
              <p><%= t("adm.learning.Enter information into the form")%></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="step-detail">
              <span>3</span><br/>
              <label class="text-uppercase font-bold"><%= t('adm.learning.Step')%> 3</label>
              <p><%= t("adm.learning.Waiting to receive gifts")%></p>
            </div>
          </div>
          <div class="col-sm-12 text-center m-t-20 m-b-20">
            <button type="button" style="height: 50px;" data-toggle="modal" data-target="#refer_friend_modal" class="btn btn-primary btn-embossed bg-5DC2A7 text-transform" id="refer_friend_modal_button">Gửi lời mời</button>
          </div>
        </div>
      </div>

      <div class="bo-table">
        <div class="fc-header">
          <h3 class="p-l-0"><%= t("adm.List")%> <span class="color-16BD56"><%= t("adm.Presentee")%></span></h3>
        </div>
        <table class="table table-hover table-list-refer">
          <thead>
            <tr>
              <th><%= t("adm.Referral code")%></th>
              <th><%= t("adm.Parent's name")%></th>
              <th><%= t("adm.Phone")%></th>
              <th><%= t("adm.student")%></th>
              <th><%= t("adm.Refer date")%></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @refers.each do |refer| %>
              <tr>
                <td><%= refer.code %></td>
                <td><%= refer.parent_name %></td>
                <td><%= refer.mobile %></td>
                <td><%= refer.student_name %></td>
                <td><%= refer.created_at.strftime('%d.%m.%Y') %></td>
                <%= render :partial => "refer_state", :locals => {refer: refer} %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal fade" id="refer_friend_modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content m-b-20">
          <div class="modal-body text-center modal-edit">
            <div class="modal-title">
              <button type="button" class="close button-close-modal" data-dismiss="modal">&times;</button>
              <label>Mời bạn bè</label>
            </div>
            <% if !Rails.env.production? %>
              <% refer = SocialCommunity::ReferFriend.new %>
              <div class="filter-box FlowupLabels" id='formBody'>
                <%= render 'social_community/refer_friends/forms/refer_form', { refer: refer, url: social_community_refer_friends_create_new_refer_request_path }%>
              </div>
            <% else %>
              <p style="text-align: center; text-transform: uppercase;"><%= t('page.coming_soon') %></p>
            <% end %>
          </div>
          <div class="modal-footer text-right" style="background-color: #D7DFE9">
            <% if !Rails.env.production? %>
              <span data-dissmiss='modal'>
                <input type="submit" id="submit_refer_friend_btn" form="student_refer_friend_form" class="btn btn-primary btn-embossed bg-5DC2A7 text-uppercase" value='Giới thiệu'>
              </span>
            <% end %>
            <button type="button" id="close_refer_form" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag('social_community/refer_friends') %>
<% end %>
