<%= render 'contest/partials/header', { contest: @contest, transparent: 'is-transparent' } %>
<div class="c-pano" style="background-image:url('/contest/upload/pano_1.jpg');">
  <div class="c-pano__caption">
    <div class="container">
      <div class="c-pano__title">Bảng vàng vinh danh</div>
      <!--<div class="c-pano__desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry</div> -->
    </div>
  </div>
</div>
<div class="c-block bg-border">
  <div class="container">
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Sản phẩm</span>Đạt giải tháng</div>
        <div class="c-box__title__shadow">Winners</div>
      </div>
      <div class="c-box__content">
        <div class="c-template-slider is-margin-minus is-button-circle c-award-slider">
          <div class="owl-carousel js-award-slider">
            <% @month_details.each do |k, project| %>
              <div class="c-award-item certificate-item" data-project='<%= project['id'] %>'>
                <%= render 'contest/contest_projects/partials/month_project', { project: project, contest: @contest } %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="c-block" id='prize_week_projects'>
</div>
<%= render "contest/partials/footer", contest: @contest %>
<script>
  function getAwardContent(){
    $.ajax({
      method: "GET",
      url: "/contest/contests/week_award_content?contest_id=<%= @contest.id %>",
      dataType: 'script'
    })   
  }


$(document).ready(function(){
  getAwardContent();

  //html2canvas(document.querySelector("#capture")).then(canvas => {
  //  var link = document.createElement("a");
  //  document.body.appendChild(link);
  //  link.download = "certificate";
  //  link.href = canvas.toDataURL();
  //  link.target = '_blank';
  //  link.click();
  //});
  //$(document).on('click', '.download-certificate', function(){
  //  id = $(this).data('project');
  //  html2canvas(document.querySelector(`#contest-certificate-${ id }`)).then(canvas => {
  //    document.body.appendChild(canvas)
  //    var link = document.createElement("a");
  //    document.body.appendChild(link);
  //    link.download = "certificate";
  //    link.href = canvas.toDataURL();
  //    link.target = '_blank';
  //    link.click();
  //  });
  //})
  $('.certificate-item').each(function (index, value) {
    id = $(this).data('project');
    html2canvas($(this)[0]).then(canvas => {
      var link = document.createElement("a");
      document.body.appendChild(link);
      link.download = "certificate";
      link.href = canvas.toDataURL();
      link.id = `link-download-certificate-${ id }`;
      link.target = '_blank';
    });
  });

  $(document).on('click', '.download-certificate', function(){
    project_id = $(this).data('project');
    $(`a#link-download-certificate-${ project_id }`).click();
  })
})
</script>
