<%= javascript_include_tag 'contest/index.js' %>
<% submit_url = logged_in? ? "/contest/#{ @contest.id}/new_project" : "/user/login?contest=#{ @contest.id }"%>
<input name="contest_id" type="hidden" value="<%= @contest.id %>" >
<div class="l-nav is-transparent">
  <div class="container is-full">
    <div class="c-header-inner">
      <button class="c-menu-expand js-menu-expand" type="button"><span></span></button>
      <div class="c-logo"><a href="index.html"><img src="/contest/images/logo.svg" alt="logo"></a></div>
      <div class="c-menu">
        <ul>
          <li class="active"><a href="index.html">Trang chủ</a></li>
          <li><a href="#contest_rule">Thể lệ</a></li>
          <li><a href="award.html">Bảng vàng</a></li>
          <li><a href="product.html">Sản phẩm dự thi</a></li>
        </ul>
      </div>
      <div class="c-hotline">
        <div class="c-hotline__current"><i class="icon16-calling"></i><span class="c-hotline__text">Hotline</span></div>
        <div class="c-dropdown-menu is-center">
          <ul>
            <li><a href="tel:+842471096668">Miền Bắc<b class="float-right">+8424-7109-6668</b></a></li>
            <li><a href="tel:+842471096668">Miền Nam<b class="float-right">+8428-710-99948</b></a></li>
            <li><a href="tel:+842471096668">Email<b class="float-right">contact@teky.edu.vn</b></a></li>
          </ul>
        </div>
      </div><a class="btn-push" href="<%= submit_url %>"><i class="icon16-/contest/upload"></i><span class="btn-push__text">Nộp bài dự thi</span></a>
    </div>
  </div>
  <!--end container-->
</div>
<!--end l-nav-->
<!--Content page part-->
<%= render 'contest/contests/partials/index_slide', { submit_url: submit_url } %>
<!--end c-slider-->
<%= render 'contest/contests/partials/contest_description' %>
<!--end c-block-->
<div id='contest_rule'>
  <%= render 'contest/contests/partials/contest_rule' %>
</div>
<!--end c-block-->
<%= render 'contest/contests/partials/contest_prizes', { month_prize: @month_prize, week_prize: @prize } %>
<!--end c-block-->
<%= render 'contest/contests/partials/contest_topic_list',{ month_topics: [ @result[:last_month_topics], @result[:current_month_topic], @result[:next_month_topic]], active_topic: @result[:active_topic], active_topic_index: @result[:active_topic_index] } %>
<!--end c-block-->
<div id="contest-leader-board">
  <%#= render 'contest/contests/partials/leader_board' %>
</div>
<!--end c-yellow-board-block-->
<div class="c-block bg-gradient-2 c-product-block">
  <div class="container is-medium">
    <div class="c-box is-middle" id="contest_month_prize">
    </div>
    <!-- c-box-->
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Bảng xếp hạng</span>Tuần này</div>
        <div class="c-box__title__shadow">Leader</div>
      </div>
      <div class="c-box__desc"><b>TOP 20</b>
        sản phẩm được ưa thích trong
        <b>tuần <%= get_week_of_month Time.now %></b>
        tháng <%= Time.now.strftime('%m/%Y') %>
      </div>
      <div id="current-week-projects">
      </div>
    </div>
    <!-- c-box-->
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Sản phẩm</span>Đạt giải tuần trước</div>
        <div class="c-box__title__shadow">Winers</div>
      </div>
      <div class="c-box__desc">
        Các sản phẩm được ưa thích trong
        <b>tuần <%= get_week_of_month (Time.now - 1.week) %></b>
        tháng <%= (Time.now - 1.week).strftime("%m/%Y") %>
      </div>
      <div id="last-week-projects">
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
</div>
<!--end c-block-->
<!--end c-block-->
<%= render 'contest/contests/partials/event_info' %>
<!--Footer part-->
<!--l-footer-->
<div class="l-footer">
  <div class="container">
    <div class="c-footer-main">
      <div class="c-footer-top">
        <div class="c-footer-logo"><a href="index.html"><img src="/contest/images/logo.svg" alt="logo"></a></div>
        <div class="c-footer-social"><a href="#"><i class="icon24-facebook"></i></a><a href="#"><i class="icon24-youtube"></i></a></div>
      </div>
      <div class="c-footer-center">
        <div class="row">
          <div class="col-md-4">
            <div class="c-footer-label">Học viện Teky</div>
            <div class="c-footer-content">
              <div class="b-maincontent">
                <p>Toà nhà Mac Plaza, Số 10 Trần Phú</p>
                <p>Mộ Lao, Hà Đông, Hà Nội</p><br>
                <p>Miền Bắc: 024 7109 6668</p>
                <p>Miền Nam: 028 710 99948</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Thông tin chung</div>
            <div class="c-footer-content">
              <div class="c-footer-list">
                <ul>
                  <li><a href="#">Teky.edu.vn</a></li>
                  <li><a href="#">Trang chủ</a></li>
                  <li><a href="#">Về chúng tôi</a></li>
                  <li><a href="#">Thể lệ</a></li>
                  <li><a href="#">Sản phẩm dự thi</a></li>
                  <li><a href="#">Liên hệ</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="c-footer-label">Đăng ký nhận tin</div>
            <div class="c-footer-content">
              <div class="c-footer-text">Subsbribe us to get news and updates directy to your inbox.</div>
              <div class="c-footer-email">
                <div class="input-group">
                  <input class="form-control" type="text" placeholder="Email của bạn">
                  <div class="input-group-append">
                    <button class="btn btn-light" type="button"><i class="icon-long-arrow-right"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-copyright">© 2020 All Rights Reserved By TEKY Academy.</div>
  </div>
  <!--end container-->
</div>
<script>
  $(window).on("load", function (e) {
    if( $('.c-road-slider').length > 0 && $('.c-calender-slider').length > 0 ) {
      //this is number of month active slider theme slider, please fill code
      var numberActive = <%= Time.now.month %>;
      var calendarOwl = $('#calendar-slider-id');
      var roadOwl = $('#road-slider-id');
      if( numberActive !== '' && numberActive !== 0 && numberActive !== null ){
        var itemActive = $(".c-calendar-item[data-month='" + numberActive + "']");
        console.log(itemActive);
        var startMonth = itemActive.attr('data-number');
        roadOwl.trigger('to.owl.carousel', startMonth - 1);
        calendarOwl.trigger('to.owl.carousel', startMonth - 1);
      }
    }
  });

</script>
