<% if @topic.blank? %>
  <h3>Cuộc thi chưa diễn ra</h3>
<% else %>
<%= javascript_include_tag 'contest/index.js' %>
<input name="contest_id" type="hidden" value="<%= @contest.id %>" >
<%= render 'contest/partials/header', { contest: @contest, transparent: 'is-transparent', active: 'home' } %>
<!--end l-nav-->
<!--Content page part-->
<% submit_url = logged_in? ? "/contest/#{ @contest.alias_name}/new_project" : "/user/login?contest=#{ @contest.alias_name }"%>
<%= render 'contest/contests/partials/index_slide', { submit_url: submit_url } %>
<!--end c-slider-->
<%= render 'contest/contests/partials/contest_description' %>
<!--end c-block-->
<div id='contest_rule'>
  <%= render 'contest/contests/partials/contest_rule' %>
</div>
<!--end c-block-->
<%= render 'contest/contests/partials/contest_prizes', { month_prize: @month_prize, week_prize: @prize } %>
<!--end c-block-->
<%= render 'contest/contests/partials/contest_topic_list',{ month_topics: [ @result[:last_month_topics], @result[:current_month_topics], @result[:next_month_topics]], active_topic: @result[:active_topic], active_topic_index: @result[:active_topic_index] } %>
<!--end c-block-->
<div id="contest-leader-board">
  <%#= render 'contest/contests/partials/leader_board' %>
</div>
<!--end c-yellow-board-block-->
<div class="c-block bg-gradient-2 c-product-block">
  <div class="container is-medium">
    <div class="c-box is-middle" id="contest_month_prize">
    </div>
    <!-- c-box-->
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Bảng xếp hạng</span>Tuần này</div>
        <div class="c-box__title__shadow">Leader</div>
      </div>
      <div class="c-box__desc"><b>TOP 20</b>
        sản phẩm được ưa thích trong
        <b>tuần <%= get_week_of_month Time.now %></b>
        tháng <%= Time.now.strftime('%m/%Y') %>
      </div>
      <div id="current-week-projects">
      </div>
    </div>
    <!-- c-box-->
    <div class="c-box is-middle">
      <div class="c-box__title">
        <div class="c-box__title__name"><span>Sản phẩm</span>Đạt giải tuần trước</div>
        <div class="c-box__title__shadow">Winers</div>
      </div>
      <div class="c-box__desc">
        Các sản phẩm được ưa thích trong
        <b>tuần <%= get_week_of_month (Time.now - 1.week) %></b>
        tháng <%= (Time.now - 1.week).strftime("%m/%Y") %>
      </div>
      <div id="last-week-projects">
      </div>
    </div>
    <!-- c-box-->
  </div>
  <!--end container-->
</div>
<!--end c-block-->
<!--end c-block-->
<%= render 'contest/contests/partials/event_info' %>
<!--Footer part-->
<!--l-footer-->
<%= render "contest/partials/footer", contest: @contest %>
<script>
  $(window).on("load", function (e) {
    if( $('.c-road-slider').length > 0 && $('.c-calender-slider').length > 0 ) {
      //this is number of month active slider theme slider, please fill code
      var numberActive = <%= Time.now.month - 1 %>;
      var calendarOwl = $('#calendar-slider-id');
      var roadOwl = $('#road-slider-id');
      if( numberActive !== '' && numberActive !== 0 && numberActive !== null ){
        var itemActive = $(".c-calendar-item[data-month='" + numberActive + "']");
        console.log(itemActive);
        var startMonth = itemActive.attr('data-number');
        roadOwl.trigger('to.owl.carousel', startMonth - 1);
        calendarOwl.trigger('to.owl.carousel', startMonth - 1);
      }
    }
  });

</script>
<% end %>
