<% project = SocialCommunity::ScStudentProject.new %>
<% url = '/contest/contest_projects/submit_contest_project' %>
<div class="page-content page-thin">
  <div class="panel panel-edits bg-232837">
    <div class="panel-heading">
      <div class="ph-text">
        <h4><%= t('Contest.Products.Attendance products') %> <%= @contest.name %>, <%= t('Contest.Topic.sort_name') %> <%= @topic.name %></h4>
      </div>
    </div>
  </div>
  <div class="panel m-t--70">
    <div class="panel-content">
      <%= render 'contest/contests/partials/upload_new_contest_project', project: project, url: url, contest: @contest, topic: @topic %>
      <div style="display: flex;">
      <input type='submit' data-remote='true' style="margin-left: auto; margin-top: 30px; text-transform: uppercase; font-weight: 600" form='edit_student_project_form' class='btn btn-primary btn-embossed bg-5DC2A7 edit_student_project_form_submit' value='Nộp bài dự thi'>
      </div>
    </div>
  </div>
</div>
